[Desktop Entry]
Encoding=UTF-8
Name=PupDial
Icon=/usr/local/lib/X11/mini-icons/pupdial.xpm
Comment=Dialup/GPRS Internet dialer
Exec=pupdial
Terminal=false
Type=Application
Categories=X-Network-phone
GenericName=Dialup/GPRS Internet dialer
NoDisplay=true
