[Desktop Entry]
Encoding=UTF-8
Name=Xlock
Icon=/usr/share/pixmaps/puppy/screen_lock.svg
Comment=Lock screen
Comment[fr]= Verrou d'écran
Exec=puplock -locknow
Terminal=false
Type=Application
Categories=Security
GenericName=Screen locker
