[Desktop Entry]
Encoding=UTF-8
Name=Xlock setup
Icon=/usr/share/pixmaps/puppy/screen_lock.svg
Comment=Configure Xlock screen locking
Comment[fr]=Configurer le verrou d'écran
Exec=/usr/local/apps/Xlock/AppRun -configure
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Xlock setup
