[Desktop Entry]
Encoding=UTF-8
Name=Xlock lock screen
Name[fr]= Verrou d'écran Xlock
Icon=/usr/share/pixmaps/puppy/screen_lock.svg
Comment=Xlock lock screen
Exec=/usr/local/apps/Xlock/AppRun -locknow
Terminal=false
Type=Application
Categories=Security
GenericName=Xlock lock screen
