[Desktop Entry]
Encoding=UTF-8
Name=Configure Xlock screen locking
Name[fr]=Configurer le verrou d'écran Xlock
Icon=/usr/share/pixmaps/puppy/screen_lock.svg
Comment=Xlock setup
Exec=/usr/local/apps/Xlock/AppRun -configure
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Xlock setup
