[Desktop Entry]
Encoding=UTF-8
Name=Xconsole monitor console
Icon=mini-sh1.xpm
Comment=Xconsole monitor console /dev/console
Exec=xconsole -verbose
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Xconsole
