[Desktop Entry]
Encoding=UTF-8
Name=Xorg Video Wizard
Icon=wizard16.xpm
Comment=Xorg Video Wizard
Exec=xorgwizard
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=Xorg Video Wizard
