[Desktop Entry]
Encoding=UTF-8
Name=Xsane image scanner
Icon=scanner16.xpm
Comment=Xsane image scanner
Exec=xsaneshell
Terminal=false
Type=Application
Categories=X-Graphic-scanner
GenericName=Xsane image scanner
