[Desktop Entry]
Encoding=UTF-8
Name=Xsane image scanner
Icon=/usr/share/pixmaps/puppy/scanner.svg
Comment=Xsane image scanner
Exec=xsaneshell
Terminal=false
Type=Application
Categories=X-Graphic-scanner
GenericName=Xsane image scanner
