[Desktop Entry]
Encoding=UTF-8
Name=Firefox ESR
Comment=Firefox web browser
Exec=/usr/bin/firefox_esr
Icon=/usr/share/pixmaps/firefox_esr.png
Type=Application
Terminal=false
Categories=X-Internet-browser;
