
insmod part_acorn
insmod part_amiga
insmod part_apple
insmod part_bsd
insmod part_dfly
insmod part_dvh
insmod part_gpt
insmod part_msdos
insmod part_plan
insmod part_sun
insmod part_sunpc

loadfont /boot/grub/font.pf2
set gfxmode=800x600
set gfxpayload=keep

insmod efi_gop
insmod efi_uga

insmod all_video
insmod video_bochs
insmod video_cirrus
insmod gfxterm
insmod png
insmod jpeg
terminal_output gfxterm

insmod ext2
insmod f2fs
insmod ntfs
insmod exfat

insmod loopback
insmod iso9660
insmod udf

background_image /splash.png
set timeout=10

# https://help.ubuntu.com/community/Grub2/Displays
color_normal=cyan/black
#menu_color_highlight=black/light-gray
menu_color_highlight=yellow/red
menu_color_normal=light-gray/black

menuentry "#distrodesc#" {
    linux /vmlinuz pfix=fsck pmedia=cd
    initrd /initrd.gz
}

menuentry "#distrodesc# - Copy SFS files to RAM" {
    linux /vmlinuz pfix=copy,fsck pmedia=cd
    initrd /initrd.gz
}

menuentry "#distrodesc# - Don't copy SFS files to RAM" {
    linux /vmlinuz pfix=nocopy,fsck pmedia=cd
    initrd /initrd.gz
}

menuentry "#distrodesc# - RAM only" {
    linux /vmlinuz pfix=ram,fsck pmedia=cd
    initrd /initrd.gz
}

menuentry "#distrodesc# - No X" {
    linux /vmlinuz pfix=nox,fsck pmedia=cd
    initrd /initrd.gz
}

menuentry "#distrodesc# - No KMS (Kernel modesetting)" {
    linux /vmlinuz nomodeset pfix=fsck pmedia=cd
    initrd /initrd.gz
}

menuentry "#distrodesc# - Ram Disk SHell" {
    linux /vmlinuz pfix=rdsh pmedia=cd
    initrd /initrd.gz
}

menuentry "Shutdown" {
	halt
}

menuentry "Reboot" {
	reboot
}
