[Desktop Entry]
Encoding=UTF-8
Name=PGPRS Setup
Name[ru]=PGPRS Настройка
Icon=mini-connect.xpm
Comment=Puppy GPRS Setup
Exec=pgprs-setup
Terminal=false
Type=Application
Categories=Dialup
GenericName=Puppy GPRS Setup
