[Desktop Entry]
Encoding=UTF-8
Name=PGPRS Connect
Name[ru]=PGPRS Подключить
Icon=mini-connect.xpm
Comment=Connect via GPRS modem
Exec=rxvt -title "pgprs-connect PRESS CTRL+C TO DISCONNECT" -e pgprs-connect
Terminal=false
Type=Application
Categories=Dialup
GenericName=Connect via GPRS modem
