[Desktop Entry]
Encoding=UTF-8
Name=Gdmap graphical disk usage
Icon=gdmap.xpm
Comment=Gdmap graphical disk usage
Exec=gdmap
Terminal=false
Type=Application
Categories=X-FilesystemUtility
GenericName=Gdmap
