[Desktop Entry]
Encoding=UTF-8
Name=pNote - desktop notepad
Icon=/usr/share/pixmaps/puppy/notes.svg
Comment=pNote - desktop notepad
Exec=pnote
Terminal=false
Type=Application
Categories=X-Personal
GenericName=pNote - desktop notepad
NoDisplay=true
