[Desktop Entry]
Encoding=UTF-8
Name=Gcolor2 color chooser
Icon=gcolor2.png
Comment=color chooser and picker
Exec=gcolor2
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=Gcolor2
