[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce Window Manager Settings
Comment=Window Manager Settings
Exec=xfce-setting-show xfwm4
Icon=xfwm4
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Window Manager Settings
