[Desktop Entry]
Encoding=UTF-8
Name=Conky GTK
Icon=/usr/share/icons/conky.png
Comment=configure conky
Exec=conky-gtk
Terminal=false
Type=Application
Categories=Desktop
GenericName=Conky GTK configure conky
