[Desktop Entry]
Encoding=UTF-8
Name=Nathan Wallpaper Setter
Icon=wallpaper.png
Comment=Set backdrop image
Exec=wallpaper
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Wallpaper setter
