# $Id: helpers.rc 19686 2006-01-31 11:22:29Z benny $
#
# Default helpers.rc for Xfce's Preferred Applications
#
# Copyright (c) 2005-2006 Benedikt Meurer <benny@xfce.org>
#

WebBrowser=mozilla-browser
MailReader=mozilla-mail
TerminalEmulator=urxvt
