sgmltag {
	display:inline
	}
anchor {
	display:inline
	}
mousebutton {
	display:inline
	}
guilabel {
	display:inline;
	color:rgb(123, 53, 192)
	}
procedure > title {
	font-weight:bold;
	font-size:larger
	}
screenshot {
	margin-left:20pt;
	margin-right:20pt;
	margin-top:20pt;
	margin-bottom:20pt
	}
graphic {}
copy {
	display:inline
	}
firstname + surname:before {
	content:" "
	}
application {
	display:inline
	}
guibutton {
	display:inline;
	font-style:italic
	}
sgmltag[class=element]:after {
	content:">"
	}
sgmltag[class=element]:before {
	content:"<"
	}
step {
	margin-top:8pt;
	list-style-type:decimal;
	display:list-item
	}
procedure, substeps {
	margin-left:25pt;
	list-style-type:decimal;
	margin-top:8pt
	}
glossentry > glossterm {
	background-color:inherit;
	color:red
	}
glossdef {
	margin-left:14pt
	}
question > para, answer > para {
	margin-left:8pt
	}
glossterm {
	display:inline;
	background-color:lime
	}
guisubmenu:before {
	content:"->"
	}
guisubmenu {
	display:inline
	}
tip:before {
	content:"Tip:";
	font-style:italic;
	font-weight:bold;
	color:navy
	}
tip {
	display:inherit;
	border-left-style:solid;
	border-left-width:1pt;
	border-right-width:1pt;
	border-top-width:1pt;
	border-bottom-width:1pt;
	border-left-color:navy;
	border-right-color:navy;
	border-top-color:navy;
	border-bottom-color:navy;
	padding-left:3pt
	}
chapter {
	font-family:serif;
	font-size:12pt
	}
refname {
	display:inline
	}
guimenu {
	display:inline
	}
guimenuitem {
	display:inline
	}
menuchoice {
	display:inline
	}
shortcut {
	display:inline
	}
keycombo {
	display:inline
	}
primary {
	display:inline
	}
indexterm {
	display:inline;
	background-color:yellow
	}
* {
	display:block;
	white-space:normal;
	font-family:serif;
	font-size:12pt
	}
*[revisionflag="added"] {
	background-color:rgb(255, 255, 153)
	}
*[revisionflag="changed"] {
	background-color:rgb(255, 153, 51)
	}
*[revisionflag="deleted"] {
	background-color:teal
	}
*[revisionflag="off"] {
	background-color:green
	}
holder:before {
	content:" by "
	}
keycap + keycap:before {
	content:"-"
	}
accel {
	text-decoration:underline;
	display:inline
	}
refnamediv {
	margin-top:8pt;
	font-size:x-large
	}
refpurpose:before {
	content:" - "
	}
refpurpose {
	display:inline
	}
refsect1 > title {
	font-size:larger;
	font-weight:bolder;
	margin-top:6pt
	}
shortcut:after {
	content:") "
	}
shortcut:before {
	content:"("
	}
guimenuitem:before {
	content:"->"
	}
keycap {
	border-left-width:thin;
	border-right-width:thin;
	border-top-width:thin;
	border-bottom-width:thin;
	border-left-color:silver;
	border-right-color:silver;
	border-top-color:silver;
	border-bottom-color:silver;
	border-right-style:solid;
	border-left-style:solid;
	border-top-style:solid;
	border-bottom-style:solid;
	display:inline
	}
book {
	display:block;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	background-color:white
	}
screen {
	display:block;
	font-family:monospace;
	white-space:pre
	}
qandadiv > title {
	font-size:18pt;
	color:navy
	}
question:before {
	content:" Q\:\  "
	}
answer:before {
	content:" A\:\  "
	}
answer {
	display:block
	}
member {
	padding-left:inherit;
	display:list-item;
	margin-left:13pt
	}
simplelist {
	display:block;
	list-style-type:disc
	}
bookinfo, articleinfo {
	border-right-style:dotted;
	border-left-style:dotted;
	border-top-style:dotted;
	border-bottom-style:dotted;
	padding-left:4pt;
	padding-right:4pt;
	padding-top:4pt;
	padding-bottom:4pt;
	margin-bottom:20pt
	}
copyright:before {
	content:"Copyright\  "
	}
year + year:before {
	content:"\,\  "
	}
corpauthor:before {
	content:"Written\ by\  "
	}
book > title {
	font-size:xx-large;
	color:teal;
	text-align:center
	}
chapter > title, reference > title {
	color:rgb(0, 153, 153);
	font-size:24pt
	}
author:before {
	content:"by\: "
	}
@media morphon {
	abstract {
		follow-up:"section"
		}
	section {
		follow-up:"section"
		}
	graphic {
		plugin-view:"com.morphon.visualplugins.docbook.DocBook_ImageData"
		}
	xref {
		attribute-list:"linkend"
		}
	imagedata[format=GIF] {
		plugin-view:"com.morphon.visualplugins.docbook.DocBook_ImageData"
		}
	audiodata {
		plugin-view:"com.morphon.visualplugins.docbook.DocBook_AudioData"
		}

	}
table > title {
	font-size:14pt;
	font-style:italic
	}
legalnotice > title {
	font-style:italic;
	font-size:14pt
	}
figure > title {
	font-style:italic;
	font-size:14pt
	}
example > title {
	font-style:italic;
	font-size:14pt
	}
blockquote > title {
	font-style:italic;
	font-size:14pt
	}
bibliomset > title {
	font-style:italic;
	font-size:14pt
	}
authorblurb > title {
	font-style:italic;
	font-size:14pt
	}
epigraph > para {
	text-align:right
	}
affiliation {
	display:block;
	text-align:right;
	font-size:16pt
	}
epigraph {
	margin-left:74pt;
	margin-right:74pt;
	text-align:left;
	white-space:pre;
	margin-top:12pt;
	margin-bottom:12pt
	}
attribution {
	font-style:italic;
	display:block;
	margin-bottom:12pt
	}
quote:before {
	content:"\""
	}
quote:after {
	content:"\""
	}
varlistentry > listitem {
	margin-left:37pt
	}
subtitle {
	font-style:italic;
	color:rgb(0, 0, 0)
	}
title {
	display:block
	}
abstract > title {
	text-align:left;
	font-size:22pt;
	color:rgb(0, 153, 153);
	margin-bottom:6pt;
	font-weight:bold;
	font-style:italic;
	display:block
	}
abbrev {
	display:inline
	}
abstract {
	display:block;
	margin-bottom:0.2pt;
	padding-bottom:22.6;
	padding-top:10;
	padding-right:24.6;
	padding-left:18.1;
	border-left:17.5;
	border-right:19.3pt;
	border-top:17.5;
	border-bottom:17.5;
	border-bottom-width:17.6pt
	}
acronym {
	display:inline
	}
appendix {
	display:block
	}
article {
	display:block;
	margin-left:0.33333334in;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	text-indent:0pt
	}
audiodata {
	display:block
	}
audioobject {
	display:none
	}
author {
	display:block;
	font-style:italic;
	color:fushia;
	border-right-style:none;
	border-left-style:none;
	border-top-style:none;
	border-bottom-style:none;
	border-left-color:fushia;
	border-right-color:fushia;
	border-top-color:fushia;
	border-bottom-color:fushia
	}
authorgroup {
	display:inline
	}
authorinitials {
	display:inline;
	font-weight:bold
	}
bibliomisc {
	display:inline
	}
bibliomset {
	display:inline
	}
blockquote {
	display:block;
	margin-left:37pt;
	margin-right:37pt
	}
caption {
	display:block
	}
citetitle {
	display:inline;
	font-style:italic;
	text-transform:capitalize;
	text-decoration:underline
	}
colspec {
	display:none
	}
command {
	display:inline;
	font-style:italic
	}
computeroutput {
	display:inline;
	font-family:monospace
	}
copyright {
	display:block
	}
corpauthor {
	display:block
	}
date {
	display:inline
	}
appendixinfo {
	display:none
	}
edition {
	display:inline
	}
editor {
	display:inline
	}
email {
	display:inline;
	font-style:italic;
	text-decoration:underline;
	color:rgb(153, 0, 0)
	}
emphasis {
	display:inline;
	font-style:italic
	}
entry {
	display:table-cell
	}
example {
	display:block;
	border-left-style:solid;
	border-left-width:thin;
	margin-bottom:6pt;
	border-left-color:rgb(0, 153, 153)
	}
figure > mediaobject {
	display:block;
	border-top-style:solid;
	border-top-width:thin;
	border-top-color:rgb(0, 102, 102);
	border-bottom-color:rgb(0, 102, 102);
	border-bottom-style:solid;
	border-bottom-width:thin;
	border-left-color:rgb(0, 102, 102);
	border-left-style:solid;
	border-left-width:thin;
	border-right-color:rgb(0, 102, 102);
	border-right-style:solid;
	border-right-width:thin;
	padding-left:5pt;
	padding-right:5pt;
	padding-top:5pt;
	padding-bottom:5pt
	}
filename {
	display:inline;
	font-family:monospace;
	text-decoration:underline
	}
firstname {
	display:inline
	}
footnote {
	display:inline
	}
holder {
	display:inline
	}
honorific {
	display:inline
	}
imagedata[format=GIF] {
	display:inline
	}
informaltable {
	display:block
	}
inlinemediaobject {
	display:inline
	}
issuenum {
	display:inline
	}
itemizedlist {
	display:block;
	list-style-type:disc;
	margin-left:10pt
	}
keyword {
	display:inline
	}
keywordset {
	display:inline
	}
legalnotice {
	display:inline
	}
lineage {
	display:inline
	}
lineannotation {
	display:inline
	}
link {
	display:inline;
	color:rgb(0, 0, 255);
	text-decoration:underline
	}
listitem {
	display:list-item
	}
literal {
	display:inline;
	color:rgb(153, 0, 153)
	}
literallayout {
	display:inline;
	white-space:pre
	}
mediaobject {
	display:block
	}
note {
	display:block
	}
objectinfo {
	display:none
	}
option {
	display:inline
	}
orderedlist {
	display:block;
	list-style-type:decimal
	}
orderedlist > title {
	display:block;
	font-weight:bold
	}
othercredit {
	display:inline
	}
othername {
	display:inline
	}
para {
	display:block;
	margin-bottom:6pt
	}
phrase {
	display:inline
	}
programlisting {
	display:block;
	font-family:monospace;
	white-space:pre;
	background-color:silver
	}
pubdate {
	display:inline
	}
publishername {
	display:inline
	}
quote {
	display:inline
	}
replaceable {
	display:inline
	}
revhistory {
	display:inline
	}
revision {
	display:inline
	}
revnumber {
	display:inline
	}
revremark {
	display:inline
	}
row {
	display:table-row;
	}
section {
	display:block;
	margin-bottom:6pt;
	margin-top:6pt;
	margin-left:8pt;
	text-decoration:inherit
	}
sectioninfo {
	display:none
	}
sidebar {
	display:block;
	border-top-color:rgb(0, 153, 153);
	border-top-style:solid;
	border-top-width:thin;
	border-bottom-color:rgb(0, 153, 153);
	border-bottom-style:solid;
	border-bottom-width:thin;
	border-left-color:rgb(0, 153, 153);
	border-left-style:solid;
	border-left-width:thin;
	border-right-color:rgb(0, 153, 153);
	border-right-style:solid;
	border-right-width:thin
	}
article > subtitle {
	display:block;
	text-align:right;
	font-style:italic;
	font-size:20pt
	}
surname {
	display:inline
	}
systemitem {
	display:inline
	}
tbody {
	display:table-row-group;
	}
term {
	display:list-item;
	font-style:italic
	}
tgroup {
	display:table;
	}
thead {
	display:table-header-group;
	}
tfoot {
	display:table-footer-group;
	}
article > title, articleinfo > title, book > title {
	display:block;
	text-align:center;
	font-size:26pt;
	color:rgb(255, 255, 255);
	font-weight:bold;
	background-color:rgb(16, 216, 176);
	font-style:  roman;
	border-top-width:thick;
	border-top-style:solid;
	border-bottom-color:rgb(0, 0, 0);
	border-bottom-style:solid;
	border-bottom-width:thick;
	border-left-color:rgb(0, 0, 0);
	border-left-style:solid;
	border-left-width:thick;
	border-right-color:rgb(0, 0, 0);
	border-right-style:solid;
	border-right-width:thick;
	margin-bottom:0pt;
	padding-bottom:0pt;
	border-top-color:rgb(51, 0, 51);
	margin-top:0pt;
	margin-left:0pt;
	margin-right:0pt
	}
section > title, glossary > title {
	font-size:24pt;
	display:block;
	text-align:left;
	color:rgb(0, 153, 153);
	margin-bottom:6pt;
	font-weight:bold;
	font-style:italic
	}
section > section > title {
	font-size:20pt;
	display:block;
	text-align:left;
	color:purple
	}
section > section > section > title {
	font-size:18pt;
	display:block;
	text-align:left
	}
section > section > section > section > title {
	font-size:16pt;
	display:block
	}
section > section > section > section > section > title {
	font-size:14pt;
	display:block
	}
section > section > section > section > section > section > title {
	font-size:12pt;
	display:block
	}
appendix > title {
	font-size:24pt;
	font-weight:bold;
	display:block;
	text-align:center;
	color:rgb(255, 255, 255);
	background-color:rgb(0, 153, 153);
	font-style:roman;
	border-top-color:rgb(0, 0, 0);
	border-top-style:solid;
	border-top-width:thin;
	border-bottom-color:rgb(0, 0, 0);
	border-bottom-style:solid;
	border-bottom-width:thin;
	border-left-color:rgb(0, 0, 0);
	border-left-style:solid;
	border-left-width: thin;
	border-right-color: rgb(0, 0, 0);
	border-right-style: solid;
	border-right-width: thin
	}
appendix > section > title {
	font-size:24pt;
	display:block
	}
appendix > section > section > title {
	font-size:20pt;
	font-weight:bold;
	display:block
	}
appendix > section > section > section > title {
	font-size:18pt;
	font-weight:bold;
	display:block
	}
appendix > section > section > section > section > title {
	font-size:16pt;
	font-weight:bold;
	display:block
	}
appendix > section > section > section > section > section > title {
	font-size:14pt;
	display:block;
	font-weight:bold
	}
titleabbrev {
	display:none
	}
trademark {
	display:inline
	}
ulink {
	display:inline;
	color:rgb(0, 0, 255);
	text-decoration:underline
	}
userinput {
	display:inline
	}
variablelist {
	display:block
	}
varlistentry {
	display:list-item
	}
videodata {
	display:inline
	}
videoobject {
	display:inline
	}
volumenum {
	display:inline
	}
xref {
	display:none
	}
year {
	display:inline
	}
