[Desktop Entry]
Encoding=UTF-8
Name=GetFlash - install Flashplayer
Name[fr]=GetFlash - installer Flashplayer
Icon=/usr/share/icons/flash-player-properties.png
Comment=GetFlash - install Flashplayer
Comment[fr]=GetFlash - installer Flashplayer
Exec=getflash
Terminal=false
Type=Application
Categories=X-Internet
GenericName=install Flashplayer
