#!/bin/sh

. /etc/rc.d/BOOTCONFIG
. /etc/rc.d/PUPSTATE
. /etc/DISTRO_SPECS

[ "$PUNIONFS" != "overlay" ] && exit 1

export TEXTDOMAIN=sfs_load
export OUTPUT_CHARSET=UTF-8

queue() {
	. /etc/rc.d/BOOTCONFIG
	cat << EOF > /etc/rc.d/BOOTCONFIG.tmp
EXTRASFSLIST='`echo "$EXTRASFSLIST $1" | tr ' ' '\n' | sort | uniq | tr '\n' ' ' | sed -e 's/^ //' -e 's/ $//'`'
PREVUNIONRECORD='$PREVUNIONRECORD'
LASTUNIONRECORD='$LASTUNIONRECORD'
EOF
	mv -f /etc/rc.d/BOOTCONFIG.tmp /etc/rc.d/BOOTCONFIG
}

unqueue() {
	. /etc/rc.d/BOOTCONFIG
	cat << EOF > /etc/rc.d/BOOTCONFIG.tmp
EXTRASFSLIST='`echo "$EXTRASFSLIST $1" | tr ' ' '\n' | sort | uniq | grep -Fv $1 | tr '\n' ' ' | sed -e 's/^ //' -e 's/ $//'`'
PREVUNIONRECORD='$PREVUNIONRECORD'
LASTUNIONRECORD='$LASTUNIONRECORD'
EOF
	mv -f /etc/rc.d/BOOTCONFIG.tmp /etc/rc.d/BOOTCONFIG
}

if [ $# -ne 0 ]; then
	for SFS in "$@"; do
		ASKMOUNT=1
		# assumption: if we have a loop device associated with this SFS, it's mounted or loaded
		LOOPDEV="`losetup -n -j "$SFS" | head -n 1 | cut -f 1 -d :`"

		# TODO: add PUPMODE 12 support, without leaving broken symlinks behind after reboot
		if [ $PUPMODE -eq 5 -o $PUPMODE -eq 13 ] && [ -z "$LOOPDEV" ]; then
			yad --title sfs_load --window-icon=dialog-question --image=dialog-question --text "$(gettext "Do you want to load") ${SFS}?" --form --button="gtk-yes:0" --button="gtk-no:1"
			if [ $? -eq 0 ]; then
				FOUND=0
				for i in `seq 3 99`
				do
					MNT="/initrd/pup_ro$i"
					mountpoint -q "$MNT" && continue
					FOUND=1
					break
				done
				[ $FOUND -eq 0 ] && exit 1

				mkdir -p "$MNT" || continue
				mount -r -t squashfs -o loop,noatime "$SFS" "$MNT"
				if [ $? -ne 0 ]; then
					rmdir "$MNT"
					continue
				fi
				ASKMOUNT=0

				yaf-splash -bg orange -placement top -close never -text "$(gettext Loading) ${SFS##*/}" &
				PID=$!

				# mirror the SFS directory tree in /, then create
				# symlinks for everything else
				while read ABSPATH; do
					RELPATH=${ABSPATH#$MNT}
					[ -z "$RELPATH" -o -e "$RELPATH" ] && continue
					if [ -d "$ABSPATH" -a ! -L "$ABSPATH" ]; then
						mkdir "$RELPATH"
					else
						ln -s "$ABSPATH" "$RELPATH"
					fi
					chown-FULL -h --reference "$ABSPATH" "$RELPATH"
					touch -h --reference "$ABSPATH" "$RELPATH"
				done < <(find "$MNT" | sort)

				if [ -e "$MNT/usr/share/applications" -o -e "$MNT/usr/local/share/applications" ]; then
					fixmenus
					pidof -s jwm && jwm -reload
				fi

				kill $PID
			fi
		elif [ -n "$LOOPDEV" ]; then
			yad --title sfs_load --window-icon=dialog-question --image=dialog-question --text "$(gettext "Do you want to unload") ${SFS}?" --form --button="gtk-yes:0" --button="gtk-no:1"
			if [ $? -eq 0 ]; then
				MNT="`grep "^$LOOPDEV " /proc/mounts 2>/dev/null | head -n 1 | cut -f 2 -d ' '`"
				if [ -n "$MNT" ]; then
					yaf-splash -bg orange -placement top -close never -text "$(gettext Unloading) ${SFS##*/}" &
					PID=$!
					while read ABSPATH; do
						RELPATH=${ABSPATH#$MNT}
						[ -z "$RELPATH" -o ! -L "$RELPATH" ] && continue
						[ "`readlink "$RELPATH" 2>/dev/null`" = "$ABSPATH" ] && rm -f "$RELPATH"
					done < <(find "$MNT")
					NEEDFIXMENUS=0
					[ -e "$MNT/usr/share/applications" -o -e "$MNT/usr/local/share/applications" ] && NEEDFIXMENUS=1
					umount -l "$LOOPDEV"
					if [ $NEEDFIXMENUS -eq 1 ]; then
						fixmenus
						pidof -s jwm && jwm -reload
					fi
					kill $PID
				else
					losetup -d "$LOOPDEV"
				fi
			fi

			ASKMOUNT=0
		fi

		BASE="${SFS##*/}"

		SKIP=0
		case "$BASE" in
		$DISTRO_BDRVSFS|$DISTRO_PUPPYSFS|$DISTRO_ZDRVSFS|$DISTRO_FDRVSFS|$DISTRO_ADRVSFS|$DISTRO_YDRVSFS|kbuild-*.sfs) SKIP=1 ;;
		esac

		if [ $SKIP -eq 0 -a $PUPMODE -ne 5 ]; then
			QUEUED=0
			for QBASE in $EXTRASFSLIST; do
				[ "$BASE" != "$QBASE" ] && continue
				QUEUED=1
				break
			done

			if [ $QUEUED -eq 0 ]; then
				yad --title sfs_load --window-icon=dialog-question --image=dialog-question --text "$(gettext "Do you want to queue") ${SFS}?" --form --button="gtk-yes:0" --button="gtk-no:1"
				if [ $? -eq 0 ]; then
					DST="/initrd${PUP_HOME}${PSUBDIR}/${BASE}"
					if [ ! -e "$DST" -a ! -e "/initrd${PUP_HOME}/${BASE}" ]; then
						cp -f "$SFS" "$DST" || continue
					fi
					SFS="$DST"
					queue "$BASE"
				fi
			else
				yad --title sfs_load --window-icon=dialog-question --image=dialog-question --text "$(gettext "Do you want to unqueue") ${SFS}?" --form --button="gtk-yes:0" --button="gtk-no:1"
				[ $? -eq 0 ] && unqueue "$BASE"
			fi
		fi

		[ $ASKMOUNT -eq 0 ] && continue
		yad --title sfs_load --window-icon=dialog-question --image=dialog-question --text "$(gettext "Do you want to mount") ${SFS}?" --form --button="gtk-yes:0" --button="gtk-no:1"
		[ $? -ne 0 ] && continue
		MNT="/mnt/`echo "$BASE" | tr '/ ' '+_'`"
		mkdir -p "$MNT"
		mountpoint -q "$MNT"
		if [ $? -ne 0 ]; then
			mount -r -t squashfs -o loop,noatime "$SFS" "$MNT" || continue
		fi

		defaultfilemanager "$MNT" &
	done

	exit 0
fi

export -f queue unqueue

if [ -z "$PUP_HOME" ]; then
	SFS_DIRS="/initrd/mnt/pdrv"
else
	SFS_DIRS="/initrd${PUP_HOME}"
	[ -n "$PSUBDIR" ] && SFS_DIRS="$SFS_DIRS /initrd${PUP_HOME}${PSUBDIR}"
fi

BUTTONS=""
KBUILDSFS="kbuild-`uname -r`.sfs"
for SFS in `find $SFS_DIRS -maxdepth 1 -name '*.sfs' -printf '%f\n' | sort | uniq`; do
	case "$SFS" in
	$DISTRO_BDRVSFS|$DISTRO_PUPPYSFS|$DISTRO_ZDRVSFS|$DISTRO_FDRVSFS|$DISTRO_ADRVSFS|$DISTRO_YDRVSFS|$KBUILDSFS)
		BUTTONS="<togglebutton><label>$SFS</label><default>true</default><sensitive>false</sensitive></togglebutton>$BUTTONS"
		continue
		;;
	esac

	DEF=false
	for BASE in $EXTRASFSLIST; do
		[ "$BASE" != "$SFS" ] && continue
		DEF=true
		break
	done

	BUTTONS="$BUTTONS<togglebutton><label>$SFS</label><default>$DEF</default><action>if true queue \"$SFS\"</action><action>if false unqueue \"$SFS\"</action></togglebutton>"
done

[ -z "$BUTTONS" ] && BUTTONS="<text><label>$(gettext 'Could not find any SFS to queue.')</label></text>"

export DIALOG='<window title="SFS-Load" default_width="400">
	<vbox space-expand="true" space-fill="true">
		'`/usr/lib/gtkdialog/xml_info fixed package_sfs.svg 20 "$(gettext "Which SFS do you want to load?")"`'
		<vbox scrollable="true" height="400">
		'$BUTTONS'
		</vbox>
	</vbox>
</window>'

exec gtkdialog -p DIALOG