[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=GWhere disk cataloger
Comment=GWhere allows to manage a database of your CDs
TryExec=gwhere
Exec=gwhere
Icon=gwhere.xpm
Terminal=false
Type=Application
Categories=X-FilesystemFind
GenericName=GWhere
