@charset "utf-8";
.flash-notice {
	display:table;
}
.flash-notice > * {
	display:table-cell;
	vertical-align:middle;
}
.flash-notice > a:first-child {
	float:left;
	margin-right:8px;
}
.flash-btn {
	width:72px;
	height:72px;
	text-align:center;
	background-color:#db2e23;
	border-radius:4px;
	outline:none;
}
.flash-btn:hover {
	background-color:#ed573f;
}
.flash-btn:active {
	background-color:#a72218;
}
.flash-btn > img {
	width:48px;
	height:60px;
	margin-top:6px;
}