@charset "utf-8";
#lead {
	font-size:24px;
	display:table;
}
#lead-text {
	display:table-cell;
	float:left;
	margin-right:16px;
}
#connect-howto {
	display:table-cell;
	max-width:25%;
	vertical-align:middle;
	font-size:10px;
	text-align:center;
}
#connect-howto > img {
	border:none;
	width:48px;
	height:48px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#jump-options {
	padding-left:0;
}
.jump-option {
	font-size:18px;
	display:table;
	margin:16px 0;
}
.jump-option > * {
	display:table-cell;
	vertical-align:middle;
}
.jump-option > a:first-child {
	float:left;
	margin-right:8px;
}
#local-help {
	border:1px solid #444;
	padding:8px;
}