@charset "utf-8";
/*
 CSS Document 
*/


body {
	
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	color: #444;
}


.site-title {
	font-size: 24px;
	color: #000000 !important;
}

p { line-height: 175%; }

.site-description {
	font-size: 14px;
	color: #000000 !important;
}

h4 {
	font-size: 13px;
	color: #000000 !important;
}
.hzline {
	background-color: #ccc;
	border: 0;
	height: 1px;
}
.lhs {
	float: left;
	margin: 3px;
}
.rhs {
	float: right;
	margin: 3px;
}
#container { 
	position: relative;
	width: 96%;
	max-width: 930px;
	/*background: #fff;*/
	padding: 2%;
	margin: 0 auto;
	overflow: hidden;
	/*border-bottom-left-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
	border-top-right-radius: 15px 15px;
	border-top-left-radius: 15px 15px;*/
}

#main {
	position: relative;
	width: 96%;
}
a:link { color: #458B00; /*chartreuse4 (green)*/ }
a:visited { color: #BDA0CB; /*purple candy*/ }
a:hover { color: #7e77e7; /*blue*/ }
