
/* margin: 0 auto; */
#wrapper {
    margin-left:100px;
    width: 578px;
}
#content {
    width: 100%;
}

#menubar {
 position:absolute;
 left:0px;
 top:2px;
}

.popup
{
COLOR: #FFFF00;
CURSOR: auto;
TEXT-DECORATION: none
}
