[Desktop Entry]
Encoding=UTF-8
Name=pGPRS
Icon=/usr/share/pixmaps/pgprs.svg
Comment=Connect to internet via GPRS modem
Comment[ru]=Подключить
Exec=pgprs --connect
Terminal=false
Type=Application
Categories=X-Network-phone
GenericName=Modem internet connector
NoDisplay=false
