[Desktop Entry]
Encoding=UTF-8
Name=PGPRS Connect via GPRS modem
Name[ru]=PGPRS Подключить
Icon=/usr/share/pixmaps/pgprs.svg
Comment=Connect via GPRS modem
Exec=pgprs --connect
Terminal=false
Type=Application
Categories=X-Network-phone
GenericName=PGPRS
NoDisplay=false
