[Desktop Entry]
Name=Kompozer web page editor
GenericName=Web Authoring System
Comment=Create Web Pages
Categories=X-Document-layout
Exec=kompozer
Icon=kompozer.xpm
Terminal=false
MimeType=text/html;text/xml;text/css;text/x-javascript;text/javascript;application/xhtml+xml;
Type=Application
