[Desktop Entry]
Encoding=UTF-8
Name=Xconsole monitor console
Icon=/usr/share/pixmaps/puppy/terminal.svg
Comment=Xconsole monitor console /dev/console
Exec=xconsole -verbose
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Xconsole
NoDisplay=true
