[Desktop Entry]
Encoding=UTF-8
Name=Xfontsel font viewer
Icon=/usr/share/pixmaps/puppy/font.svg
Comment=Xfontsel font viewer
Exec=xfontsel -bg "#e0ffe0"
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Xfontsel font viewer
NoDisplay=true
