[Desktop Entry]
Encoding=UTF-8
Name=Gpccard PCMCIA monitor
Icon=gpccard.xpm
Comment=Gpccard PCMCIA monitor
Exec=gpccardshell
Terminal=false
Type=Application
Categories=System
GenericName=Gpccard PCMCIA monitor
