[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=peasywifi_tray
# Peasywifi_tray is started by its residing in /root/Startup.
Exec=true
