#026_ti_usb_3410_5052.rules:
#Avoid probe error -5, by changing configuration value from 1 to 2.
#The commented entries were not included in example solutions, but might be needed for later hardware.

SUBSYSTEM!="usb_device" GOTO="ti_end"
ACTION!="add" GOTO="ti_end"

ATTR{idVendor}=="0451", ATTR{idProduct}=="3410" GOTO="ti_set_config_val"
#ATTR{idVendor}=="0451", ATTR{idProduct}=="f430" GOTO="ti_set_config_val"
ATTR{idVendor}=="0451", ATTR{idProduct}=="5[01]52" GOTO="ti_set_config_val"
ATTR{idVendor}=="0451", ATTR{idProduct}=="505[af]" GOTO="ti_set_config_val"
ATTR{idVendor}=="06e0", ATTR{idProduct}=="f10[89]" GOTO="ti_set_config_val"
ATTR{idVendor}=="06e0", ATTR{idProduct}=="f11[012]" GOTO="ti_set_config_val"
#ATTR{idVendor}=="04b3", ATTR{idProduct}=="454[3bc]" GOTO="ti_set_config_val"
GOTO="ti_end"

LABEL="ti_set_config_val"
ATTR{bNumConfigurations}=="2", ATTR{bConfigurationValue}=="1", RUN+="/bin/sh -c 'echo 2 > /sys%p/device/bConfigurationValue'"

LABEL="ti_end"
