# Set Rotational hard drives (HDD)
ACTION=="add|change", KERNEL=="sd[a-z]*", ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="bfq"
ACTION=="add|change", KERNEL=="sd[a-z]*", ATTR{queue/rotational}=="1", ATTR{queue/read_ahead_kb}="512"

# Set Non-rotational drives (SSD)
ACTION=="add|change", KERNEL=="sd[a-z]*", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="mq-deadline"
ACTION=="add|change", KERNEL=="sd[a-z]*", ATTR{queue/rotational}=="0", ATTR{queue/read_ahead_kb}="128"
ACTION=="add|change", KERNEL=="sd[a-z]*", ATTR{queue/rotational}=="0", ATTR{queue/iosched/fifo_batch}="8"

# Set Optical drives
ACTION=="add|change", KERNEL=="sr[0-9]*|scd[0-9]*", ATTR{queue/scheduler}="mq-deadline"
ACTION=="add|change", KERNEL=="sr[0-9]*|scd[0-9]*", ATTR{queue/read_ahead_kb}="2048"
ACTION=="add|change", KERNEL=="sr[0-9]*|scd[0-9]*", ATTR{queue/iosched/fifo_batch}="32"

# Set MMC
ACTION=="add|change", KERNEL=="mmcblk*", ATTR{queue/scheduler}="mq-deadline"
ACTION=="add|change", KERNEL=="mmcblk*", ATTR{queue/read_ahead_kb}="128"
ACTION=="add|change", KERNEL=="mmcblk*", ATTR{queue/iosched/fifo_batch}="8"

# Set NVMe
ACTION=="add|change", KERNEL=="nvme*", ATTR{queue/scheduler}="none"
ACTION=="add|change", KERNEL=="nvme*", ATTR{queue/read_ahead_kb}="64"

# Set Floppy
ACTION=="add|change", KERNEL=="fd[0-9]*", ATTR{queue/scheduler}="none"
ACTION=="add|change", KERNEL=="fd[0-9]*", ATTR{queue/read_ahead_kb}="16"

# Set Loop
ACTION=="add|change", KERNEL=="loop[0-9]*", ATTR{queue/read_ahead_kb}="64"
