
# kernel firmware loader
SUBSYSTEM=="firmware", ACTION=="add", RUN+="/sbin/pup_event_backend_firmware"


# Module autoloading

# ACTION=="add", SUBSYSTEM=="?*", ENV{MODALIAS}=="?*", RUN+="/sbin/modprobe $env{MODALIAS}"

ACTION=="add", SUBSYSTEM=="?*", ENV{MODALIAS}=="?*", RUN+="/sbin/pup_event_backend_modprobe"

# ---------------------------------------
# sound
# note, /lib/udev/rules.d/50-udev-default.rules is from udev 167, has rules for
# ownership:group and permissions when device nodes are created.

# from kirk, fatdog64...
KERNEL=="audio0",		SYMLINK+="audio"
KERNEL=="dsp0",			SYMLINK+="dsp"
KERNEL=="mixer0",		SYMLINK+="mixer"

# sound devices (oss) -- got this from gentoo rules --needed?
SUBSYSTEM=="snd",	GROUP="audio"

# ---------------------------------------

SUBSYSTEM=="block", RUN+="/usr/local/pup_event/frontend_change $env{ACTION} %k"

