
# kernel firmware loader
SUBSYSTEM=="firmware", ACTION=="add", RUN+="/sbin/pup_event_backend_firmware"


# Module autoloading

# ACTION=="add", SUBSYSTEM=="?*", ENV{MODALIAS}=="?*", RUN+="/sbin/modprobe $env{MODALIAS}"

ACTION=="add", SUBSYSTEM=="?*", ENV{MODALIAS}=="?*", RUN+="/sbin/pup_event_backend_modprobe"

# ---------------------------------------
# sound
# note, /lib/udev/rules.d/50-udev-default.rules is from udev 167, has rules for
# ownership:group and permissions when device nodes are created.

# from kirk, fatdog64...
KERNEL=="audio0",		SYMLINK+="audio"
KERNEL=="dsp0",			SYMLINK+="dsp"
KERNEL=="mixer0",		SYMLINK+="mixer"

# sound devices (oss) -- got this from gentoo rules --needed?
SUBSYSTEM=="snd",	GROUP="audio"

# ---------------------------------------



#w003 this now done in /etc/udev/rules.d/85-pcmcia.rules (pcmciautils pkg),
#note also I commented out start code in /etc/init.d/rc.pcmcia.
#ACTION=="add", SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="?*", \
#        RUN+="/bin/sh -c 'echo 1 > /sys/$DEVPATH/allow_func_id_match'"

# Send messages to Puppy frontend daemon, /sbin/pup_event_frontend_d, which waits
# for changes to /tmp/pup_event_backend_s ...
#v408 have disabled this totally, see comment in /sbin/pup_event_frontend_d...

#problem, k2.6.21.7 does not set DEVTYPE, remove condition...
#ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", RUN+="/bin/sh -c 'echo ACTION=$ACTION SUBSYSTEM=$SUBSYSTEM DEVTYPE=$DEVTYPE DEVPATH=$DEVPATH > /tmp/pup_event_backend_s'"

#ACTION=="add", SUBSYSTEM=="block", RUN+="/bin/sh -c 'echo ACTION=$ACTION SUBSYSTEM=$SUBSYSTEM DEVTYPE=$DEVTYPE DEVPATH=$DEVPATH > /tmp/pup_event_backend_s'"

#problem, k2.6.21.7 does not set DEVTYPE, remove condition...
#ACTION=="remove", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", RUN+="/bin/sh -c 'echo ACTION=$ACTION SUBSYSTEM=$SUBSYSTEM DEVTYPE=$DEVTYPE DEVPATH=$DEVPATH > /tmp/pup_event_backend_s'"

#ACTION=="remove", SUBSYSTEM=="block", RUN+="/bin/sh -c 'echo ACTION=$ACTION SUBSYSTEM=$SUBSYSTEM DEVTYPE=$DEVTYPE DEVPATH=$DEVPATH > /tmp/pup_event_backend_s'"
