#BK some usb 3G modems do not mode-switch, so usb-modeswitch handling is not used.
#handle these special cases here.
#/lib/udev/rules.d/40-usb_modeswitch.rules has a rule for creating /dev/gsmmodem symlink to a working /dev/ttyUSB[n].
#120901 add rule to remove /dev/gsmmodem.

#my Optus Huawei E160-E 3G modem...
ACTION=="add", ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="140c", RUN+="/usr/sbin/usb_modem_special_status 3g"
ACTION=="remove", ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="140c", RUN+="/bin/rm -f /dev/gsmmodem"

