# created by Patriot
# Module loading rules for lpt & usb printers
# 20110311 fixed lp[0-15] changed to lp[0-9]
ACTION=="add", KERNEL=="lp[0-9]*", SUBSYSTEM=="usb", NAME="usb/%k", MODE="0666"
ACTION=="add", KERNEL=="lp[0-7]*", SUBSYSTEM=="printer", NAME="%k", MODE="0666"
