#Barry Kauler, Oct 2011
#The idea here is to detect insertion of some devices.

###CAMERA###
#digital camera plugged in via usb...
ACTION=="add", SUBSYSTEM=="usb", ENV{ID_GPHOTO2}=="1", RUN+="/usr/sbin/pupautodetect camera"

###MTP Device###
#mtp device plugged in via usb...
ACTION=="add", SUBSYSTEM=="usb", ENV{ID_MTP_DEVICE}=="1", RUN+="/usr/sbin/pupautodetect android-device"
