#Barry Kauler, Oct 2011
#The idea here is to detect insertion of some devices.

###CAMERA###
#digital camera plugged in via usb...
#bInterfaceClass=6, "Imaging", /sys/class/usb_device/*/device/*/bInterfaceClass
#bInterfaceSubClass=1, "Still Image capture"
#bInterfaceProtocol=1, "Picture Transfer Protocol" 
#these can be specified individually like this:
#ACTION=="add", SUBSYSTEM=="usb", ATTR{bInterfaceClass}=="06", RUN+="/usr/sbin/pupautodetect camera"
#or together like this:
ACTION=="add", SUBSYSTEM=="usb", ENV{INTERFACE}=="6/1/*", RUN+="/usr/sbin/pupautodetect camera"

###MTP Device###
#mtp device plugged in via usb...
ACTION=="add", SUBSYSTEM=="usb", ENV{ID_MTP_DEVICE}=="1", RUN+="/usr/sbin/pupautodetect android-device"
