SUBSYSTEM=="drm", ACTION=="change", ENV{HOME}="/root", ENV{XDG_RUNTIME_DIR}="/tmp/runtime-root", ENV{WAYLAND_DISPLAY}="wayland-0", ENV{DISPLAY}=":0", RUN+="/bin/sh -c '[ -e ~/.config/wmonitors/wmon_cmd ] && sh ~/.config/wmonitors/wmon_cmd; pidof -s ROX-Filer || exit; fixPuppyPin; roxfiler -p ~/Choices/ROX-Filer/PuppyPin'"
