[Desktop Entry]
Encoding=UTF-8
Name=pMusic
Icon=/usr/share/pixmaps/pmusic.svg
Comment=Play and download music, radio and podcasts
Exec=pmusic
Terminal=false
Type=Application
Categories=Audio
GenericName=Audio player
