[Desktop Entry]
Encoding=UTF-8
Name=Radio streamer (pMusic)
Icon=/usr/share/pixmaps/puppy/wireless.svg
Comment=Radio streamer (pMusic)
Terminal=false
Type=Application
Categories=Audio
GenericName=Radio streamer (pMusic)
Exec=pmusic_radio
