[Desktop Entry]
Encoding=UTF-8
Name=Podcast manager (pMusic)
Icon=/usr/share/pixmaps/pmusic_podcast.svg
Comment=Podcast manager (pMusic)
Terminal=false
Type=Application
Categories=Audio
GenericName=Podcast manager (pMusic)
Exec=pmusic_podcast
