[Desktop Entry]
Encoding=UTF-8
Name=pMusic -Radio -Podcast -Music
Icon=/usr/share/pixmaps/pmusic.svg
Comment=-Radio -Podcast -Music
Exec=pmusic
Terminal=false
Type=Application
Categories=Audio
GenericName=pMusic -Radio -Podcast -Music
