[Desktop Entry]
Encoding=UTF-8
Name=pMusic -player -manager -grabber
Icon=/usr/share/pixmaps/pmusic.svg
Comment=pMusic -player -manager -grabber
Exec=pmusic
Terminal=false
Type=Application
Categories=Audio
GenericName=pMusic -player -manager -grabber
