[Desktop Entry]
Encoding=UTF-8
Name=HomeBank finance management
Icon=homebank.xpm
Comment=HomeBank finance management
Exec=homebank
Terminal=false
Type=Application
Categories=X-Calculate
GenericName=HomeBank
