[Desktop Entry]
Encoding=UTF-8
Name=ExpenseTracker track expenses
Icon=mini-dollar.xpm
Comment=ExpenseTracker track expenses
Exec=ExpenseTracker
Terminal=false
Type=Application
Categories=X-Calculate
GenericName=ExpenseTracker
