[Desktop Entry]
Encoding=UTF-8
Name=gFnRename batch file renamer
Icon=gfnrename.png
Comment=gFnRename batch file renamer
Exec=gfnrename
Terminal=false
Type=Application
Categories=X-FilesystemUtility
GenericName=gFnRename
