[Desktop Entry]
Name=Bluefish webpage editor
Comment=Create web pages
Exec=bluefish %F
Icon=bluefish.png
Terminal=false
Type=Application
Categories=X-Document
Encoding=UTF-8
StartupNotify=true
MimeType=text/html;text/css;text/x-javascript;text/x-python;text/x-perl;application/x-php;text/x-java;text/javascript;text/x-php;application/x-cgi;application/x-javascript;application/x-perl;application/x-python;application/xhtml+xml;text/mathml;text/x-csrc;text/x-chdr;text/x-dtd;text/x-sql;text/xml;
