[Desktop Entry]
Encoding=UTF-8
Name=labwc theme switcher
Icon=/usr/share/pixmaps/puppy/windows_buttons.svg
Comment=Change window decoration
Exec=ptheme-labwc
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=pTheme_labwc
