<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xfdesktop-menu>

<!--
     Explanantion of Xfce 4 menu file:
     =================================
     Here we will try to explain the format of the menu file.  Look at the
     actual menu below for the real examples.  You shouldn't really need to
     edit this manually; check out xfce4-menueditor instead.
-->

<!-- Obviously, this is how you make a comment ;-) -->

<!--

  + Everything is between exactly one pair of
    <xfdesktop-menu></xfdesktop-menu> tags.

  + Applications:
    <app name="Name in menu" cmd="Command to run" term="false"
         icon="iconfile"  snotify="false" visible="true" />
    The 'term' attribute determines if the program needs a terminal to run,
    and 'snotify' sets whether or not the program supports startup
    notification.  You can set an icon to be displayed next to the item with
    the 'icon' attribute.  Only 'name' and 'cmd' are required.

  + Separators:
    <separator visible="true" />
    Creates a horizontal separator.  The 'visible' attribute is optional.

  + Submenus: 
    <menu name="Name in menu" icon="iconfile" visible="true"></menu>
    Only 'name' is required, but you can also set an icon to be displayed using
    the 'icon' attribute.  Between the menu tags you can define more
    applications, separators and menus.

  + Titles
    <title name="Name in menu" icon="iconfile" visible="true" />
    Creates an insensitive menu title.  You can even add an optional icon to
    the title if you'd like.

  + Including other files:
    <include type="file" src="menu2.xml" visible="true" />
    Includes the file menu2.xml.  A relative path is assumed to be rooted at
    ~/.config/xfce4/desktop/.  An absolute path will be treated as such.

  + Including an autogenerated system menu:
    <include type="system" style="simple" unique="true" visible="true" />
    Includes a system menu.  style can be "simple" or "multilevel".  If unique
    is set to "false", multiple menu items will be generated if the app
    appears in multiple categories.
-->

<xfdesktop-menu>
	<menu name="Desktop" icon="/usr/local/lib/X11/pixmaps/x24.png">
	</menu>
	<menu name="System" icon="/usr/local/lib/X11/pixmaps/pc24.png">
	</menu>
	<menu name="Setup" icon="/usr/local/lib/X11/pixmaps/configuration24.png">
	</menu>
	<separator/>

	<!-- this actually fills in all of the above, leftovers get displayed here... -->
	<include type="system" style="simple" unique="true" legacy="true"/>
	
	<separator/>
	<app name="Help" cmd="defaulthtmlviewer file:///usr/share/doc/index.html" icon="/usr/local/lib/X11/pixmaps/help24.png" term="false" snotify="false" />
	<menu name="Shutdown" style="simple" icon="/usr/local/lib/X11/pixmaps/shutdown24.png">
		<app name="Exit to prompt" cmd="wmexit" icon="prompt16.xpm" snotify="false" />
		<app name="Reboot computer" cmd="wmreboot" icon="mini-turn.xpm" snotify="false" />
		<app name="Power-off computer" cmd="wmpoweroff" icon="mini-stop.xpm" snotify="false" />
		<app name="Restart X" cmd="restartwm" icon="mini-x.xpm" snotify="false" />
	</menu>
</xfdesktop-menu>
