[Desktop Entry]
Encoding=UTF-8
Version=1.0
Exec=exo-preferred-applications
Icon=preferences-desktop-default-applications
Type=Application
Categories=DesktopSettings
OnlyShowIn=XFCE;
Terminal=false
StartupNotify=true
GenericName=Preferred Applications
Name=Xfce Preferred Applications
Comment=Preferred Applications (Web Browser, Mail Reader and Terminal Emulator)
