[Desktop Entry]
Encoding=UTF-8
Name=Urxvt terminal emulator
Icon=mini-sh.xpm
Comment=Urxvt terminal emulator
Exec=rxvt
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Urxvt
