[Desktop Entry]
Encoding=UTF-8
Name=pFind
Icon=/usr/share/pixmaps/puppy/find.svg
Comment=Find files on your system
Comment[de]=Datei finder
Comment[es]=Buscador de Archivos
Comment[fr]=Recherche de fichiers
Comment[hu_HU]=fájl kereső
Comment[ja]=ファイル検索
Exec=pfind
Terminal=false
Type=Application
Categories=X-Filesystem-find
GenericName=File finder
