[Desktop Entry]
Encoding=UTF-8
Name=pFind file finder
Name[de]=pFind Datei finder
Name[es]=pFind-Buscador de Archivos
Name[fr]=Recherche de fichiers
Name[hu_HU]=pFind fájl kereső
Name[ja]=pFind ファイル検索
Icon=/usr/share/pixmaps/puppy/find.svg
Comment=pFind file finder
Exec=pfind
Terminal=false
Type=Application
Categories=X-Filesystem-find
GenericName=Pfind file finder
