[Desktop Entry]
Encoding=UTF-8
Name=Pprocess process manager
Name[es]=Pprocess-Administrador de Procesos
Name[fr]=Gestion des processus
Name[hu_HU]=Pprocess folyamatkezelő
Name[ja]=Pprocess プロセスの管理
Name[zh_CN]=Pprocess 进程管理器
Icon=/usr/share/pixmaps/puppy/execute.svg
Comment=Pprocess process manager
Exec=pprocess
Terminal=false
Type=Application
Categories=System
GenericName=Pprocess process manager
