[Desktop Entry]
Encoding=UTF-8
Name=Geany text editor
Icon=geany.xpm
Comment=Geany text editor
Exec=geany
Terminal=false
Type=Application
Categories=TextEditor
GenericName=Geany text editor
