[Desktop Entry]
Encoding=UTF-8
Name=Xfce Menu Editor
Comment=Graphical tool for editing the Xfce 4 menu
Exec=xfce4-menueditor
Icon=xfce4-menueditor
Terminal=false
Type=Application
Icon=xfce4-panel
Categories=DesktopSettings
GenericName=Menu Editor
