[Desktop Entry]
Encoding=UTF-8
Name=fbpanel-refresh
Icon=fbpanel.png
Comment=fbpanel-refresh
Exec=fbpanel_menu_refresh
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=fbpanel-refresh
