[Desktop Entry]
Encoding=UTF-8
Name=Gexec execute a command
Icon=gexec.xpm
Comment=execute a command
Exec=gexec
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Gexec
