[Desktop Entry]
Encoding=UTF-8
Name=pClock Time tools
Icon=/usr/share/pixmaps/puppy/clock.svg
Comment=pClock Time tools
Exec=pclock
Terminal=false
Type=Application
Categories=X-PersonalUtility
GenericName=pClock Time tools
