[Desktop Entry]
Encoding=UTF-8
Name=pClock
Icon=/usr/share/pixmaps/puppy/clock.svg
Comment=Time tools
Exec=pclock
Terminal=false
Type=Application
Categories=X-PersonalUtility
GenericName=Time tools
