.puppy-logo:before {
    background-image: url('puppylogo96.png');
    background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
}
#boxbar {
	float: right;
	height: 36px;
}
.menu li{
	display: inline-block;
}
.navbox { 
	text-align:center;
	height: 36px;
	width: 90px;
}
.navbox a { 
	display:block;
	height: 36px;
	width: 90px;
}
.navbox a:hover { 
	background: #f5f5f5;
}
.nav-icons {
	height: 24px;
	width: 24px;
}
.puppy-bar-bg { 
	margin-top: 3em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 0.8em;
}
@media all and (max-width: 768px) {
.navbox { 
	text-align:center;
	height: 36px;
	width: 40px;
}
.navbox a { 
	display:block;
	height: 36px;
	width: 40px;
}
}
