[Desktop Entry]
Encoding=UTF-8
Name=Desktop settings
Icon=/usr/share/pixmaps/puppy/windows.svg
Comment=Comprehensive setup of desktop functions and form
Exec=pdesktop
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=Desktop settings
NoDisplay=false
