[Desktop Entry]
Encoding=UTF-8
Name=Puppy theme manager
Icon=/usr/share/pixmaps/puppy/puppy_theme.svg
Comment=Change graphics and sizes
Exec=ptheme
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=pTheme
