[Desktop Entry]
Encoding=UTF-8
Name=pTheme
Icon=/usr/share/pixmaps/puppy/puppy_theme.svg
Comment=Change graphics and sizes of your desktop
Exec=ptheme
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Desktop theme manager
