[Desktop Entry]
Encoding=UTF-8
Name=GTK theme switcher
Icon=/usr/share/pixmaps/puppy/windows.svg
Comment=Change program decoration
Exec=ptheme_gtk
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=pTheme_GTK
NoDisplay=true
