#svgheading {
	background-image: url("/tmp/heading.svg");
	background-repeat: no-repeat;
/*	border-image: url("assets/frame_in.png") 2 / 2px stretch; */
}
#svgsplash {
	background-image: url("/tmp/splash.svg");
	background-repeat: no-repeat;
}



/***********
 * general *
 ***********/

.background {
	background-color: #777;
	color: #222;
}
#mixer_background {
	background: #222;
}



/*************
 * selection *
 *************/
.rubberband,
.view.rubberband,
rubberband {
	background-color: transparent;
	border: 0;
}



/**********
 * frames *
 **********/
 
frame > border {
	border-image: url("assets/frame.png") 1 / 1px stretch;
	padding: 2px;
}

#rightclick_menu_frame {
	border-image: url("assets/frame.png") 1 / 1px stretch;
}




/***********
 * buttons *
 ***********/

button.flat {
	background-color: transparent;
	border: 1px solid transparent;
	padding: .35em;
}
button:not(.flat),
.button {
	background-image: linear-gradient(to bottom, #777, #555);
	border: 1px solid #444;
	border-radius: 5px;
	padding: .35em;
}
button:active, .button:active,
button:active:hover, .button:active:hover,
button.toggle:checked,
button.toggle:active:hover,
button:hover, .button:hover {
	background-image: linear-gradient(to bottom, #6B856E, #495A49);
	border: 1px solid #444;
}



/**************
 * separators *
 **************/
 
separator.horizontal {
	border-image: url("assets/separator-h.png") 1 / 1px stretch;
	padding: 1px;
}
separator.vertical {
	border-image: url("assets/separator-v.png") 1 / 1px stretch;
	padding: 1px;
}



/**************
 * scrollbars *
 **************/
 
scrollbar.vertical button {
	background-image: linear-gradient(to bottom, #333, #333);
	border: 1px solid #444;
	border-radius: 0px;
	padding: .35em;
}
scrollbar.horizontal button {
	background-image: linear-gradient(to bottom, #333, #333);
	border: 1px solid #444;
	border-radius: 0px;
	padding: .35em;
}
scrollbar button:hover,
scrollbar button:active,
scrollbar button:active:hover {
	background-image: linear-gradient(to bottom, #333, #333);
	border: 1px solid #444;
	border-radius: 0px;
}
scrollbar button:disabled {
	background-image: linear-gradient(to bottom, #333, #333);
	border: 1px solid #444;
	border-radius: 0px;
}
scrollbar slider {
	background-image: url("assets/transparent_white_2.png");
	border: 1px solid #777;
}
scrollbar.vertical slider {
	min-height: .5rem;
	min-width: .8rem;
}
scrollbar.horizontal slider {
	min-height: .8rem;
	min-width: .5rem;
}
scrollbar {
	background-image: url("assets/transparent_black_1.png");
	border: 1px solid #222;
}



/**************
 * slider *
 **************/

scale.horizontal trough {
	background-image: url("assets/slider-trough-h.png");
	background-repeat: repeat-x;
	border: 0;
}
scale.vertical trough {
	background-image: url("assets/slider-trough-v.png");
	background-repeat: repeat-y;
	border: 0;
}
scale.horizontal slider {
	background-image: url("assets/slider-h.png");
	background-repeat: no-repeat;
	background-size: 30px 15px;
	min-height: 1.2em;
	border: 0;
}
scale.horizontal slider:hover {
	background-image: url("assets/slider-pre-h.png");
}
scale.vertical slider {
	background-image: url("assets/slider-v.png");
	background-repeat: no-repeat;
	background-size: 15px 30px;
	min-width: 1.2em;
	border: 0;
}
scale.vertical slider:hover {
	background-image: url("assets/slider-pre-v.png");
}



/*********************
 * checks and radios *
 *********************/
 
check, radio, .view.cellradio {
	margin: .0em .3em .0em .0em;
	min-height: 18px;
	min-width: 18px;
	-gtk-icon-source: url("assets/checkbox_false.png");
}
checkbutton label, radiobutton label {
	padding-right: .5em;
}
checkbutton:hover, radiobutton:hover {
	background: #777;
	color: #044D00;
}
check:checked, radio:checked {
	-gtk-icon-source: url("assets/checkbox_true.png");
}
check:checked:disabled, radio:checked:disabled {
	-gtk-icon-source: url("assets/checkbox_insensitive.png");
}
check:disabled, radio:disabled {
	-gtk-icon-source: url("assets/checkbox_insensitive.png");
}



/****************
 * text entries *
 ****************/
 
entry {
	background: #C1D8C0;
	border-image: url("assets/entry.png") 1 / 1px stretch;
	padding: .25em;
}
entry:disabled {
	background: #777;
}
entry#lyrics_path,
entry#albumart_path,
entry#albumlist_path {
	background: #777;
	color: #222;
}
entry#search {
	background: #444;
	color: #ccc;
	font-weight: bold;
}




/*************
 * notebooks *
 *************/
 
notebook {
	background: #777;
	padding: 0;
}
notebook.frame {
	border-image: url("assets/notebook.png") 1 / 1px stretch;
}
notebook header {
	background: #777;
}
notebook header tab {
	background-image: linear-gradient(to bottom, #606060, #606060);
	color: #111;
	border: 1px solid #222;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 5px 0px 5px;
}
notebook header tab:checked,
notebook.frame > .frame:active {
	background-image: linear-gradient(to bottom, #777, #777);
	color: #000;
	border-bottom: 0;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 5px 5px 5px;
	
}
notebook header.left tab {
	background-image: linear-gradient(to bottom, #606060, #606060);
	color: #111;
	border: 1px solid #222;
	border-radius: 5px 0px 0px 5px;
	padding: 5px;
}
notebook header.left tab:checked,
notebook.frame > .frame.left:active {
	background-image: linear-gradient(to bottom, #777, #777);
	color: #000;
	border-left: 0;
	border-radius: 5px 0px 0px 5px;
	padding: 5px;
}




/***************
 * progressbar *
 ***************/
progressbar trough {
	background-image: linear-gradient(to bottom, #555, #555);
	border: 1px solid black;
	padding: 2px;
}
progressbar progress,
treeview.view.progressbar {
	background-color: #777;
	border: 1px solid black;
	border-radius: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
}



/*********
 * menus *
 *********/

menubar {
	background-image: url("null.png");
	border: 0;
	border-radius: 0px;
	padding-left: 0.3em;
}

menubar#menu_button {
	background-image: linear-gradient(to bottom, #777, #555); /*look like a button. Used in the trackinfo box for genre selection*/
	border: 1px solid #444;
	border-radius: 5px;
}

menu {
	background: #777;
	border: 1px solid #555;
	border-radius: 0px;
	padding: 1px;
}
menubar > menuitem {
	margin-top: 2px;
	padding: .2em .4em;
	border: 0;
	border-radius: 0px;
}
menubar > menuitem:hover {
	background-image: linear-gradient(to bottom, #555, #555);
	border: 0;
	border-radius: 0px;
}
menuitem {
	margin: 1px;
	padding: 1px 6px;
	border: 0;
	border-radius: 0px;
}
menuitem:hover {
	background-image: linear-gradient(to bottom, #555, #555);
	border: 0;
	border-radius: 0px;
}
menu separator {
	border-image: url("assets/separator-h.png") 1 / 1px stretch;
	padding: 1px;
	margin: 3 10 3 30;
}



/********
 * Tree *
 ********/
#alt_list_header,
treeview.view header button {
	color: #222;
	background: #555;
	border-radius: 0px;
	padding: 3px 0px 3px 7px;
	font-weight: normal;
}
#alt_list_header:hover,
treeview.view header button:hover {
	background-image: linear-gradient(to bottom, #6B856E, #495A49);
	border: 1px solid #444;
}
textview,
.view {
	background-color: #444;
	color: #aaa;
}
selection,
treeview:selected,
.view:selected {
	color: #fff;
	background-color: #333;
}

#search_albumart {
	background: #777;
}




/**********
 * Lyrics *
 **********/
textview#lyrics {
	background-color: #222;
	color: #EBDE17;
	font-weight:bold;
}



/*************
 * Playqueue *
 *************/

textview#playlist,
.view#playlist {
	background-color: #C1D8C0;
	color: #446244;
}

selection,
treeview#playlist:selected,
.view#playlist:selected {
	color: #fff;
	background-color: #C1D8C0;
}



/*************
 * Highlight *
 *************/

button#highlight {
	background-image: linear-gradient(to bottom, #DDD7BF, #A99F73);
}
label#highlight {
	color: #D2C177;
}



/*************
 * Statusbar *
 *************/
statusbar frame > border,
statusbar frame,
status > label  {
	border-image: url("null.png");
}

statusbar {
	margin: -10 -15;
	color: #444;
}

statusbar label {
	font-size: 0.8em;
	padding: 0 0 0 7;
}
