[Desktop Entry]
Version=1.0
Name=activate-linux
Comment=Activate Linux watermark for Wayland
Exec=sh -c '. /etc/DISTRO_SPECS; GDK_BACKEND=wayland exec activate-linux "$DISTRO_NAME $DISTRO_VERSION" "This is an unstable development build"'
Terminal=false
Type=Application
