[Desktop Entry]
Encoding=UTF-8
Name=CD player/ripper (pMusic)
Icon=/usr/share/pixmaps/pmusic_cd.svg
Comment=CD player/ripper (pMusic)
Terminal=false
Type=Application
Categories=Audio
GenericName=CD player/ripper (pMusic)
Exec=pmusic_CD 
