[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce Workspaces Settings
Comment=Workspaces Settings
Exec=xfce-setting-show workspaces
Icon=xfce4-workspaces
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Workspaces Settings
