[Desktop Entry]
Encoding=UTF-8
Name=Chtheme GTK/Qt theme chooser
Icon=mini.window3d.xpm
Comment=GTK/Qt theme chooser
Exec=gtk_chtheme_wrapper
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Chtheme
