[Desktop Entry]
Encoding=UTF-8
Name=mhWaveEdit audio recorder/editor
Icon=mhwaveedit.xpm
Comment=Audio recorder/editor
Exec=mhwaveedit
Terminal=false
Type=Application
Categories=AudioVideo
GenericName=mhWaveEdit
