[Desktop Entry]
Encoding=UTF-8
Name=pBurn
Icon=/usr/share/icons/hicolor/scalable/apps/pburn.svg
Comment=CD/DVD/Blu-ray writer
Comment[de]=CD/DVD/Blu-ray Brenner
Comment[es]=Grabador de CD/DVD/Blu-ray
Comment[fr]=Graveur CD/DVD/Blu-ray
Comment[hu_HU]=CD/DVD/Blu-ray író
Comment[ja]=CD/DVD/Blu-ray書き込み
Comment[nb_NO]=Brenn CD/DVD/Blu-ray
Exec=pburn
Terminal=false
Type=Application
Categories=DiskBurning
GenericName=Disk burning tool
