[Desktop Entry]
Encoding=UTF-8
Name=Xkill - kill a window
Icon=xkill.svg
Comment=Xkill - kill a window
Exec=xkill
Terminal=false
Type=Application
Categories=Utility
GenericName=kill x-windows
