# stock puppy sfwbar.config

menu("winops") {
  item("focus", Focus );
  item("close", Close );
  item("(un)minimize", Function "ToggleMinimize" );
  item("(un)maximize", Function "ToggleMaximize" );
}

function("ToggleMinimize") {
  [!Minimized] Minimize
  [Minimized] UnMinimize
}

function("ToggleMaximize") {
  [!Maximized] Maximize
  [Maximized] UnMaximize
}

function("SfwbarInit") {
  SetLayer "panel", "bottom"
  SetMonitor "panel", "DVI-D-1"
  SetExclusiveZone "panel", "33"
  SetLayer "launcher", "bottom"
  SetMonitor "launcher", "DVI-D-1"
  SetExclusiveZone "launcher", "0"
  SetBarSize "launcher", "160"
}

# work arounds for vivaldi/opera icons .. there could be more

MapAppId ".*Vivaldi$", "vivaldi"

MapAppId ".*Opera$", "opera"

# Panel layout

layout "panel" {
  style = frame
  include("buttonmenu.widget")
  include("barlauncher.widget")

  taskbar {
    rows = 1
    css = "* { -GtkWidget-hexpand: true; }" # stretch horizontally
    sort = true
    group = false
    icons = true
    labels = true
    action[3] = Menu "winops"
  }

  include("includes.widget")

}

# Launcher layout
layout "launcher" { include("launcher.widget") }
# /Launcher layout

#CSS
window#panel { -GtkWidget-direction: bottom;
  border-radius: 0;
  color: rgba(17,  17,  17, 0.73);
}

window#launcher { -GtkWidget-direction: top; }

button#pager_normal , button#pager_visible , button#pager_focused {
  background-color: rgba(0, 0, 0, 0.0);
  padding-left: 1.25mm;
  padding-right: 1.25mm;
  padding-top: 0.5mm;
  padding-bottom: 0.5mm;
  background-image: none;
  border-radius: 0;
  border-image: none;
  font: 10pt Sans;
}

button#pager_focused {
  background-color: #bbddff;
}

button#pager_preview {
  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  border-radius: 0;
  border-image: none;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 1.4125cm;
}

button#menu {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 2px;
}

grid#pager {
  outline-color: #000000;
  outline-style: dashed;
  outline-width: 0.25mm;
}

grid#switcher_active *, grid#switcher_active, grid#switcher_active * * {
  min-width: 0.5cm;
  min-height: 0.5cm;
  border-image: none;
  padding: 1.25mm;
  background-color: #bbddff;
  border-radius: 0;
}

grid#switcher_normal *, grid#switcher_normal, grid#switcher_normal * * {
  min-width: 0.5cm;
  min-height: 0.5cm;
  border-image: none;
  padding: 0.5mm;
}

window#switcher { 
  border-style: solid;
  border-width: 0.25mm;
  border-color: #000000;
  border-radius: 0;
  padding: 1.25mm; 
  -GtkWidget-hexpand: true;
}

grid#switcher { 
  border-radius: 0;
  padding: 1.25mm;
}

image#tray_active, image#tray_passive, image#tray_attention {
  min-width: 1cm;
  min-height: 1cm;
}

progressbar {
  padding-left: 0.25mm;
  padding-right: 0.25mm;
  -GtkWidget-vexpand: true;
  -GtkWidget-direction: top;
}

progress, trough {
  border-radius: 0;
  border-color: #9c9c9c;
}

progress {
  border-style: outset;
  min-width: 2mm;
}

trough {
  background-color: #a1a1a1;
  border-style: inset;
  min-height: 2.5mm;
  min-width: 2.5mm;
}
button#taskbar_normal image, button#taskbar_active image, button#taskbar_normal:hover image {
  background-color: rgba(0, 0, 0, 0.0);
  min-width: 20px;
  min-height: 20px;
}

button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
  background-color: rgba(0, 0, 0, 0.0);
  -GtkWidget-vexpand: true;
  padding-left: 0.5mm;
  padding-top: 0px;
  padding-bottom: 0px;
  font: 10pt Sans;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
  padding: 2px;
  border: 0.5px;
}

button#taskbar_group_normal image , button#taskbar_group_active image {
  min-width: 20px;
  min-height: 20px;
}

grid#frame {
  -GtkWidget-direction: bottom;
  min-width: 1cm;
  border-color: #9c9c9c;
  border-style: groove;
  border-width: 0.5mm;
  padding-top: 0.25mm;
}

grid#layout {
  padding: 0.25mm;
  -GtkWidget-direction: right;
}

label#value {
  min-width: 1cm;
  -GtkWidget-hexpand: true;
  -GtkWidget-align: 0.5;
}

image#value_icon {
  padding: 0.1cm;
  min-width: 16px;
  min-height: 16px;
}

button {
  padding: 2px;
  border-width: 0.5px;
  border-radius: 0;
}
