[Desktop Entry]
Encoding=UTF-8
Name=Puppy installer
Name[de]=Puppy Installer
Name[es]=Puppy-Instalador
Name[hu_HU]=Puppy telepítő
Name[ja]=Puppyをインストール
Name[pt]=Instalador do Puppy
Name[ru]=Универсальный
Name[zh_CN]=Puppy 安装程序
Name[zh_TW]=Puppy 安裝程式
Icon=/usr/share/pixmaps/puppy/puppy_install.svg
Comment=Install Puppy
Exec=simple_installer
Terminal=false
Type=Application
Categories=X-SetupUtility
GenericName=Puppy installer
