[Desktop Entry]
Encoding=UTF-8
Name=mtPaint image editor
Icon=mini-palette.xpm
Comment=mtPaint image editor
Exec=mtpaint
Terminal=false
Type=Application
Categories=RasterGraphics
GenericName=mtPaint image editor
