[Desktop Entry]
Encoding=UTF-8
Name=NoteCase notes manager
Type=Application
Comment=Notes Manager
Icon=notecase16.xpm
TryExec=notecase
Exec=notecase
Terminal=false
Categories=X-Personal
MimeType=application/notecase-plain;application/notecase-enc;
GenericName=Hierarchical Note Manager
