[Desktop Entry]
Encoding=UTF-8
Name=Get Java Runtime/Development
Comment=Get Java Runtime or JDK Support
Exec=get_java
Icon=java.png
Terminal=false
Type=Application
Categories=X-Utility;Utility;
NoDisplay=false
