[Desktop Entry]
Name=Galculator scientific calculator
Comment=Perform simple and scientific calculations
Exec=galculator
Icon=galculator.png
Terminal=false
Type=Application
Categories=Calculator
StartupNotify=true
Encoding=UTF-8
GenericName=Galculator
