[Desktop Entry]
Encoding=UTF-8
Name=Xclipboard
Icon=/usr/share/pixmaps/puppy/paste.svg
Comment=Xclipboard
Exec=xclipboard 
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Xclipboard
NoDisplay=true
