[Desktop Entry]
Encoding=UTF-8
Name=Puppy updater
Icon=/usr/share/pixmaps/puppy/refresh.svg
Comment=Update Puppy
Exec=rxvt -e simple_updater ask
Terminal=false
Type=Application
Categories=X-SetupUtility
GenericName=Puppy updater
