[Desktop Entry]
Encoding=UTF-8
Name=pSchedule task on time
Icon=/usr/share/pixmaps/puppy/clock_interval.svg
Comment=pSchedule task on time
Exec=/usr/local/bin/pschedule
Terminal=false
Type=Application
Categories=X-SystemSchedule
GenericName=pSchedule
