[Desktop Entry]
Encoding=UTF-8
Name=pSchedule
Icon=/usr/share/pixmaps/puppy/clock_interval.svg
Comment=Set up a task on a given time
Exec=/usr/local/bin/pschedule
Terminal=false
Type=Application
Categories=X-SystemSchedule
GenericName=Task on time
