[Desktop Entry]
Name=Planner project management
Name[am]=የዕቅድ ጉባኤ
Name[ar]=إدارة المشروع
Name[as]=প্ৰজেক্ট পৰিচালনা
Name[ast]=Xestión de proyeutos
Name[be]=Кіраваньне праектам
Name[bg]=Управление на проекти
Name[bn_IN]=প্রজেক্ট পরিচালনা
Name[ca]=Gestió de projectes
Name[ca@valencia]=Gestió de projectes
Name[cs]=Správa projektů
Name[da]=Værktøj til projektstyring
Name[de]=Projektverwaltung
Name[dz]=ལས་འགུལ་འཛིན་སྐྱོང་།
Name[el]=Διαχείριση έργων
Name[en_CA]=Project Management
Name[en_GB]=Project Management
Name[es]=Gestión de proyectos
Name[et]=Projektihaldus
Name[eu]=Proiektu-kudeaketa
Name[fa]=مدیریت پروژه
Name[fi]=Projektinhallinta
Name[fr]=Gestionnaire de projets
Name[gl]=Xestión de proxectos
Name[gu]=પ્રોજેક્ટ વ્યવસ્થાપન
Name[hi]=प्रोजेक्ट प्रबंधन
Name[hr]=Upravljanje projektima
Name[hu]=Projektmenedzsment
Name[is]=Verkstjórnun
Name[it]=Gestione progetti
Name[ja]=Planner プロジェクト管理
Name[ko]=프로젝트 관리
Name[lt]=Projektų valdymas
Name[lv]=Projekta pārvaldība
Name[ml]=പദ്ധതിനിര്‍വ്വഹണം
Name[mr]=प्रकल्प व्यवस्थापन
Name[ms]=Pengurusan Projek
Name[nb]=Prosjektstyring
Name[nds]=Projektoppassens
Name[ne]=परियोजना व्यवस्थापन
Name[nl]=Project Management
Name[oc]=Gestion de projècte
Name[or]=ପ୍ରକଳ୍ପ ପରିଚାଳନା
Name[pl]=Zarządzanie projektami
Name[pt]=Gestão de Projectos
Name[pt_BR]=Gerência de Projetos
Name[ro]=Management de proiecte
Name[ru]=Управление проектами
Name[sk]=Správca projektov
Name[sl]=Upravljanje projektov
Name[sr]=Управљање пројектима
Name[sr@Latn]=Upravljanje projektima
Name[sv]=Projekthantering
Name[ta]=திட்ட மேலாண்மை
Name[tr]=Proje Yönetimi
Name[uk]=Керування проектами
Name[vi]=Quản lý dự án
Name[zh_CN]=项目管理
Name[zh_HK]=專案管理
Name[zh_TW]=專案管理
Comment=Planner Project Management
Comment[ar]=إدارة مشاريع المُخَطِّط
Comment[as]=প্লেনাৰ প্ৰজেক্ট পৰিচালনা
Comment[ast]=Xestión de proyeutos Planner
Comment[bg]=Управление на проекти (Planner)
Comment[bn_IN]=Planner প্রজেক্ট পরিচালনা
Comment[ca]=Gestor de projectes del Planner
Comment[ca@valencia]=Gestor de projectes del Planner
Comment[cs]=Správa projektů Planner
Comment[da]=Planner-projektstyring
Comment[de]=Planner Projektverwaltung
Comment[dz]=རྩམ་མི་ལས་འགུལ་འཛིན་སྐྱོང་།
Comment[el]=Διαχείριση έργων Planner
Comment[en_CA]=Planner Project Management
Comment[en_GB]=Planner Project Management
Comment[es]=Gestor de proyectos Planner
Comment[et]=Plaanija projektihaldus
Comment[eu]=Planner proiektu-kudeaketa
Comment[fa]=مدیریت پروژه‌ی برنامه‌ریز
Comment[fi]=Planner-projektinhallinta
Comment[fr]=Gestionnaire de projets Planner
Comment[gl]=Xestor de proxectos Planner
Comment[gu]=Planner પ્રોજેક્ટ વ્યવસ્થાપન
Comment[hr]=Plannerovo upravljanje projektima
Comment[hu]=Planner projektmenedzsment
Comment[is]=Planner Verkefnastjórnun
Comment[it]=Planner gestione progetto
Comment[ja]=プロジェクトを管理します
Comment[ko]=Planner 프로젝트 관리 프로그램
Comment[lt]=Planner projektų valdymas
Comment[lv]=Plānotaja projekta pārvaldība
Comment[mr]=Planner प्रकल्प व्यवस्थापन
Comment[nb]=Planner prosjektstyring
Comment[nds]=Planner Projektoppassens
Comment[ne]=योजनाकर्ता परियोजना व्यवस्थापन
Comment[nl]=Planner Project Management
Comment[or]=ଆୟୋଜକ ପ୍ରକଳ୍ପ ପରିଚାଳନା
Comment[pl]=Zarządzanie projektami Planner
Comment[pt]=Gestão de Projectos Planner
Comment[pt_BR]=Gerenciador de Projetos Planner
Comment[ro]=Management de proiecte Planner
Comment[ru]=Planner управление проектами
Comment[sk]=Správa projektov Planner
Comment[sl]=Planer: upravljanje projektov
Comment[sr]=Управљање пројектима Планером
Comment[sr@Latn]=Upravljanje projektima Planerom
Comment[sv]=Planner projekthantering
Comment[ta]=திட்டமமைப்பானின் திட்ட மேலாண்மை
Comment[tr]=Planner Proje Yönetimi
Comment[uk]=Керування проектами Planner
Comment[vi]=Quản lý dự án Planner
Comment[zh_CN]=Planner 项目管理
Comment[zh_HK]=Planner 專案管理
Comment[zh_TW]=Planner 專案管理
Exec=planner
Icon=gnome-planner.png
Terminal=false
Type=Application
Categories=ProjectManagement
StartupNotify=true
MimeType=application/x-planner;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=planner
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.14.5
