[Desktop Entry]
Encoding=UTF-8
Name=pMusic CD
Icon=/usr/share/pixmaps/pmusic_cd.svg
Comment=CD player and ripper
Exec=pmusic_CD
Terminal=false
Type=Application
Categories=Audio
GenericName=CD player/ripper
