[Desktop Entry]
Encoding=UTF-8
Name=XArchive archiver
Icon=package.xpm
Comment=XArchive archiver
Exec=xarchive
Terminal=false
Type=Application
Categories=Utility
GenericName=XArchive archiver
