[Desktop Entry]
Encoding=UTF-8
Name=Urxvt terminal emulator
Icon=/usr/share/pixmaps/puppy/terminal.svg
Comment=Urxvt terminal emulator
Exec=urxvt
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Urxvt
