[Desktop Entry]
Encoding=UTF-8
Name=pTiming event timer system
Icon=/usr/share/pixmaps/puppy/clock_stopwatch.svg
Comment=pTiming event timer system
Exec=ptiming
Terminal=false
Type=Application
Categories=X-PersonalUtility
GenericName=pTiming event timer system
