[Desktop Entry]
Encoding=UTF-8
Name=pTiming
Icon=/usr/share/pixmaps/puppy/clock_stopwatch.svg
Comment=Event timer system
Exec=ptiming
Terminal=false
Type=Application
Categories=X-PersonalUtility
GenericName=Event timer
