[Desktop Entry]
Encoding=UTF-8
Name=Gnumeric spreadsheet editor
Icon=gnumeric.xpm
Comment=Gnumeric spreadsheet editor
Exec=gnumeric
Terminal=false
Type=Application
Categories=X-Calculate
GenericName=Gnumeric spreadsheet editor
