[Desktop Entry]
Encoding=UTF-8
Name=Osmo personal organizer
Icon=osmo.png
Comment=Osmo personal organizer
Exec=osmo
Terminal=false
Type=Application
Categories=X-Personal-date
GenericName=Osmo
