[Desktop Entry]
Encoding=UTF-8
Name=ROX-Filer file manager
Icon=/usr/share/pixmaps/puppy/open.svg
Comment=ROX-Filer file manager
Exec=rox
Terminal=false
Type=Application
Categories=FileManager
GenericName=ROX-Filer file manager
