[Desktop Entry]
Encoding=UTF-8
Name=ROX-Filer
Icon=/usr/share/pixmaps/puppy/open.svg
Comment=File manager
Exec=rox
Terminal=false
Type=Application
Categories=FileManager
GenericName=File manager
