export PLUGIN_AUTOR="Sigmund Berglund"
export PLUGIN_EXEC=pmusic_export_most_played
export PLUGIN_NAME="Export most played"
export PLUGIN_IMAGE="/usr/share/pixmaps/pmusic_export_most_played.svg"
export PLUGIN_DESCRIPTION='Define size of total export, and filter tracks by rating.'
export PLUGIN_RUN_AT_START=false
