export PLUGIN_AUTOR="Sigmund Berglund"
export PLUGIN_EXEC=pmusic_tophits_archive
export PLUGIN_NAME="Top hits playlist builder."
export PLUGIN_IMAGE="/usr/share/pixmaps/pmusic_tophits_archive.svg"
export PLUGIN_DESCRIPTION='Build top hits playlist from UK and Billboard archive, and sync with your local files.'
export PLUGIN_RUN_AT_START=false
