export PLUGIN_AUTOR="Sigmund Berglund"
export PLUGIN_EXEC=pmusic_backend_cmd
export PLUGIN_NAME="Backend command"
export PLUGIN_IMAGE="/usr/share/pixmaps/pmusic_backend_cmd.svg"
export PLUGIN_DESCRIPTION='Show the playing command and the output from the pMusic backend.'
export PLUGIN_RUN_AT_START=false
