[Desktop Entry]
Name=Transmission BitTorrent client
GenericName=Transmission
Comment=Download and share files over BitTorrent
Exec=transmission-gtk  
Icon=/usr/share/pixmaps/transmission.png
Terminal=false
TryExec=transmission-gtk
Type=Application
MimeType=application/x-bittorrent;
Categories=X-Internet-transfer
