[Desktop Entry]
Version=1.0
Name=fixmenusd
Comment=fixmenus daemon
Exec=fixmenusd "fixmenus; jwm -reload; killall -HUP labwc sfwbar"
Terminal=false
Type=Application