[Desktop Entry]
Encoding=UTF-8
Name=UEFI Installer - Flash Drives
Icon=/usr/share/pixmaps/puppy/flashcard_usb.svg
Comment=UEFI Installer - Flash Drives
Exec=uefi-usb-installer
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=UEFI Installer - Flash Drives
