[Desktop Entry]
Categories=X-SetupEntry
Comment=Pkgdialog - ncurses frontend for Pkg 
Encoding=UTF-8
Exec=defaultterminal -e pkgdialog
GenericName=Pkgdialog
Icon=/usr/share/pixmaps/puppy/execute_add.svg
Name=Package Manager NG (cli)
Terminal=true
MimeType=application/pet;application/deb;application/x-deb;application/vnd.debian.binary-package;application/x-debian-package;application/x-rpm;application/rpm;application/x-redhat-package-manager;
Type=Application
