[Desktop Entry]
Categories=X-SetupEntry
Comment=Xpkgdialog - Xdialog frontend for Pkg 
Encoding=UTF-8
Exec=Xpkgdialog
GenericName=Xpkgdialog
Icon=/usr/share/pixmaps/puppy/execute_add.svg
Name=Package Manager NG (X)
Terminal=false
MimeType=application/pet;application/deb;application/x-deb;application/vnd.debian.binary-package;application/x-debian-package;application/x-rpm;application/rpm;application/x-redhat-package-manager;
Type=Application
NoDisplay=true
