[Desktop Entry]
Encoding=UTF-8
Name=Abiword - Word Processor
Icon=/usr/share/pixmaps/puppy/write.svg
Comment=Abiword word processor
Exec=abiword
Terminal=false
Type=Application
Categories=WordProcessor
GenericName=Abiword
