[Desktop Entry]
Encoding=UTF-8
Name=ALSA sound Wizard
Icon=sound.svg
Comment=ALSA sound Wizard
Exec=alsawizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=ALSA sound Wizard
