[Desktop Entry]
Encoding=UTF-8
Name=ALSA sound wizard
Icon=/usr/share/pixmaps/puppy/sound.svg
Comment=Configure cards and audio
Exec=alsawizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Sound wizard
