[Desktop Entry]
Type=Application
Name=Bcrypt file encryption
Exec=bcrypt_gui
Icon=/usr/share/pixmaps/puppy/file_lock.svg
Categories=X-Personal-security
