[Desktop Entry]
Encoding=UTF-8
Name=Boot Manager
Icon=startup.svg
Comment=BootManager configure bootup
Exec=bootmanager
Terminal=false
Type=Application
Categories=X-System
GenericName=BootManager
