[Desktop Entry]
Encoding=UTF-8
Name=BootFlash install Puppy to USB
Icon=/usr/share/pixmaps/puppy/flashcard_usb.svg
Comment=BootFlash install Puppy to USB
Exec=/usr/sbin/bootflash
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=BootFlash

