[Desktop Entry]
Encoding=UTF-8
Name=BootFlash install Puppy to USB
Icon=mini-ray.xpm
Comment=BootFlash install Puppy to USB
Exec=/usr/sbin/bootflash
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=BootFlash
