[Desktop Entry]
Encoding=UTF-8
Name=BootManager configure bootup
Icon=so.xpm
Comment=BootManager configure bootup
Exec=bootmanager
Terminal=false
Type=Application
Categories=X-System
GenericName=BootManager
