[Desktop Entry]
Encoding=UTF-8
Name=Burniso2cd
Icon=/usr/share/pixmaps/puppy/cd_burn.svg
Comment=Write iso file to CD or DVD
Exec=burniso2cd
Terminal=false
Type=Application
Categories=DiskBurning
GenericName=Write iso to CD/DVD
NoDisplay=true
