[Desktop Entry]
Encoding=UTF-8
Name=CD/DVD drive Wizard
Icon=/usr/share/pixmaps/puppy/cdrom.svg
Comment=CD/DVD drive Wizard
Exec=cdburner-wizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=CD/DVD drive Wizard
NoDisplay=true
