[Desktop Entry]
Encoding=UTF-8
Name=Chooselocale country localisation
Icon=/usr/share/pixmaps/puppy/country_language.svg
Comment=Country localisation
Exec=chooselocale
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Chooselocale
