[Desktop Entry]
Encoding=UTF-8
Name=Chooselocale
Icon=/usr/share/pixmaps/puppy/country_language.svg
Comment=Choose your country localisation
Exec=chooselocale
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Set locale
