[Desktop Entry]
Encoding=UTF-8
Name=Chooselocale country localisation
Icon=mini-font.xpm
Comment=Chooselocale country localisation
Exec=chooselocale
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Chooselocale country localisation
