[Desktop Entry]
Encoding=UTF-8
Exec=cups_shell
GenericName=
Icon=tb_print.xpm
MimeType=
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Name=CUPS manage printing
Comment=CUPS Web Interface
Categories=X-System-print
