[Desktop Entry]
Encoding=UTF-8
Exec=cups_shell
GenericName=Print manager
Icon=/usr/share/pixmaps/puppy/print.svg
MimeType=
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Name=CUPS print manager
Comment=Configure printer via the CUPS web interface
Categories=X-System-print
