[Desktop Entry]
Encoding=UTF-8
Name=Mixer
Icon=/usr/share/pixmaps/puppy/sound_mixer.svg
Comment=Generic sound mixer
Exec=defaultaudiomixer
Terminal=false
Type=Application
Categories=Mixer
GenericName=Generic sound mixer
