[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Default audio editor
Exec=defaultaudioeditor
Icon=/usr/share/pixmaps/puppy/edit_sound.svg
