[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=/usr/share/pixmaps/puppy/image_viewer.svg
NoDisplay=true
Name=Default image viewer
Exec=defaultimageviewer
