[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Default HTML editor
Exec=defaulthtmleditor
Icon=/usr/share/pixmaps/puppy/edit_html.svg
