[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=defaultmediaplayer
Exec=defaultmediaplayer
Icon=/usr/share/pixmaps/puppy/audio.svg
