[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Default CD recorder
Exec=defaultcdrecorder
Icon=/usr/share/pixmaps/puppy/cd_burn.svg
