[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Default process manager
Exec=defaultprocessmanager
Icon=/usr/share/pixmaps/puppy/execute.svg
