[Desktop Entry]
Encoding=UTF-8
Name=App Chooser - Set Default Programs
Icon=Executable.xpm
Comment=Default Applications Chooser
Exec=defaults-chooser
Terminal=false
Type=Application
Categories=X-SetupEntry
GenericName=Default-Applications-Chooser
