[Desktop Entry]
Encoding=UTF-8
Name=Mixer generic sound mixer
Icon=/usr/share/pixmaps/puppy/sound_mixer.svg
Comment=Mixer generic sound mixer
Exec=defaultaudiomixer
Terminal=false
Type=Application
Categories=Mixer
GenericName=Mixer generic sound mixer
