[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Default image editor
Exec=defaultimageeditor
Icon=/usr/share/pixmaps/puppy/edit_image.svg
