[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Default screenshot
Exec=defaultscreenshot
Icon=/usr/share/pixmaps/puppy/photocamera.svg
