[Desktop Entry]
Encoding=UTF-8
Name=Mixer - Terminal Sound Mixer
Icon=/usr/share/pixmaps/puppy/sound_mixer.svg
Comment=Mixer generic sound mixer
Exec=defaultmixer
Terminal=false
Type=Application
Categories=Mixer
GenericName=Mixer generic sound mixer
