[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Default text viewer
Exec=defaulttextviewer
Icon=/usr/share/pixmaps/puppy/document_viewer.svg
