[Desktop Entry]
Encoding=UTF-8
Name=Desktop drive icons manager
Icon=mini-hdisk.xpm
Comment=Desktop drive icons manager
Exec=eventmanager desktop
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=eventmanager
