[Desktop Entry]
Encoding=UTF-8
Name=Desktop drive icons manager
Icon=/usr/share/pixmaps/puppy/desktop_icons.svg
Comment=Desktop drive icons manager
Exec=eventmanager desktop
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=eventmanager
