[Desktop Entry]
Encoding=UTF-8
Name=F2FS Installer - Flash Drives
Icon=/usr/share/pixmaps/puppy/plug_usb.svg
Comment=F2FS Installer - Flash Drives
Exec=f2fs-usb-installer
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=F2FS Installer - Flash Drives
