[Desktop Entry]
Type=Application
Name=FFConvert - Multimedia Converter
Name[ja]=FFConvert マルチメディア変換
Exec=ffconvert

Icon=ffconvert.png
Categories=AudioVideo;

MimeType=application/vnd.ms-asf;application/vnd.rn-realmedia;application/x-annodex;application/x-mplayer2;application/x-quicktimeplayer;application/x-shockwave-flash;application/x-dvi;video/ogg;video/mpeg;video/x-mpeg;video/mp4;video/anim;video/x-anim;video/mkv;video/mng;video/x-mng;video/msvideo;video/quicktime;video/x-quicktime;video/x-flic;video/x-flv;video/x-ms-asf;video/x-ms-asf-plugin;video/x-ms-wax;video/x-ms-wmv;video/x-ms-wvx;video/x-msvideo;
#Terminal=true
#GenericName=
#Comment=
#NoDisplay=
#Hidden=
#OnlyShowIn=
#NotShowIn=
#TryExec=
#Path=
#StartupNotify=true
#StartupWMClass=
