[Desktop Entry]
Encoding=UTF-8
Name=FileMnt
Icon=/usr/share/pixmaps/puppy/cdrom.svg
Comment=Unmount disk image files
Exec=filemnt -manager
Terminal=false
Type=Application
Categories=X-Filesystem-mount
GenericName=Mounted disk image manager
NoDisplay=false
