[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Disk Image Mounter
Exec=filemnt %f
MimeType=application/x-squashfs-image;application/x-cd-image;application/x-ext2-image;application/x-ext3-image;application/x-ext4-image;application/x-img;application/x-vfd;application/sb;application/porteus-module;
Icon=/usr/share/pixmaps/puppy/install.svg
