[Desktop Entry]
Encoding=UTF-8
Name=PcurlFtp - File Sharing
Icon=/usr/share/pixmaps/puppy/network2.svg
Comment=connect to ftp servers
Exec=rox -d /root/File-Sharing
Terminal=false
Type=Application
Categories=Network
GenericName=PcurlFtp
