[Desktop Entry]
Encoding=UTF-8
Name=Firewallstate - Firewall Tray Icon
Icon=firewall.svg
Comment=Firewallstate Firewall Tray Icon
Exec=/usr/local/firewallstate/firewallstaterun
Terminal=false
Type=Application
Categories=Network
GenericName=Firewallstate Firewall Tray Icon
