[Desktop Entry]
Name=Flash Player - Set Preferences
Comment=Preferences for Adobe Flash Player
Comment[bg]=Настройки за Adobe Flash Player
Comment[ca]=Preferències quant a la Adobe Flash Player
Comment[de]=Einstellungen zur Adobe Flash Player
Comment[es]=Preferencias para Adobe Flash Player
Comment[fr]=Préférences pour Adobe Flash Player
Comment[gl]=Preferencias para Adobe Flash Player
Comment[nb]=Brukervalg for Adobe Flash Player
Comment[nl]=Voorkeuren voor Adobe Flash Player
Comment[pl]=Preferencje Adobe Flash Player
Comment[pt]=Preferências para a Adobe Flash Player
Comment[pt_BR]=Preferências para o Adobe Flash Player
Comment[ru]=Настройки для Adobe Flash Player
Comment[sk]=Predvoľby pre Adobe Flash Player
Comment[sv]=Inställningar för Adobe Flash Player
Exec=flash-player-properties
Icon=/usr/share/icons/flash-player-properties.png
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Internet;
NotShowIn=KDE;
