[Desktop Entry]
Encoding=UTF-8
Name=Format Floppy - Disk Utility
Icon=mini-diskette.xpm
Comment=Format Floppys
Exec=Floppy_Formatter
Terminal=false
Type=Application
Categories=X-SystemMemory
GenericName=Floppy Formatter
