[Desktop Entry]
Encoding=UTF-8
Name=FlSynclient - Touchpad Configuration 
Icon=flsynclient.png
Comment=Configure your synaptics touchpad
Exec=flsynclient
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=flsynclient
