[Desktop Entry]
Encoding=UTF-8
Name=Font Manager
Icon=font.svg
Comment=Configure and install fonts
Exec=fontmanager
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=FontManager
