[Desktop Entry]
Encoding=UTF-8
Name=FontManager
Icon=x16.xpm
Comment=Configure fonts
Exec=fontmanager
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=FontManager
