[Desktop Entry]
Encoding=UTF-8
Name=FontManager
Icon=mini-font.xpm
Comment=Configure and install fonts
Exec=fontmanager
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=FontManager
