[Desktop Entry]
Encoding=UTF-8
Name=Figaro 2 - Password Manager
Comment=Figaro password manager
Exec=fpm2
Icon=fpm2.png
Terminal=false
Type=Application
Categories=X-Personal
