[Desktop Entry]
Encoding=UTF-8
Name=Gcolor2
Icon=/usr/share/pixmaps/puppy/select-color.svg
Comment=Color chooser and picker
Exec=gcolor2
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=Color chooser

