[Desktop Entry]
Encoding=UTF-8
Name=Gcolor2 color chooser
Icon=/usr/share/pixmaps/puppy/graphics.svg
Comment=color chooser and picker
Exec=gcolor2
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=Gcolor2

