[Desktop Entry]
Encoding=UTF-8
Name=GetFlash - Install Flashplayer
Icon=/usr/share/icons/flash-player-properties.png
Comment=GetFlash Install Flashplayer
Exec=getflash
Terminal=false
Type=Application
Categories=X-Internet
GenericName=GetFlash Install Flashplayer
