[Desktop Entry]
Encoding=UTF-8
Name=Font viewer
Icon=/usr/share/pixmaps/puppy/font.svg
Comment=font viewer
Exec=gfontsel
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=font viewer
