[Desktop Entry]
Encoding=UTF-8
Name=Gfontsel - Font Viewer
Icon=/usr/share/pixmaps/puppy/font.svg
Comment=Gfontsel font viewer
Exec=gfontsel
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Gfontsel font viewer
