[Desktop Entry]
Encoding=UTF-8
Name=gFTP - FTP Client
Icon=gftp.png
Comment=gFTP ftp client
Exec=gftp
Terminal=false
Type=Application
Categories=X-Internet
GenericName=gFTP
