[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=ghostview
Icon=/usr/share/pixmaps/puppy/document_viewer.svg
Exec=ghostview
MimeType=application/postscript
