[Desktop Entry]
Encoding=UTF-8
Name=Glade - GUI Designer
Name[ar]=مخطط الواجهة غلايد
Name[bg]=Проектиране на графични интерфейси (Glade)
Name[ca]=Dissenyador d'interfícies Glade
Name[cs]=Návrhář rozhraní Glade
Name[da]=Glade - grænsefladedesigner
Name[de]=Glade Oberflächenentwicklung
Name[el]=Εργαλείο σχεδίασης διεπαφών Glade
Name[en_CA]=Glade Interface Designer
Name[en_GB]=Glade - GUI Designer
Name[es]=Diseñador de interfaces Glade
Name[et]=Glade - liideseprojekteerija
Name[eu]=Glade interfaze-diseinatzailea
Name[fi]=Glade -käyttöliittymäkehitin
Name[fr]=Concepteur d'interface Glade
Name[gl]=Deseñador de interfaces Glade
Name[gu]=Glade ઇન્ટરફેસ રચનાર
Name[he]=מעצב המנשק Glade
Name[hu]=Glade felülettervező
Name[it]=Glade - Disegnatore di interfacce
Name[ja]=Glade3 インタフェース・デザイナ
Name[ko]=글레이드 인터페이스 디자인 프로그램
Name[lt]=Glade naudotojo sąsajos projektavimo įrankis
Name[lv]=Glade saskarnes veidotājs
Name[mk]=Glade дизајнер на интерфејс 
Name[ml]=Glade ഇന്‍ററ്‍ഫെയിസ് ഡിസൈനറ്‍
Name[mr]=Glade संवाद रचना
Name[nb]=Glade grensesnittutforming
Name[pa]=ਗਲੇਡ ਇੰਟਰਫੇਸ ਡਿਜ਼ਾਇਨਰ
Name[pl]=Glade - narzędzie do projektowania interfejsów użytkownika
Name[pt]=Designer de Interfaces Glade
Name[pt_BR]=Construtor de interfaces Glade
Name[ru]=Редактор интерфейсов Glade
Name[sl]=Oblikovalec vmesnikov Glade
Name[sq]=Glade - Vizatuesi i interfaqeve
Name[sv]=Gränssnittsbyggaren Glade
Name[te]=గ్లేడ్ సంవిధాన మాదిరి నిశ్చయించువాడు
Name[th]=Glade: เครื่องมือออกแบบส่วนติดต่อผู้ใช้
Name[tr]=Glade Arayüz Tasarımcısı
Name[uk]=Редактор інтерфейсів користувача Glade
Name[vi]=Bộ thiết kế giao diện Glade
Name[zh_CN]=Glade界面设计大师
Name[zh_HK]=Glade 介面設計程式
Name[zh_TW]=Glade 介面設計程式
GenericName=User Interface Designer
GenericName[ar]=مخطط واجهة المستخدم
GenericName[bg]=Проектиране на потребителски интерфейси
GenericName[ca]=Dissenyador d'interfícies d'usuari
GenericName[cs]=Návrhář uživatelského rozhraní
GenericName[da]=Brugergrænseflade-designer
GenericName[de]=Grafischer Oberflächenentwurf
GenericName[el]=Εργαλείο σχεδίασης διεπαφών
GenericName[en_CA]=User Interface Designer
GenericName[en_GB]=User Interface Designer
GenericName[es]=Diseñador de interfaces de usuario
GenericName[et]=Kasutajaliidese projekteerija
GenericName[eu]=Erabiltzaile-interfazeen diseinatzailea
GenericName[fi]=Käyttöliittymäkehitin
GenericName[fr]=Concepteur d'interface utilisateur
GenericName[gl]=Deseñador de interfaces de usuario
GenericName[gu]=વપરાશકર્તા ઇન્ટરફેસ રચનાર
GenericName[he]=מעצב מנשק משתמש
GenericName[hu]=Felhasználóifelület-tervező
GenericName[it]=Disegnatore di interfacce utente
GenericName[ja]=ユーザ・インタフェース・デザイナ
GenericName[ko]=사용자 인터페이스 디자인 프로그램
GenericName[lt]=Naudotojo sąsajos projektavimo įrankis
GenericName[mk]=Дизајнер на кориснички интерфејс
GenericName[ml]=യൂസറ്‍ ഇന്‍ററ്‍ഫെയിസ് ഡിസൈനറ്‍
GenericName[mr]=वापरकर्ता संवाद रचनाकर्ता
GenericName[nb]=Utforming av brukergrensesnitt
GenericName[pa]=ਉਪਭੋਗੀ ਇੰਟਰਫੇਸ ਡਿਜ਼ਾਇਨਰ
GenericName[pl]=Narzędzie do projektowania interfejsów użytkownika
GenericName[pt]=Desenhador de Interfaces de Utilizador
GenericName[pt_BR]=Construtor de interfaces de usuário
GenericName[ru]=Редактор пользовательских интерфейсов
GenericName[sl]=Oblikovalec uporabniškega vmesnika
GenericName[sq]=Vizatuesi i interfaqeve të përdorimit
GenericName[sv]=Användargränssnittsbyggare
GenericName[te]=వినియోగదారు సంవిధాన మాదిరి నిశ్చయించువాడు
GenericName[th]=เครื่องมือออกแบบส่วนติดต่อผู้ใช้
GenericName[tr]=Kullanıcı Arayüzü Tasarımcısı
GenericName[uk]=Редактор інтерфейсів користувача
GenericName[vi]=Bộ thiết kế giao diện người dùng
GenericName[zh_CN]=用户界面设计大师
GenericName[zh_HK]=使用者介面設計師
GenericName[zh_TW]=使用者介面設計師
Comment=Create or open user interface designs for GTK+ applications
Comment[ar]=انشئ او افتح واجهات مستخدم لتطبيقات جي تي كاي+ (‎GTK+)
Comment[bg]=Създаване или редактиране на потребителски интерфейси за приложения на GTK+
Comment[ca]=Creeu o obriu dissenys d'interfície d'usuari per a aplicacions GTK+
Comment[da]=Opret eller åbn grænsefladedesign for GTK+-programmer
Comment[de]=Erstellen oder Öffnen von grafischen Oberflächen für GTK+-Anwendungen
Comment[el]=Δημιουργία ή άνοιγμα σχεδίων διεπαφής χρήστη για εφαρμογές GTK+
Comment[en_CA]=Create or open user interface designs for GTK+ applications
Comment[en_GB]=Create or open user interface designs for GTK+ applications
Comment[es]=Cree o abra diseños de interfaces de usuario para aplicaciones GTK+
Comment[et]=GTK+ rakenduste kasutajaliideste projektide avamine või loomine
Comment[eu]=Erabiltzaile-interfazeen diseinuak sortzen edo irekitzen ditu GTK+ aplikazioentzat
Comment[fi]=Luo tai avaa GTK+ -ja Gnome-sovellusten käyttöliittymäsuunnitelmia
Comment[fr]=Créer ou ouvrir un modèle d'interface utilisateur pour des applications GTK+
Comment[gl]=Crear ou abrir deseños de interface de usuario para aplicativos GTK+
Comment[gu]=GTK+ કાર્યક્રમો માટે વપરાશકર્તા ઇન્ટરફેસ રચનાઓ ખોલો અથવા બનાવો
Comment[he]=צור או פתח עיצוב מנשק משתמש ליישומי GTK+
Comment[hu]=Felhasználóifelület-tervek készítése GTK+ alkalmazásokhoz
Comment[it]=Crea o apre disegni di interfaccia utente per applicazioni GTK+
Comment[ja]=GTK+ アプリの UI ファイルを作成したり編集します
Comment[ko]=GTK+ 프로그램의 사용자 인터페이스 디자인을 열거나 새로 만듭니다
Comment[lt]=Kurti arba atverti GTK+ programų naudotojo sąsajas
Comment[mk]=Креирај или отворај дизајни за кориснички интерфејс за GTK+ апликации
Comment[ml]=GTK+ പ്റോഗ്റാമുകള്‍ക്കുളള യൂസറ്‍ ഇന്റര്‍ഫെയിസ് രീതികള്‍ ഉണ്ടാക്കുക അല്ലെങ്കില്‍ തുറക്കുക
Comment[mr]=GTK+ अनुप्रयोगांकरीता वापरकर्ता संवाद रचना बनवा किंवा उघडा
Comment[nb]=Opprett eller åpne brukergrensesnittdefinisjoner for GTK+-programmer
Comment[pa]=GTK+ ਕਾਰਜਾਂ ਲਈ ਉਪਭੋਗੀ ਇੰਟਰਫੇਸ ਡਿਜ਼ਾਇਨ ਬਣਾਓ ਜਾਂ ਖੋਲ੍ਹੋ
Comment[pl]=Tworzy lub otwiera projekty interfejsów użytkownika dla aplikacji GTK+
Comment[pt]=Criar ou abrir um desenho de interface de utilizador para aplicações GTK+
Comment[pt_BR]=Crie ou abra projetos de interface com o usuário para aplicativos GTK+
Comment[ru]=Создание и правка моделей пользовательского интерфейса библиотеки GTK+
Comment[sl]=Oblikovanje in odpiranje uporabniških vmesnikov za GTK+ aplikacije
Comment[sq]=Krijon ose hap vizatime interfaqe përdorimi për aplikativë GTK+
Comment[sv]=Skapa eller öppna designade användargränssnitt för GTK+-program
Comment[te]=వినియోగదారు సంవిధాన మాదిరిలు సృష్టించుటకు లేదా తెరచుట కొరకు GTK+ కార్యక్షేత్రాలు
Comment[th]=สร้างหรือเปิดแบบของส่วนติดต่อผู้ใช้สำหรับโปรแกรม GTK+
Comment[tr]=GTK+ uygulamaları için kullanıcı arabirim tasarımları oluştur ya da aç
Comment[uk]=Створення та редагування моделей інтерфейсу бібліотеки GTK+
Comment[vi]=Tạo hay mở bản đồ án thiết kế giao diện người dùng cho ứng dụng GTK+
Comment[zh_CN]=新建或打开GTK+程序用户界面设计
Comment[zh_HK]=建立或開啟 GTK+ 應用程式的使用者介面設計
Comment[zh_TW]=建立或開啟 GTK+ 應用程式的使用者介面設計
Exec=glade-3 %F
Terminal=false
StartupNotify=true
Type=Application
Icon=/usr/share/icons/hicolor/16x16/apps/glade-3.png
Categories=GNOME;GTK;Development;GUIDesigner;
MimeType=application/x-glade;
X-GNOME-DocPath=glade/glade.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=glade3
X-GNOME-Bugzilla-Version=3.6.7
X-GNOME-Bugzilla-Component=general
