[Desktop Entry]
Name=Gmeasures - Units Converter
Comment=weights and measures converter
Exec=gmeasures
Icon=gmeasures.png
Terminal=false
Type=Application
Categories=Calculator
StartupNotify=true
Encoding=UTF-8
GenericName=Gmeasures
