[Desktop Entry]
Version=1.0
Name=Gnumeric - Spreadsheet
Name[ast]=Gnumeric
Name[bg]=Gnumeric
Name[ca]=Gnumeric
Name[ca@valencia]=Gnumeric
Name[cs]=Gnumeric
Name[da]=Gnumeric
Name[de]=Gnumeric
Name[dz]=ཇི་ནུ་མིརིཀ་
Name[el]=Gnumeric
Name[en_CA]=Gnumeric
Name[en_GB]=Gnumeric - Spreadsheet
Name[es]=Gnumeric
Name[et]=Gnumeric
Name[eu]=Gnumeric
Name[fi]=Gnumeric
Name[fr]=Gnumeric
Name[ga]=Gnumeric
Name[gl]=Gnumeric
Name[gu]=Gnumeric
Name[he]=‏Gnumeric
Name[hr]=Gnumeric
Name[hu]=Gnumeric
Name[id]=Gnumeric
Name[it]=Gnumeric
Name[ja]=Gnumeric
Name[kk]=Gnumeric
Name[ko]=Gnumeric
Name[lt]=Gnumeric
Name[mk]=Gnumeric
Name[ml]=ജിന്യ‌ൂമറിക്
Name[mr]=जीन्यूमेरिक
Name[ms]=Gnumeric
Name[nb]=Gnumeric
Name[ne]=जिन्युमेरिक
Name[nl]=Gnumeric
Name[nn]=Gnumeric
Name[oc]=Gnumeric
Name[pl]=Gnumeric
Name[pt]=Gnumeric
Name[pt_BR]=Gnumeric
Name[ro]=Gnumeric
Name[ru]=Gnumeric
Name[sk]=Gnumeric
Name[sl]=Gnumeric
Name[sr]=Гнумерик
Name[sr@latin]=Gnumerik
Name[sv]=Gnumeric
Name[tr]=Gnumeric
Name[uk]=Gnumeric
Name[vi]=Gnumeric
Name[zh_CN]=Gnumeric
Name[zh_TW]=Gnumeric
GenericName=Spreadsheet
GenericName[ast]=Fueya de cálculu
GenericName[bg]=Електронна таблица
GenericName[ca]=Full de càlcul
GenericName[ca@valencia]=Full de càlcul
GenericName[cs]=Tabulkový kalkulátor
GenericName[da]=Regneark
GenericName[de]=Tabellenkalkulation
GenericName[dz]=ཤོག་ཁྲམ་
GenericName[el]=Υπολογιστικό φύλλο
GenericName[en_CA]=Spreadsheet
GenericName[en_GB]=Spreadsheet
GenericName[es]=Hoja de cálculo
GenericName[et]=Tabelarvutus
GenericName[eu]=Kalkulu-orria
GenericName[fi]=Taulukkolaskenta
GenericName[fr]=Tableur
GenericName[ga]=Scarbhileog
GenericName[gu]=સ્પ્રેડશીટ
GenericName[he]=גיליון אלקטרוני
GenericName[hr]=Proračunska tablica
GenericName[hu]=Táblázatkezelő
GenericName[id]=Lembar kerja
GenericName[it]=Foglio di calcolo
GenericName[ja]=スプレッドシート
GenericName[kk]=Электрондық кестелер
GenericName[ko]=스프레드시트
GenericName[lt]=Skaičiuoklė
GenericName[mk]=Табеларни пресметки
GenericName[nb]=Regneark
GenericName[ne]=स्प्रेडसिट
GenericName[nl]=Rekenblad
GenericName[nn]=Rekneark
GenericName[oc]=Fuèlha de calcul
GenericName[pl]=Arkusz kalkulacyjny
GenericName[pt]=Folha de Cálculo
GenericName[pt_BR]=Planilha
GenericName[ru]=Электронная таблица
GenericName[rw]=Urupapurorusesuye
GenericName[sl]=Preglednica
GenericName[sr]=Табеларни прорачун
GenericName[sr@latin]=Tabelarni proračun
GenericName[sv]=Kalkylprogram
GenericName[te]=స్ర్పెడ్ షీట్
GenericName[tr]=Çizelge
GenericName[vi]=Bảng tính
GenericName[zh_CN]=电子表格
GenericName[zh_TW]=試算表
X-GNOME-FullName=Gnumeric Spreadsheet
X-GNOME-FullName[ast]=Fueya de cálculu Gnumeric
X-GNOME-FullName[az]=Gnumeric Hesab Cədvəli
X-GNOME-FullName[bg]=Електронна таблица Gnumeric
X-GNOME-FullName[ca]=Full de càlcul Gnumeric
X-GNOME-FullName[ca@valencia]=Full de càlcul Gnumeric
X-GNOME-FullName[cs]=Tabulkový kalkulátor Gnumeric
X-GNOME-FullName[da]=Gnumeric Regneark
X-GNOME-FullName[de]=Gnumeric Tabellenkalkulation
X-GNOME-FullName[dz]=ཇི་ནུ་མི་རིཀ་ ཤོག་ཁྲམ་
X-GNOME-FullName[el]=Φύλλο εργασίας Gnumeric
X-GNOME-FullName[en_CA]=Gnumeric Spreadsheet
X-GNOME-FullName[en_GB]=Gnumeric Spreadsheet
X-GNOME-FullName[es]=Hoja de cálculo Gnumeric
X-GNOME-FullName[et]=Gnumericu tabelarvutus
X-GNOME-FullName[eu]=Gnumeric kalkulu-orria
X-GNOME-FullName[fi]=Gnumeric-taulukkolaskenta
X-GNOME-FullName[fr]=Tableur Gnumeric
X-GNOME-FullName[ga]=Scarbhileog Gnumeric
X-GNOME-FullName[gu]=Gnumeric સ્પ્રેડશીટ
X-GNOME-FullName[he]=גיליון אלקטרוני של Gnumeric
X-GNOME-FullName[hr]=Gnumeric proračunska tablica
X-GNOME-FullName[hu]=Gnumeric táblázatkezelő
X-GNOME-FullName[id]=Lembar kerja Gnumeric
X-GNOME-FullName[it]=Gnumeric - Foglio di calcolo
X-GNOME-FullName[ja]=Gnumeric スプレッドシート
X-GNOME-FullName[kk]=Gnumeric электрондық кестесі
X-GNOME-FullName[ko]=Gnumeric 스프레드시트
X-GNOME-FullName[lt]=Gnumeric skaičiuoklė
X-GNOME-FullName[lv]=Gnumeric Izklājlapa
X-GNOME-FullName[mk]=Gnumeric табеларни пресметки
X-GNOME-FullName[ml]=ജിന്യ‌ൂമറിക് വിസ്തൃതപത്രിക
X-GNOME-FullName[mr]=जीन्यूमेरिक पान
X-GNOME-FullName[ms]=Hamparan Gnumeric
X-GNOME-FullName[nb]=Gnumeric regneark
X-GNOME-FullName[ne]=जीन्युमेरिक स्प्रेडसिट
X-GNOME-FullName[nl]=Gnumeric rekenblad
X-GNOME-FullName[nn]=Gnumeric rekneark
X-GNOME-FullName[pl]=Arkusz Gnumerica
X-GNOME-FullName[pt]=Folha de Cálculo Gnumeric
X-GNOME-FullName[pt_BR]=Planilha eletrônica Gnumeric
X-GNOME-FullName[ru]=Электронная таблица Gnumeric
X-GNOME-FullName[sk]=Zošit Gnumeric
X-GNOME-FullName[sl]=Preglednica Gnumeric
X-GNOME-FullName[sr]=Гнумерик табеларни прорачун
X-GNOME-FullName[sr@latin]=Gnumerik tabelarni proračun
X-GNOME-FullName[sv]=Kalkylprogrammet Gnumeric
X-GNOME-FullName[te]=జి పూర్ణసంఖ్య స్ర్పెడ్ షీట్
X-GNOME-FullName[tr]=Gnumeric Çizelgesi
X-GNOME-FullName[uk]=Електронна таблиця Gnumeric
X-GNOME-FullName[vi]=Bảng tính Gnumeric
X-GNOME-FullName[zh_CN]=Gnumeric 电子表格
X-GNOME-FullName[zh_TW]=Gnumeric 試算表
Comment=Calculation, Analysis, and Visualization of Information
Comment[ca]=Càlcul, anàlisi, i visualització d'informació
Comment[ca@valencia]=Càlcul, anàlisi, i visualització d'informació
Comment[cs]=Výpočty, analýzy a vizualizace informací
Comment[da]=Beregning, analyse og visualisering af information
Comment[de]=Berechnung, Analyse und Darstellung von Information
Comment[dz]=བརྡ་དོན་གྱི་་རྩིས་ལས་ དཔྱད་ཞིབ་ དང་འཆར་སྣང་
Comment[el]=Υπολογισμός, ανάλυση και εμφάνιση της πληροφορίας
Comment[en_GB]=Calculation, Analysis, and Visualisation of Information
Comment[es]=Cálculo, análisis, y visualización de información
Comment[et]=Arvutamine, analüüs ja teabe visualiseerimine
Comment[eu]=Kalkulatu, analizatu eta bistaratu informazioa
Comment[fi]=Tiedon laskenta, analyysi ja visualisointi
Comment[fr]=Calculs, analyses et visualisation d'informations
Comment[he]=חישוב, ניתוח והדמיית נתונים
Comment[hu]=Információk számítása, elemzése és megjelenítése
Comment[kk]=Есептеу, талдау, және мәліметті бейнелік түрінде көрсету
Comment[lt]=Informacijos apdorojimas, analizė ir atvaizdavimas
Comment[mk]=Пресметување, анализа и визуелизација на информациите
Comment[nb]=Kalkulering, analyse og visualisering av informasjon
Comment[ne]=सूचनाको गणना, विश्लेषण, र दृष्टिकरण
Comment[pt_BR]=Cálculo, análise e visualização de informações
Comment[ru]=Вычисление, анализ и визуализация информации
Comment[sl]=Preračunavanje, analiza in predočenje podatkov in podrobnosti
Comment[sv]=Beräkning, analys och visualisering av information
Comment[vi]=Tính, phân tích và cách thức hiển thị thông tin
Comment[zh_TW]=計算, 分析及資訊圖像化
Exec=gnumeric
Icon=/usr/share/icons/hicolor/48x48/apps/gnumeric.png
Terminal=false
Type=Application
Categories=Spreadsheet;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Gnumeric
X-GNOME-Bugzilla-Version=1.10.17
X-GNOME-Bugzilla-Component=General
X-GNOME-DocPath=gnumeric
MimeType=application/x-gnumeric;application/vnd.ms-excel;application/excel;application/msexcel;application/x-excel;application/x-ms-excel;application/x-msexcel;application/x-xls;application/xls;application/x-dos_ms_excel;zz-application/zz-winassoc-xls;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/tab-separated-values;text/csv;text/x-csv;text/spreadsheet;text/tab-separated-values;application/vnd.lotus-1-2-3;application/x-123;application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/x-applix-spreadsheet;application/x-mps;application/x-oleo;application/x-planperfect;application/x-quattropro;application/x-sc;application/x-sylk;application/x-dbase;application/x-dbf;application/x-xbase;
