[Desktop Entry]
Encoding=UTF-8
Name=Gpptp - VPN client
Icon=/usr/share/pixmaps/puppy/network.svg
Comment=Gpptp PPTP VPN client
Exec=gpptp
Terminal=false
Type=Application
Categories=Network
GenericName=Gpptp
