[Desktop Entry]
Encoding=UTF-8
Name=Grub4Dos - Bootloader Configuration
Name[de]=Grub4Dos bootloader Konfiguration
Name[es]=Grub4Dos-Configuración de cargador de arranque
Name[hu_HU]=Grub4Dos rendszertöltő beállítás
Name[ja]=Grub4Dos ブートローダの設定
Name[pt]=Configuração de inicialização Grub4Dos
Name[ru]=Grub4Dos конфигурация загрузчика
Name[zh_CN]=Grub4Dos 引导配置
Name[zh_TW]=Grub4Dos 開機引導配置
Icon=gnibbles.png
Comment=Grub4Dos bootloader config
Exec=grub4dosconfig
Terminal=false
Type=Application
Categories=X-SystemMemory;
GenericName=Grub bootloader config
