[Desktop Entry]
Encoding=UTF-8
Name=Homebank - Personal Accounting
Icon=/usr/share/icons/hicolor/16x16/apps/homebank.png
Comment=Homebank personal accounting
Exec=/usr/bin/homebank
Terminal=false
Type=Application
Categories=X-Calculate
GenericName=Homebank personal accounting