[Desktop Entry]
Encoding=UTF-8
Name=Htop - System Process Viewer
Icon=/usr/local/lib/X11/mini-icons/mini-eyes.xpm
Comment=Htop System Process Viewer
Exec=/usr/bin/urxvt -e htop
Terminal=false
Type=Application
Categories=Monitor
GenericName=Htop System Process Viewer
