[Desktop Entry]
Encoding=UTF-8
Name=Desktop icon switcher
Icon=/usr/share/pixmaps/puppy/desktop_icons.svg
Comment=Change desktop and menu icons
Exec=icon_switcher
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=PIS
NoDisplay=true
