[Desktop Entry]
Encoding=UTF-8
Name=InkLite - Vector Graphics Editor
Icon=inkscape.xpm
Comment=InkLite vector editor
Exec=inkscapelite
Terminal=false
Type=Application
Categories=VectorGraphics
GenericName=InkLite vector editor
