[Desktop Entry]
Encoding=UTF-8
Name=Internet Connection Wizard
Icon=wizard16.xpm
Comment=Internet Connection Wizard
Exec=connectwizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Internet Connection Wizard
