[Desktop Entry]
Encoding=UTF-8
Name=Internet connection wizard
Icon=/usr/share/pixmaps/puppy/internet_connect.svg
Comment=Configure internet connection 
Exec=connectwizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Internet connection wizard
