[Desktop Entry]
Encoding=UTF-8
Name=IPInfo - Network Information
Icon=/usr/share/pixmaps/puppy/network.svg
Comment=IPInfo network information
Exec=ipinfo
Terminal=false
Type=Application
Categories=X-System
GenericName=IPInfo
