[Desktop Entry]
Encoding=UTF-8
Name=Java Control Panel
Comment=Java Control Panel
Exec=javaif
Icon=java.png
Terminal=false
Type=Application
Categories=X-Utility-development;
NoDisplay=false
