[Desktop Entry]
Encoding=UTF-8
Name=JWMConfig - Window Manager Settings
Icon=/usr/share/pixmaps/puppy/windows.svg
Comment=JWM Window Manager Settings
Exec=jwmconfig
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=JWM Window Manager Settings
