[Desktop Entry]
Encoding=UTF-8
Name=Leafpad - Text Editor
Icon=leafpad.png
Comment=Leafpad Simple Text Editor
Exec=leafpad
Terminal=false
Type=Application
Categories=TextEditor
GenericName=Leafpad Simple Text Editor
