[Desktop Entry]
Encoding=UTF-8
Name=Legacy GRUB - Boot Configuration
Icon=/usr/share/pixmaps/puppy/startup_os.svg
Comment=Legacy GRUB Config 2013
Exec=legacy_grub_2013
Terminal=false
Type=Application
Categories=X-System-memory
GenericName=Legacy GRUB Config 2013
