[Desktop Entry]
Encoding=UTF-8
Name=Legacy GRUB Config 2013
Icon=grubconfig.xpm
Comment=Legacy GRUB Config 2013
Exec=legacy_grub_2013
Terminal=false
Type=Application
Categories=X-System-memory
GenericName=Legacy GRUB Config 2013
