[Desktop Entry]
Encoding=UTF-8
Name=Video-Info Graphics Information
Comment=Graphics Information
Exec=video-info
Terminal=false
Type=Application
Categories=System;
GenericName=Graphics interface information
Icon=/usr/share/icons/video-info.png
