[Desktop Entry]
Encoding=UTF-8
Name=Sys-Info - System Information
Comment=Comprehensive System Report
Exec=sys-info
Terminal=false
Type=Application
Categories=System;
GenericName=System Report
Icon=/usr/share/icons/sys-info.png
