[Desktop Entry]
Encoding=UTF-8
Name=Firewall - Firewall Setup
Icon=/usr/share/pixmaps/puppy/shield_internet.svg
Comment=Linux-Firewall firewall
Exec=rxvt -e firewallinstallshell
Terminal=false
Type=Application
Categories=Network
GenericName=Linux-Firewall
