[Desktop Entry]
Encoding=UTF-8
Name=Login Manager - User/Security Setup
Icon=/usr/share/pixmaps/puppy/user_login.svg
Comment=LoginManager configure login and security
Exec=loginmanager
Terminal=false
Type=Application
Categories=X-System-security
GenericName=loginmanager
