[Desktop Entry]
Encoding=UTF-8
Name=Login and Security Manager
Icon=mini-System-security.xpm
Comment=LoginManager configure login and security
Exec=loginmanager
Terminal=false
Type=Application
Categories=X-System-security
GenericName=loginmanager
