[Desktop Entry]
Encoding=UTF-8
Name=Menu Manager - Menu Editor
Icon=menu.svg
Comment=Menu Manager - edit the menu
Exec=menumanager
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Menu Manager - edit the menu
NoDisplay=false
