[Desktop Entry]
Encoding=UTF-8
Name=MoManager create non-English Puppy
Icon=chooselocale.xpm
Comment=MoManager create non-English translations
Exec=momanager
Terminal=false
Type=Application
Categories=X-Utility-development
GenericName=MoManager
