[Desktop Entry]
Encoding=UTF-8
Name=MoManager - Non-English Puppy Creator
Icon=/usr/share/pixmaps/puppy/country_language.svg
Comment=MoManager create non-English translations
Exec=momanager
Terminal=false
Type=Application
Categories=X-Utility-development
GenericName=MoManager
