[Desktop Entry]
Encoding=UTF-8
Name=Mouse/keyboard Wizard
Icon=/usr/share/pixmaps/puppy/mouse_keyboard.svg
Comment=Mouse/keyboard Wizard
Exec=input-wizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Mouse/keyboard Wizard
