[Desktop Entry]
Encoding=UTF-8
Name=Mouse/keyboard Wizard
Icon=wizard16.xpm
Comment=Mouse/keyboard Wizard
Exec=input-wizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Mouse/keyboard Wizard
