[Desktop Entry]
Encoding=UTF-8
Name=Mouse/Keyboard Wizard
Icon=/usr/share/pixmaps/puppy/mouse_keyboard.svg
Comment=Mouse/Keyboard Wizard
Exec=input-wizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Mouse/Keyboard Wizard
