[Desktop Entry]
Encoding=UTF-8
Name=MTPaint - Image Editor
Icon=/usr/share/pixmaps/mtpaint.png
Comment=mtPaint image editor
Exec=/usr/bin/mtpaint
Terminal=false
Type=Application
Categories=RasterGraphics
GenericName=mtPaint image editor
