[Desktop Entry]
Encoding=UTF-8
Name=Osmo - Personal Organizer
Icon=osmo.png
Comment=Osmo personal organizer
Exec=osmo
Terminal=false
Type=Application
Categories=X-Personal
GenericName=Osmo
