[Desktop Entry]
Encoding=UTF-8
Name=Partview free space in drives
Icon=/usr/share/pixmaps/puppy/partition.svg
Comment=Partview free space in drives
Exec=partview
Terminal=false
Type=Application
Categories=X-Filesystem-storage
GenericName=Partview
