[Desktop Entry]
Encoding=UTF-8
Name=Partview
Icon=/usr/share/pixmaps/puppy/partition.svg
Comment=Show size and free space of partitions
Exec=partview
Terminal=false
Type=Application
Categories=X-Filesystem-storage
GenericName=Drive info
