[Desktop Entry]
Encoding=UTF-8
Name=Pavrecord  - Media Recorder/Player
Icon=/usr/share/pixmaps/puppy/speaker_2.svg
Comment=Pavrecord Audio-Video recorder/player
Exec=/usr/bin/pavrecord
Terminal=false
Type=Application
Categories=Video
GenericName=Pavrecord Audio-Video recorder/player
