[Desktop Entry]
Encoding=UTF-8
Name=Pbackup - Backup/Sync
Icon=mini-diskette.xpm
Comment=Pbackup Backup and Sync
Exec=pbackup
Terminal=false
Type=Application
Categories=Archiving
GenericName=Pbackup Backup and Sync
