[Desktop Entry]
Encoding=UTF-8
Name=Pcur cursor selector
Icon=/usr/share/pixmaps/puppy/mouse_cursor.svg
Comment=Mouse cursor selector
Exec=pcur
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Pcur
NoDisplay=true
