[Desktop Entry]
Encoding=UTF-8
Name=Pdict online dictionary
Icon=/usr/share/pixmaps/puppy/book_dictionary.svg
Comment=Pdict online dictionary
Exec=pdict
Terminal=false
Type=Application
Categories=X-Document-utility
GenericName=Pdict
