[Desktop Entry]
Encoding=UTF-8
Name=Pdict
Icon=/usr/share/pixmaps/puppy/book_dictionary.svg
Comment=Online dictionary
Exec=pdict
Terminal=false
Type=Application
Categories=X-Document-utility
GenericName=Dictionary
