[Desktop Entry]
Encoding=UTF-8
Name=Pdisk partition manager
Icon=Pdisk.xpm
Comment=Pdisk partition manager
Exec=Pdisk
Terminal=false
Type=Application
Categories=X-System-storage
GenericName=Pdisk partition manager
NoDisplay=true
