[Desktop Entry]
Encoding=UTF-8
Name=Pdvdrsab - DVD Ripper/Burner
Icon=/usr/share/pixmaps/puppy/cd_rip.svg
Comment=Pdvdrsab rip/shrink/author/burn
Exec=pdvdrsab
Terminal=false
Type=Application
Categories=X-Multimedia-optical
GenericName=Pdvdrsab
