[Desktop Entry]
Encoding=UTF-8
Name=PeasyPDF - PDF Builder/Extractor
Icon=mini-pdf.xpm
Comment=Manipulate PDF documents
Exec=peasypdf
Terminal=false
Type=Application
Categories=X-DocumentUtility
GenericName=PeasyPDF
