[Desktop Entry]
Encoding=UTF-8
Name=Peasyscan - Image Scanner
Icon=peasyscan.xpm
Comment=Peasyscan simple image scanner
Exec=/usr/local/peasyscan/peasyscan
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=Peasyscan
