[Desktop Entry]
Encoding=UTF-8
Name=PeasyScale - JPEG Resizer
Icon=mini-camera.xpm
Comment=JPEG image resizer
Exec=peasyscale
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=PeasyScale
