[Desktop Entry]
Encoding=UTF-8
Name=PeasyGlue - Join Images
Icon=glue.xpm
Comment=Image joiner
Exec=peasyglue
Terminal=false
Type=Application
Categories=X-Graphic-utility
GenericName=PeasyGlue
