[Desktop Entry]
Encoding=UTF-8
Name=PeasyPort - LAN scanner
Icon=apm-online.xpm
Comment=Network port scanner
Exec=peasyport
Terminal=false
Type=Application
Categories=Network
GenericName=PeasyPort
