[Desktop Entry]
Encoding=UTF-8
Name=PeasyPrint - Image Printing
GenericName=PeasyPrint
Comment=PeasyPrint graphic/photo printing
Exec=/usr/sbin/peasyprint
Icon=tb_print.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=X-Graphic-print
