[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=petget
Exec=petget
MimeType=application/pet
Icon=/usr/share/pixmaps/puppy/package_pet.svg
