[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=pExtract
Exec=pextract
Comment=Extract packages
Icon=/usr/share/pixmaps/puppy/package.svg
MimeType=application/gzip;application/pet;application/vnd.comicbook+zip;application/vnd.ms-cab-compressed;application/vnd.rar;application/x-7z-compressed;application/x-archive;application/x-bzip;application/x-bzip2;application/x-bzip-compressed-tar;application/x-cbr;application/x-cbz;application/x-cd-image;application/x-cd-image.application_zip;application/x-compressed-tar;application/x-gzip;application/x-iso9660-image;application/x-lha;application/x-lrzip;application/x-lrzip-compressed-tar;application/x-lzip;application/x-lzma-compressed-tar;application/x-ms-dos-executable;application/x-msi;application/x-ms-wim;application/x-rar;application/x-squashfs-image;application/x-tar;application/x-tarz;application/x-tgz;application/x-tzo;application/x-xz;application/x-xz-compressed-tar;application/zip;
