[Desktop Entry]
Encoding=UTF-8
Name=Pfind - File Finder
Name[de]=Pfind Datei finder
Name[es]=Pfind-Buscador de Archivos
Name[fr]=Recherche de fichiers
Name[hu_HU]=Pfind fájl kereső
Name[ja]=Pfind ファイル検索
Icon=/usr/share/pixmaps/puppy/find.svg
Comment=Pfind file finder
Exec=pfind
Terminal=false
Type=Application
Categories=X-FilesystemFind
GenericName=Pfind file finder
