[Desktop Entry]
Encoding=UTF-8
Name=PicPuz - Jigsaw Game
Icon=picpuz.png
Comment=jigsaw puzzle
Exec=picpuz
Terminal=false
Type=Application
Categories=X-Fun-puzzle
GenericName=PicPuz
