[Desktop Entry]
Encoding=UTF-8
Name=pMirror
Icon=/usr/share/pixmaps/puppy/directory_execute.svg
Comment=Syncronize a backup directory
Exec=pmirror
Terminal=false
Type=Application
Categories=Archiving
GenericName=Syncronizing backup 
