[Desktop Entry]
Encoding=UTF-8
Name=Pmirror backup a directory
Icon=/usr/share/pixmaps/puppy/directory_execute.svg
Comment=Pmirror backup a directory
Exec=pmirror
Terminal=false
Type=Application
Categories=Archiving
GenericName=Pmirror backup a directory
