[Desktop Entry]
Encoding=UTF-8
Name=Pmirror - Directory Backup
Icon=mini-folder.xpm
Comment=Pmirror backup a directory
Exec=/usr/local/pmirror/pmirror
Terminal=false
Type=Application
Categories=Archiving
GenericName=Pmirror backup a directory
