[Desktop Entry]
Encoding=UTF-8
Name=Pmount mount/unmount drives
Icon=mini-diskette.xpm
Comment=Pmount mount/unmount drives
Exec=pmount
Terminal=false
Type=Application
Categories=X-Filesystem-mount
GenericName=Pmount mount/unmount drives
