[Desktop Entry]
Encoding=UTF-8
Name=Pmount - Mount/Unmount Drives
Icon=/usr/share/pixmaps/puppy/harddisk.svg
Comment=Pmount mount/unmount drives
Exec=pmount
Terminal=false
Type=Application
Categories=X-Filesystem-mount
GenericName=Pmount mount/unmount drives
