[Desktop Entry]
Encoding=UTF-8
Name=Pmount
Icon=/usr/share/pixmaps/puppy/harddisk.svg
Comment=Mount/unmount partitions
Exec=pmount
Terminal=false
Type=Application
Categories=X-Filesystem-mount
GenericName=Drive mounting tool
