[Desktop Entry]
Encoding=UTF-8
Name=PMirrorget - Website Downloader
Icon=/usr/share/pixmaps/puppy/install.svg
Comment=Website File Grabber
Exec=pmwget
Terminal=false
Type=Application
Categories=X-Internet-transfer
GenericName=PMirrorget
