[Desktop Entry]
Encoding=UTF-8
Name=Pnethood - Windows Share Access
Icon=/usr/local/apps/pnethood/network-transmit.png
Comment=connect to samba shares
Exec=pnethood
Terminal=false
Type=Application
Categories=Network
GenericName=Pnethood access windows shares
