[Desktop Entry]
Encoding=UTF-8
Name=Pns-tool - Commandline Connect Tool
Icon=/usr/share/pixmaps/puppy/network_connect.svg
Comment=pns-tool connect from commandline
Exec=pns-tool-wrapper
Terminal=false
Type=Application
Categories=Network
GenericName=pns-tool connect from commandline
