[Desktop Entry]
Encoding=UTF-8
Name=PPLOG - Personal Blog
Icon=/usr/share/pixmaps/puppy/book.svg
Comment=PPLOG personal blog
Exec=pplog_gui
Terminal=false
Type=Application
Categories=X-Personal-organizer
GenericName=PPLOG
