[Desktop Entry]
Encoding=UTF-8
Name=Precord - Audio Recorder/Player
Icon=/usr/share/pixmaps/puppy/sound.svg
Comment=Precord mp3,ogg,wav recorder/player
Exec=/usr/bin/precord
Terminal=false
Type=Application
Categories=Audio
GenericName=Precord mp3,ogg,wav recorder/player
