[Desktop Entry]
Encoding=UTF-8
Name=Premote - Rdesktop/VNC/SSH Client
Icon=/usr/share/pixmaps/puppy/network_connect.svg
Comment=Premote - Rdesktop/VNC/SSH Client
Exec=/usr/bin/premote
Terminal=false
Type=Application
Categories=Network
GenericName=Premote
