[Desktop Entry]
Encoding=UTF-8
Name=PuppyPhone - Internet Telephone
Icon=phone16.png
Comment=Psip PuppyPhone Internet telephone
Exec=psip32
Terminal=false
Type=Application
Categories=Telephony
GenericName=Psip Puppy Phone
