[Desktop Entry]
Encoding=UTF-8
Name=Psync Time Server Synchronisation
Icon=/usr/share/pixmaps/puppy/clock.svg
Comment=Psync Time Server Synchronisation
Exec=psync
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Psync Time Server Synchronisation
