[Desktop Entry]
Encoding=UTF-8
Name=pSynclient Touchpad Setup
Icon=/usr/share/pixmaps/puppy/touchpad.svg
Comment=Configure your synaptics touchpad
Exec=psynclient
Terminal=false
Type=Application
Categories=X-Desktop;System
GenericName=psynclient
