[Desktop Entry]
Encoding=UTF-8
Name=Psync
Icon=/usr/share/pixmaps/puppy/clock.svg
Comment=Synchronize system time from an internet server
Exec=psync
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Time synchronisation
