[Desktop Entry]
Encoding=UTF-8
Name=pTiming - Event Timer
Icon=/usr/share/icons/hicolor/scalable/apps/ptiming.svg
Comment=pTiming event timer system
Exec=ptiming
Terminal=false
Type=Application
Categories=X-PersonalUtility
GenericName=pTiming event timer system
