[Desktop Entry]
Encoding=UTF-8
Name=Pudd
Icon=/usr/share/pixmaps/puppy/copy_disk.svg
Comment=Copy complete drive/partition
Exec=Pudd
Terminal=false
Type=Application
Categories=Archiving
GenericName=Copy drive
