[Desktop Entry]
Encoding=UTF-8
Name=Pup-Kview - Kernel Module Viewer
Icon=/usr/local/Pup-Kview/icons/Pup-Kview48.png
Comment=Kernel module viewer
Exec=/usr/local/Pup-Kview/Pup-Kview
Terminal=false
Type=Application
Categories=System;
GenericName=Kernel module viewer
