[Desktop Entry]
Encoding=UTF-8
Name=Pup-Advert-Blocker block online ads
Icon=/usr/share/pixmaps/puppy/dialog_stop.svg
Comment=Blocks many online adverts
Exec=pup-advert-blocker
Terminal=false
Type=Application
Categories=X-Internet-block
GenericName=Pup-Advert-Blocker
