[Desktop Entry]
Encoding=UTF-8
Name=Pup-SysInfo - System Information
Icon=/usr/local/Pup-SysInfo/icons/Pup-SysInfo48.png
Comment=System information utility
Exec=/usr/local/Pup-SysInfo/Pup-SysInfo
Terminal=false
Type=Application
Categories=System;
GenericName=System information utility
