[Desktop Entry]
Encoding=UTF-8
Name=PupCamera digital camera access
Comment=Browse and download images from an attached digital camera
Exec=pupcamera
Icon=/usr/share/pixmaps/puppy/photocamera.svg
Terminal=false
Type=Application
Categories=X-Graphic-camera
