[Desktop Entry]
Encoding=UTF-8
Name=Mounted Disk Image Manager
Icon=/usr/share/pixmaps/puppy/cdrom.svg
Comment=Mounted Image Manager
Exec=pupimgfile-manager
Terminal=false
Type=Application
Categories=Utility
GenericName=Mounted Disk Image Manager
NoDisplay=false
