[Desktop Entry]
Encoding=UTF-8
Name=PupMTP access MTP devices
Comment=Manage files from an attached MTP device
Exec=pupmtp
Icon=/usr/share/pixmaps/puppy/phone_mobile.svg
Terminal=false
Type=Application
Categories=X-Filesystem-mount
