[Desktop Entry]
Encoding=UTF-8
Name=PupMixer
Icon=/usr/share/pixmaps/puppy/sound_mixer.svg
Comment=Sound Mixer
Exec=pupmixer
Terminal=false
Type=Application
Categories=Multimedia;Mixer;
GenericName=Sound Mixer
NoDisplay=false
