[Desktop Entry]
Encoding=UTF-8
Name=Set default apps
Icon=/usr/share/pixmaps/puppy/execute_inspect.svg
Comment=Select default applications
Exec=puppyapps
Terminal=false
Type=Application
Categories=X-SetupEntry
GenericName=Default application chooser
