[Desktop Entry]
Encoding=UTF-8
Name=Event Manager - Device/Session/Power Configuration
Icon=/usr/share/pixmaps/puppy/execute.svg
Comment=Puppy Event Manager
Exec=eventmanager
Terminal=false
Type=Application
Categories=X-SystemSchedule
GenericName=eventmanager
