[Desktop Entry]
Encoding=UTF-8
Name=Puppy universal installer
Icon=/usr/share/pixmaps/puppy/puppy_install.svg
Comment=Puppy universal installer
Exec=/usr/sbin/puppyinstaller
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Puppy universal installer
