[Desktop Entry]
Encoding=UTF-8
Name=Default Applications Chooser
Icon=/usr/share/pixmaps/puppy/execute_inspect.svg
Comment=Default Applications Chooser
Exec=puppyapps
Terminal=false
Type=Application
Categories=X-SetupEntry
GenericName=PuppyApps
