[Desktop Entry]
Encoding=UTF-8
Name=Puppy Event Manager
Icon=so.xpm
Comment=Puppy Event Manager
Exec=eventmanager
Terminal=false
Type=Application
Categories=X-SystemSchedule
GenericName=eventmanager
