[Desktop Entry]
Encoding=UTF-8
Name=Puppy universal installer
Icon=mini-ray.xpm
Comment=Puppy universal installer
Exec=/usr/sbin/puppyinstaller
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Puppy universal installer
