[Desktop Entry]
Encoding=UTF-8
Name=puppyPDF - PDF Maker
Icon=/usr/share/pixmaps/puppy/pdf.svg
Comment=puppyPDF convert file to PDF
Exec=puppypdf
Terminal=false
Type=Application
Categories=X-Document-utility
GenericName=puppyPDF convert file to PDF
