[Desktop Entry]
Encoding=UTF-8
Name=Check dependencies installed pkg
Icon=pet16.xpm
Comment=Puppy Package Manager
Exec=/usr/local/petget/check_deps.sh
Terminal=false
Type=Application
Categories=X-SetupEntry
GenericName=Puppy Package Manager
