[Desktop Entry]
Encoding=UTF-8
Name=PupRadio - Radio/TV Streamer
Icon=Animation.xpm
Comment=pupRadio/pupTelly streaming media
Exec=pupradio
Terminal=false
Type=Application
Categories=AudioVideo
GenericName=pupRadio
