[Desktop Entry]
Encoding=UTF-8
Name=Pupsave Backup
Icon=/usr/share/pixmaps/puppy/copy_disk.svg
Comment=Quick backup of your Puppy savefiles
Exec=pupsave-backup
Terminal=false
Type=Application
Categories=Archiving
GenericName=Backup OS files
