[Desktop Entry]
Encoding=UTF-8
Name=Pupsave Backup
Icon=/usr/share/pixmaps/puppy/copy_disk.svg
Comment=Hot backup for frugal save files
Exec=pupsave-backup
Terminal=false
Type=Application
Categories=Archiving
GenericName=Pupsave Backup
