[Desktop Entry]
Encoding=UTF-8
Name=PupScan - Interface Information
Icon=/usr/share/pixmaps/puppy/card_pci.svg
Comment=PupScan interface information
Exec=pupscan
Terminal=false
Type=Application
Categories=X-System
GenericName=PupScan interface information
