[Desktop Entry]
Encoding=UTF-8
Name=PupX - X-Windows Settings
Icon=mini-Desktop-settings.xpm
Comment=pupX X settings
Exec=pupx
Terminal=false
Type=Application
Categories=X-Desktop-settings
GenericName=pupX
