[Desktop Entry]
Encoding=UTF-8
Name=pupX set properties of X
Icon=/usr/share/pixmaps/puppy/screen_resolution.svg
Comment=pupX X settings
Exec=pupx
Terminal=false
Type=Application
Categories=X-Desktop-settings
GenericName=pupX
