[Desktop Entry]
Encoding=UTF-8
Name=Screensaver setup
Icon=/usr/share/pixmaps/puppy/screen_resolution.svg
Comment=Configure a screensaver
Exec=pupx
Terminal=false
Type=Application
Categories=X-Desktop-settings
GenericName=Screensaver setup
