[Desktop Entry]
Encoding=UTF-8
Name=PureFTPd - FTP server
Icon=/usr/share/pixmaps/puppy/internet_connect_yes.svg
Comment=PureFTPd FTP server
Exec=run-pureftpd
Terminal=false
Type=Application
Categories=X-Network-transfer
GenericName=PureFTPd FTP server
