[Desktop Entry]
Encoding=UTF-8
Name=Pwsget - Secure File Downloader
Icon=pwget.png
Comment=Pwsget secure file downloader
Exec=pwsget
Terminal=false
Type=Application
Categories=FileTransfer
GenericName=Pwsget
