[Desktop Entry]
Encoding=UTF-8
Name=PZCHMView - CHM Help File Viewer
Icon=mini-book1.xpm
Comment=PZCHMView CHM Viewer
Exec=pzchmview
Terminal=false
Type=Application
Categories=X-DocumentUtility
GenericName=PZCHMView
