[Desktop Entry]
Encoding=UTF-8
Name=QuickSetup first-run settings
Icon=/usr/share/pixmaps/puppy/puppy_config.svg
Comment=First-run screen resolution and country settings 
Exec=quicksetup
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=QuickSetup
