[Desktop Entry]
Encoding=UTF-8
Name=QuickSetup
Icon=/usr/share/pixmaps/puppy/puppy_config.svg
Comment=First-run setup of resolution, country and network
Exec=quicksetup
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=First-run setup
