[Desktop Entry]
Encoding=UTF-8
Name=Remaster Puppy live-CD
Icon=mini-ray.xpm
Comment=Remaster Puppy live-CD
Exec=/usr/sbin/remasterpup2
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Remaster Puppy live-CD
