[Desktop Entry]
Encoding=UTF-8
Name=Remove builtin packages
Icon=/usr/share/pixmaps/puppy/package_remove.svg
Comment=Remove builtin packages
Exec=/usr/sbin/remove_builtin
Terminal=false
Type=Application
Categories=X-SetupUtility
GenericName=remove_builtin
