[Desktop Entry]
Encoding=UTF-8
Name=Remove builtin packages
Icon=mini-ray.xpm
Comment=Remove builtin packages
Exec=/usr/sbin/remove_builtin
Terminal=false
Type=Application
Categories=X-SetupUtility
GenericName=remove_builtin
