[Desktop Entry]
Version=1.0
Type=Application
Name=Repack builtin packages
Comment=Repack builtin packages
Exec=repack_builtin
Icon=application-pet
Path=
Terminal=false
StartupNotify=false
Categories=System
