[Desktop Entry]
Encoding=UTF-8
Name=Rubix Cube - 3D Puzzle
Icon=cube16.xpm
Comment=Rubix cube
Exec=rubix
Terminal=false
Type=Application
Categories=Game
GenericName=Rubix cube
