[Desktop Entry]
Encoding=UTF-8
Name=YASSM - Samba Share Search
Name[fr]=Recherche de partage Samba  YASSM
Icon=/usr/local/yassm/samba-menu.xpm
Comment=Yet another Samba share mounter
Comment[fr]=Encore un autre monteur de partage Samba
Exec=/usr/local/yassm/samba-search
Terminal=false
Type=Application
Categories=Network
GenericName=samba-search
