[Desktop Entry]
Encoding=UTF-8
Name=YASSM - Samba Share Select
Name[fr]=Définir un partage Samba  YASSM
Icon=/usr/local/yassm/samba-menu.xpm
Comment=Yet another Samba share mounter
Comment[fr]=Encore un autre monteur de partage Samba
Exec=/usr/local/yassm/samba-select
Terminal=false
Type=Application
Categories=Network
GenericName=samba-select
NoDisplay=true
