[Desktop Entry]
Encoding=UTF-8
Name=Secure ssh remote login
Icon=mini-sh1.xpm
Comment=Secure ssh remote login
Exec=securetelnetshell
Terminal=false
Type=Application
Categories=X-Internet-login
GenericName=Secure ssh remote login
