[Desktop Entry]
Encoding=UTF-8
Name=Set HW-clock type
Icon=/usr/share/pixmaps/puppy/clock.svg
Comment=Configure the hardware-clock type
Exec=set_hwclock_type
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Set hardware-clock type
NoDisplay=true
