[Desktop Entry]
Encoding=UTF-8
Name=Set Time - Date/Time Adjustment
Icon=/usr/share/pixmaps/puppy/date_time.svg
Comment=Set date and time
Exec=set-time-for-puppy
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Set date and time
