[Desktop Entry]
Encoding=UTF-8
Name=HWClock - Hardware-Clock Setting
Icon=/usr/share/pixmaps/puppy/clock.svg
Comment=Set HW-clock type
Exec=set_hwclock_type
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Set HW-clock type
NoDisplay=true
