[Desktop Entry]
Encoding=UTF-8
Name=Set date and time
Icon=mini-clock.xpm
Comment=Set date and time
Exec=set-time-for-puppy
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Set date and time
