[Desktop Entry]
Encoding=UTF-8
Name=Set timezone
Icon=mini-clock.xpm
Comment=Set timezone
Exec=timezone-set
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Set timezone
