[Desktop Entry]
Encoding=UTF-8
Name=Set global font size
Icon=mini-x.xpm
Comment=Set global font size
Exec=set-xftdpi
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Set global font size
