[Desktop Entry]
Encoding=UTF-8
Name=SFS-Load on-the-fly
Icon=squashfs-image.png
Comment=Load Squash files
Exec=sfs_load
Terminal=false
Type=Application
Categories=X-SetupEntry;PackageManager
GenericName=SFS file Loader
