[Desktop Entry]
Encoding=UTF-8
Name=SFS-Load
Icon=squashfs-image.png
Comment=SFS file loader
Exec=sfs_load
Terminal=false
Type=Application
Categories=X-SetupEntry;PackageManager
GenericName=SFS file loader
