[Desktop Entry]
Encoding=UTF-8
Name=SFS Manager - Download/Install SFS Files
Icon=/usr/share/pixmaps/puppy/package_sfs.svg
Comment=Sfs Manager download and install sfs files
Exec=sfs_mgr
Terminal=false
Type=Application
Categories=X-SetupEntry;PackageManager
GenericName=Sfs Manager download and install sfs files
