[Desktop Entry]
Encoding=UTF-8
Name=SFSconvert - SFS Version Converter
Icon=/usr/local/apps/ROX-Filer/ROX/MIME/application-x-squashfs-image.png
Comment=Utility to convert sfs 3 to 4, vice versa
Exec=/usr/local/sfsconvert/sfsconvert
Terminal=false
Type=Application
Categories=Utility
GenericName=SFSconvert
