[Desktop Entry]
Categories=Utility;
Comment=
Comment[en_US]=
Exec=/usr/bin/snap2
GenericName=
GenericName[en_US]=
Icon=/usr/share/pixmaps/snap2.xpm
MimeType=
Name=Snap2 - Backup
Name[en_US]=snap2 snapshot backup
Path=
StartupNotify=false
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
