[Desktop Entry]
Encoding=UTF-8
Name=Startup Control - control startup apps
Icon=/usr/share/pixmaps/puppy/startup_app.svg
Comment=Startup Control - control startup apps
Exec=wmstartups
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Startup Control - control startup apps
NoDisplay=true
