[Desktop Entry]
Encoding=UTF-8
Name=Startup apps manager
Icon=/usr/share/pixmaps/puppy/startup_app.svg
Comment=Configure what applications to run when Puppy boots
Exec=wmstartups
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Startup apps manager
NoDisplay=true
