[Desktop Entry]
Name=Sylpheed - Email Client
Name[ja]=Sylpheed
Comment=E-Mail client
Comment[de]=E-Mail Programm
Comment[fr]=Client de messagerie électronique
Comment[hu]=Grafikus email kliens
Comment[ja]=電子メールクライアント
Comment[pl]=Klient poczty elektronicznej
Comment[tr]=E-Posta İstemcisi
Comment[ru]=E-Mail клиент
Comment[uk]=E-Mail клієнт
Exec=sylpheed
Icon=sylpheed.png
Terminal=false
Type=Application
Categories=Email;
