[Desktop Entry]
Encoding=UTF-8
Name=Take a Shot! - Screenshot Utility
Icon=tas.xpm
Comment=Screenshot utility
Exec=tas
Terminal=false
Type=Application
Categories=X-GraphicUtility
