[Desktop Entry]
Name=Transmission - BitTorrent Client
Name[an]=Transmission
Name[ar]=ترانزميشن
Name[ast]=Transmission
Name[be]=Transmission
Name[be@latin]=Transmisija
Name[bg]=BitTorrent клиент (Transmission)
Name[bn]=ট্রান্সমিশন
Name[ca]=Transmission
Name[ca@valencia]=Transmission
Name[ckb]=Transmission
Name[cs]=Transmission
Name[da]=Transmission
Name[de]=Transmission
Name[el]=Transmission
Name[en_AU]=Transmission
Name[en_CA]=Transmission
Name[en_GB]=Transmission - BitTorrent Client
Name[eo]=Transmission
Name[es]=Transmission
Name[et]=Transmission
Name[eu]=Transmission
Name[fi]=Transmission
Name[fil]=Transmission
Name[fo]=Transmission
Name[fr]=Transmission
Name[gl]=Transmission
Name[he]=Transmission
Name[hi]=ट्रांसमिशन
Name[hr]=Transmission
Name[hu]=Transmission
Name[id]=Transmission
Name[is]=Torrent flutningur
Name[it]=Transmission
Name[ja]=Transmission
Name[kk]=Transmission
Name[ko]=트랜스미션
Name[ku]=Transmission
Name[li]=Transmission
Name[lt]=Transmission
Name[lv]=Transmission
Name[mk]=Transmission
Name[ms]=Transmission
Name[nb]=Transmission
Name[nl]=Transmission
Name[nn]=Transmission
Name[oc]=Transmission
Name[pl]=Transmission
Name[pt]=Transmission
Name[pt_BR]=Transmission
Name[ro]=Transmission
Name[ru]=Transmission
Name[si]=ට්‍රාන්ස්මිෂන්
Name[sk]=Transmission
Name[sl]=Transmission
Name[sq]=Transmission
Name[sr]=Трансмисија
Name[sv]=Transmission
Name[te]=ట్రాన్స్‍మిషన్
Name[th]=Transmission
Name[tr]=Transmission
Name[ug]=Transmission
Name[uk]=Transmission
Name[vi]=Transmission
Name[zh_CN]=Transmission
Name[zh_TW]=Transmission
GenericName=BitTorrent Client
GenericName[ar]=عميل «بت تورنت»
GenericName[ast]=Veceru de BitTorrent
GenericName[be]=Кліент BitTorrent
GenericName[be@latin]=Klijent BitTorrent
GenericName[bg]=BitTorrent клиент
GenericName[bn]=বিটটরেন্ট ক্লায়েন্ট
GenericName[br]=Arval BitTorrent
GenericName[ca]=Client de BitTorrent
GenericName[ca@valencia]=Client de BitTorrent
GenericName[cs]=BitTorrent klient
GenericName[da]=BitTorrent-klient
GenericName[de]=BitTorrent-Programm
GenericName[el]=Πελάτης BitTorrent
GenericName[en_AU]=BitTorrent Client
GenericName[en_CA]=BitTorrent Client
GenericName[en_GB]=BitTorrent Client
GenericName[eo]=BitTorrent-Kliento
GenericName[es]=Cliente de BitTorrent
GenericName[et]=BitTorrenti klient
GenericName[eu]=BitTorrent bezeroa
GenericName[fi]=BitTorrent-sovellus
GenericName[fo]=BitTorrent-viðskiftari
GenericName[fr]=Client BitTorrent
GenericName[gl]=Cliente de BitTorrent
GenericName[he]=תוכנת ביטורנט
GenericName[hi]=बिट-टोरेंट ग्राहक
GenericName[hr]=BitTorrent klijent
GenericName[hu]=BitTorrent kliens
GenericName[ia]=Cliente de BitTorrent
GenericName[id]=Aplikasi BitTorrent
GenericName[is]=BitTorrent forrit
GenericName[it]=Client BitTorrent
GenericName[ja]=BitTorrent クライアント
GenericName[kk]=BitTorrent қолданбасы
GenericName[ko]=비트토렌트 클라이언트
GenericName[ku]=Daxwazkera BitTorrent
GenericName[li]=BitTorrent-client
GenericName[lt]=„BitTorrent“ klientinė programa
GenericName[lv]=BitTorrent klients
GenericName[mk]=Клиент за BitTorrent
GenericName[ms]=Klient BitTorrent
GenericName[nb]=BitTorrent-klient
GenericName[nl]=BitTorrent-client
GenericName[nn]=BitTorrent-klient
GenericName[oc]=Client BitTorrent
GenericName[pl]=Klient sieci BitTorrent
GenericName[pt]=Cliente BitTorrent
GenericName[pt_BR]=Cliente BitTorrent
GenericName[ro]=Client BitTorrent
GenericName[ru]=Клиент BitTorrent
GenericName[sk]=BitTorrent klient
GenericName[sl]=BitTorrent odjemalec
GenericName[sq]=BitTorrent Klient
GenericName[sr]=БитТорент програм
GenericName[sv]=BitTorrent-klient
GenericName[te]=బిట్ టోరెంట్ క్లయింటు
GenericName[th]=โปรแกรม BitTorrent
GenericName[tr]=BitTorrent İstemcisi
GenericName[ug]=بىتتوررېنت خېرىدارى
GenericName[uk]=Клієнт BitTorrent
GenericName[vi]=Trình khách BitTorrent
GenericName[zh_CN]=BitTorrent 客户端
GenericName[zh_TW]=BitTorrent 用戶端
X-GNOME-FullName=Transmission BitTorrent Client
X-GNOME-FullName[ar]=ترانزميشن، عميل «بت تورنت»
X-GNOME-FullName[ast]=Cliente BitTorrent Transmission
X-GNOME-FullName[be]=BitTorrent-кліент Transmission
X-GNOME-FullName[be@latin]=Transmisija, klijent BitTorrent
X-GNOME-FullName[bg]=BitTorrent клиент (Transmission)
X-GNOME-FullName[bn]=ট্রান্সমিশন BitTorrent ক্লায়েন্ট
X-GNOME-FullName[br]=Arval BitTorrent Transmission
X-GNOME-FullName[ca]=Client de BitTorrent Transmission
X-GNOME-FullName[ca@valencia]=Client de BitTorrent Transmission
X-GNOME-FullName[cs]=BitTorrent klient Transmission
X-GNOME-FullName[da]=Transmission BitTorrent-klient
X-GNOME-FullName[de]=Transmission BitTorrent-Programm
X-GNOME-FullName[el]=Transmission πελάτης BitTorrent
X-GNOME-FullName[en_AU]=Transmission BitTorrent Client
X-GNOME-FullName[en_CA]=Transmission BitTorrent Client
X-GNOME-FullName[en_GB]=Transmission BitTorrent Client
X-GNOME-FullName[eo]=Transmission BitTorrent-Kliento
X-GNOME-FullName[es]=Cliente de BitTorrent Transmission
X-GNOME-FullName[et]=Transmission, BitTorrenti klient
X-GNOME-FullName[eu]=Transmission BitTorrent bezeroa
X-GNOME-FullName[fi]=Transmission – BitTorrent-sovellus
X-GNOME-FullName[fo]=Transmission BitTorrent-viðskiftari
X-GNOME-FullName[fr]=Client BitTorrent Transmission
X-GNOME-FullName[gl]=Cliente de BitTorrent Transmission
X-GNOME-FullName[he]=Transmission - תוכנת ביטורנט
X-GNOME-FullName[hi]=ट्रांसमिशन बिट-टोरेंट ग्राहक
X-GNOME-FullName[hr]=Transmission BitTorrent klijent
X-GNOME-FullName[hu]=Transmission Bittorrent kliens
X-GNOME-FullName[is]=Torrent flutningur
X-GNOME-FullName[it]=Client BitTorrent Transmission
X-GNOME-FullName[ja]=Transmission BitTorrent クライアント
X-GNOME-FullName[kk]=Transmission BitTorrent қолданбасы
X-GNOME-FullName[ko]=트랜스미션 비트토렌트 클라이언트
X-GNOME-FullName[ku]=Daxwazkera BitTorrent Transmission
X-GNOME-FullName[li]=Transmission BitTorrent-client
X-GNOME-FullName[lt]=„BitTorrent“ klientinė programa „Transmission“
X-GNOME-FullName[lv]=Transmission BitTorrent klients
X-GNOME-FullName[mk]=Transmission клиент за BitTorrent
X-GNOME-FullName[ms]=Klien BitTorrent Transmission
X-GNOME-FullName[nb]=Transmission BitTorrent-klient
X-GNOME-FullName[nl]=Transmission BitTorrent-client
X-GNOME-FullName[nn]=Transmission BitTorrent-klient
X-GNOME-FullName[oc]=Client BitTorrent Transmission
X-GNOME-FullName[pl]=Klient sieci BitTorrent Transmission
X-GNOME-FullName[pt]=Transmission, Cliente BitTorrent
X-GNOME-FullName[pt_BR]=Cliente BitTorrent Transmission
X-GNOME-FullName[ro]=Client BitTorrent Transmission
X-GNOME-FullName[ru]=BitTorrent-клиент Transmission
X-GNOME-FullName[si]=ට්‍රාන්ස්මිෂන් බිට්ටොරන්ට් සේවාදායක
X-GNOME-FullName[sk]=Transmission - klient siete BitTorrent
X-GNOME-FullName[sl]=Transmission BitTorrent odjemalec
X-GNOME-FullName[sq]=Transmission BitTorrent Klient
X-GNOME-FullName[sr]=Трансмисија — БитТорент програм
X-GNOME-FullName[sv]=BitTorrent-klienten Transmission
X-GNOME-FullName[te]=ట్రాన్స్‍మిషన్ బిట్ టోరెంట్ క్లయింటు
X-GNOME-FullName[th]=Transmission โปรแกรม BitTorrent
X-GNOME-FullName[tr]=Transmission BitTorrent İstemcisi
X-GNOME-FullName[ug]=Transmission بىتتوررېنت خېرىدارى
X-GNOME-FullName[uk]=BitTorrent-клієнт Transmission
X-GNOME-FullName[vi]=Trình khách BitTorrent Transmission
X-GNOME-FullName[zh_CN]=Transmission BitTorrent 客户端
X-GNOME-FullName[zh_TW]=Transmission BitTorrent 用戶端
Comment=Download and share files over BitTorrent
Comment[ar]=نزّل وشارك ملفات عبر «بت تورنت»
Comment[ast]=Baxar y compartir ficheros per aciu de BitTorrent
Comment[be]=Запампоўка і абмен файламі ў сеткі BitTorrent
Comment[be@latin]=Ściahvaj i rassyłaj fajły praz BitTorrent
Comment[bg]=Изтегляне и споделяне на файлове чрез BitTorrent
Comment[bn]=সমস্ত BitTorrent এ ফাইল ডাউনলোড এবং অংশগ্রহন করুন
Comment[ca]=Baixeu i compartiu fitxers mitjançant el BitTorrent
Comment[ca@valencia]=Baixeu i compartiu fitxers mitjançant el BitTorrent
Comment[cs]=Stahovat a sdílet soubory přes BitTorrent
Comment[da]=Download og del filer via BitTorrent
Comment[de]=Dateien über BitTorrent herunterladen und verteilen
Comment[el]=Λήψη και διαμοιρασμός των αρχείων μέσω του BitTorrent
Comment[en_AU]=Download and share files over BitTorrent
Comment[en_CA]=Download and share files over BitTorrent
Comment[en_GB]=Download and share files over BitTorrent
Comment[eo]=Elŝuti kaj kunhavigi dosierojn per BitTorrent
Comment[es]=Descargue y comparta archivos mediante BitTorrent
Comment[et]=Laadi alla ja levita faile BitTorrenti kaudu
Comment[eu]=Deskargatu eta partekatu fitxategiak BitTorrent bidez
Comment[fi]=Lataa ja jaa tiedostoja BitTorrentin avulla
Comment[fo]=Tak niður og deil fílur yvir BitTorrent
Comment[fr]=Reçoit et partage des fichiers via BitTorrent
Comment[gl]=Descargue e comparta ficheiros a través da rede BitTorrent
Comment[he]=הורדה ושיתוף קבצים ברשת ביטורנט
Comment[hi]=बिट-टोरेंट पर संचिका को डाउनलोड तथा साझा करें
Comment[hr]=Preuzimajte i dijelite datoteke preko BitTorrenta
Comment[hu]=Fájlok letöltése és megosztása BitTorrenten keresztül
Comment[id]=Unduh dan berbagi berkas melalui BitTorrent
Comment[is]=Sækja og deila skrám með BitTorrent
Comment[it]=Scarica e condivide i file via BitTorrent
Comment[ja]=BitTorrentでファイルをダウンロードおよび共有します
Comment[kk]=BitTorrent желісінде файлдарды жүктеңіз және бөлісіңіз
Comment[ko]=비트토렌트를 이용하여 파일을 다운로드 및 공유합니다
Comment[li]=Bestanje binnehoalen en deilen via BitTorrent
Comment[lt]=Atsiųskite ir dalinkitės failais per „BitTorrent“
Comment[lv]=Lejupielādēt un dalīties ar failiem caur BitTorrent
Comment[mk]=Преземете и споделувајте датотеки преку BitTorrent
Comment[ms]=Muat turun dan kongsi fail melalui BitTorrent
Comment[nb]=Last ned og del filer med BitTorrent
Comment[nl]=Bestanden binnenhalen en delen via BitTorrent
Comment[nn]=Last ned og del filer over BitTorrent
Comment[oc]=Recep e parteja de fichièrs via BitTorrent
Comment[pl]=Pobieranie i udostępnianie plików przez sieć BitTorrent
Comment[pt]=Receber e partilhar ficheiros via bittorrent
Comment[pt_BR]=Baixar e compartilhar arquivos pelo BitTorrent
Comment[ro]=Descarcă și partajează fișiere prin BitTorrent
Comment[ru]=Загружайте и обменивайтесь файлами в сети BitTorrent
Comment[sk]=Sťahujte a zdieľajte súbory cez BitTorrent
Comment[sl]=Prejemajte in dajte datoteke v souporabo preko BitTorrenta
Comment[sq]=Shkarko dhe shpërnda skedarët me BitTorrent
Comment[sr]=Преузимајте и размењујте датотеке преко БитТорент протокола
Comment[sv]=Hämta och dela ut filer över BitTorrent
Comment[te]=దిగుమతిచేయి మరియు ఫైళ్ళను బిట్ టోరెంట్ మీదుగా పంచుకొను
Comment[th]=ดาวน์โหลดและแลกเปลี่ยนแฟ้มผ่าน BitTorrent
Comment[tr]=Dosyaları BitTorrent üzerinden indir ve paylaş
Comment[ug]=بىتتوررېنت ئارقىلىق ھۆججەت چۈشۈرۈش ۋە ھەمبەھىرلەش
Comment[uk]=Завантажуйте та розповсюджуйте файли через BitTorrent
Comment[vi]=Tải và chia sẻ tập tin qua BitTorrent
Comment[zh_CN]=通过 BitTorrent 下载和共享文件
Comment[zh_TW]=透過 BitTorrent 協定來下載和分享檔案
Exec=transmission-gtk
Icon=/usr/share/icons/hicolor/24x24/apps/transmission.png
Terminal=false
TryExec=transmission-gtk
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=P2P;
X-Ubuntu-Gettext-Domain=transmission
X-AppInstall-Keywords=torrent 
Actions=Pause;Minimize;

[Desktop Action Pause]
Name=Start Transmission with All Torrents Paused
Exec=transmission-gtk --paused
OnlyShowIn=Unity

[Desktop Action Minimize]
Name=Start Transmission Minimized
Exec=transmission-gtk --minimized
OnlyShowIn=Unity;
