[Desktop Entry]
Encoding=UTF-8
Name=Update Manager - Slackware Updates
Icon=/usr/share/pixmaps/puppy/package_add.svg
Comment=Updates Manager -latest from Slackware
Exec=updates_mgr
Terminal=false
Type=Application
Categories=PackageManager
GenericName=Updates Manager -latest from Slackware
