[Desktop Entry]
Encoding=UTF-8
Name=Video Info GLX - OpenGL Report
Comment=OpenGL Graphics/CPU Report
Exec=video-info-glx
Terminal=false
Type=Application
Categories=System;
GenericName=Graphics interface information
Icon=/usr/share/pixmaps/video-info.png
