[Desktop Entry]
Encoding=UTF-8
Name=Video Upgrade Wizard
Icon=x16.xpm
Comment=Install later X drivers
Exec=video_upgrade_wizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Video Upgrade Wizard
