[Desktop Entry]
Encoding=UTF-8
Name=WakePup create boot floppy
Icon=/usr/share/pixmaps/puppy/startup_config.svg
Comment=WakePup create boot floppy
Exec=wakepup2
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=WakePup create boot floppy
