[Desktop Entry]
Encoding=UTF-8
Name=WCPUFreq - CPU Frequency Scaling
#Icon=/usr/local/lib/X11/mini-icons/so.xpm
Icon=/usr/share/icons/devices/cpu.png
Comment=CPU Frequency Scaling Tool
GenericName=CPU Frequency Scaling Tool
Exec=wcpufreq
Terminal=false
Type=Application
Categories=System;