[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=pre-wine %f
Name=Wine Handler
Icon=configuration48.png
MimeType=application/x-ms-dos-executable;
Comment=Handle windows program for wine
