[Desktop Entry]
Encoding=UTF-8
Name=Wizard Wizard
Icon=mini-dog.xpm
Comment=Wizard Wizard
Exec=wizardwizard
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=Wizard Wizard
