[Desktop Entry]
Encoding=UTF-8
Name=Puppy setup
Icon=/usr/share/pixmaps/puppy/puppy_config.svg
Comment=Configure your Puppy OS
Exec=wizardwizard
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=Control panel
