[Desktop Entry]
Encoding=UTF-8
Name=Puppy Setup
Icon=/usr/share/pixmaps/puppy/puppy_config.svg
Comment=Puppy Setup
Exec=wizardwizard
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=Puppy Setup
