[Desktop Entry]
Type=Application
Name=Xdelta file difference manager
Exec=xdelta_gui
Icon=/usr/share/pixmaps/puppy/file_compare.svg
Categories=X-Utility
GenericName=Xdelta
