[Desktop Entry]
Encoding=UTF-8
Name=Xfdiff-cut - Compare Files
Icon=xfdiff.png
Comment=Xfdiff-cut compare two files
Exec=xfdiff-cut
Terminal=false
Type=Application
Categories=Utility
GenericName=Xfdiff-cut
