[Desktop Entry]
Encoding=UTF-8
Name=Video Wizard
Icon=/usr/share/pixmaps/puppy/graphics.svg
Comment=Xorg Video Wizard
Exec=xorgwizard
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=Xorg Video Wizard
