[Desktop Entry]
Encoding=UTF-8
Name=Xsoldier - Arcade Game
Icon=xsoldier.xpm
Comment=Xsoldier space war
Exec=xsoldier
Terminal=false
Type=Application
Categories=Game
GenericName=Xsoldier
