[Desktop Entry]
Encoding=UTF-8
Name=pMusic podcast
Icon=/usr/share/pixmaps/pmusic_podcast.svg
Comment=Podcast manager
Terminal=false
Type=Application
Categories=Audio
GenericName=Podcast manager
Exec=pmusic_podcast
