[Desktop Entry]
Encoding=UTF-8
Name=Color Picker
Icon=select-color.svg
Comment=Pick color
Exec=wl_colpick
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=Color Picker
