[Desktop Entry]
Encoding=UTF-8
Name=Tray manager
Icon=/usr/share/pixmaps/puppy/desktop_tray_config.svg
Comment=Tray manager
Exec=/usr/local/jwm_config/tray
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=Tray manager
NoDisplay=true
