[Desktop Entry]
Encoding=UTF-8
Name=Desktop Settings
Icon=/usr/share/pixmaps/puppy/windows.svg
Comment=Desktop Settings
Exec=pdesktop
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=Desktop Settings
NoDisplay=false
