[Desktop Entry]
Encoding=UTF-8
Name=pNote
Icon=/usr/share/pixmaps/puppy/notes.svg
Comment=Desktop notepad
Exec=pnote
Terminal=false
Type=Application
Categories=X-Personal
GenericName=Desktop notepad
NoDisplay=true
