[Desktop Entry]
Encoding=UTF-8
Name=Frisbee
GenericName=Frisbee
Icon=/usr/share/pixmaps/frisbee.png
Comment=Frisbee network manager
Exec=frisbee
Terminal=false
Type=Application
Categories=Application;X-Network-connect;Network
NoDisplay=true
