[Desktop Entry]
Encoding=UTF-8
Name=Iceape mail and news
Icon=/usr/share/pixmaps/puppy/mail.svg
Comment=Iceape mail and news
Exec=mozmail
Terminal=false
Type=Application
Categories=X-Internet
GenericName=Iceape mail and news
