[Desktop Entry]
Encoding=UTF-8
Name=Iceape Address Book
Icon=/usr/share/pixmaps/puppy/book_address.svg
Comment=Iceape Address Book
Exec=mozaddressbook
Terminal=false
Type=Application
Categories=X-Personal
GenericName=Iceape Addressbook
