[Desktop Entry]
Encoding=UTF-8
Name=Iceape Composer html editor
Icon=/usr/share/pixmaps/puppy/edit_html.svg
Comment=Iceape Composer html editor
Exec=mozedit
Terminal=false
Type=Application
Categories=X-Document
GenericName=Iceape Composer html editor
