[Desktop Entry]
Encoding=UTF-8
Name=Iceape web browser
Icon=/usr/share/pixmaps/puppy/browser.svg
Comment=Iceape web browser
Exec=mozilla
Terminal=false
Type=Application
Categories=X-Internet
GenericName=Iceape web browser
