[Desktop Entry]
Encoding=UTF-8
Name=Gxine media player
Icon=gxine.png
Comment=Gxine media player
Exec=gxineshell
Terminal=false
Type=Application
Categories=Puppy;AudioVideo
GenericName=Gxine media player
