[Desktop Entry]
Encoding=UTF-8
Name=Pudd copy drive/partition
Icon=/usr/share/pixmaps/puppy/copy_disk.svg
Comment=Pudd copy drive/partition
Exec=Pudd
Terminal=false
Type=Application
Categories=Archiving
GenericName=Pudd copy drive/partition
