[Desktop Entry]
Version=1.0
Name=connman-ui-gtk
Comment=A full-featured GTK based trayicon UI for ConnMan
Exec=connman-ui-gtk
Terminal=false
Type=Application