/**
 *
 * This is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

/***********
 * general *
 ***********/
* {
	-gtk-icon-style: regular; /* disable symbolic icons */
}
.background {
	background-color: @theme_bg_color;
	color: @theme_fg_color;
}
*:disabled {
	text-shadow: 1px 1px @theme_base_color;
	-gtk-icon-effect: dim;
	color: #6f6f6f;
}
.flat:not(button):not(:hover):not(:checked) {
	border: 0;
}

/*************
 * selection *
 *************/
selection,
*:selected,
.view:selected {
	background: #A16E1E;
	color: white;
}
selection:focus,
*:selected:focus,
.view:selected:focus,
*:focus *:selected {
	background: #AE783C;
	color: white;
}
.rubberband,
.view.rubberband,
rubberband {
	background-color: alpha(@theme_selected_bg_color, 0.3);
	border: 1px solid @theme_selected_bg_color;
}

/***********
 * buttons *
 ***********/
button.flat {
	background-color: transparent;
	border: 1px solid transparent;
	padding: 3px;
}
button:not(.flat), .button {
	background-image: linear-gradient(to bottom right, #A8A8A8, #777777);
	border: 1.5px solid #ABABAB;
	border-radius: 5px;
	padding: 3px;
}
button:hover, .button:hover {
	background-image: linear-gradient(to bottom right, #949494, #E2AF77);
	border: 1px solid #8592a7;
	border-radius: 5px;
}
button:active, .button:active,
button:active:hover, .button:active:hover,
button.toggle:checked,
button.toggle:active:hover,
stackswitcher button:checked {
	background-image: linear-gradient(to bottom right, #BF892B, #e7effb);
	border: 1px solid #8592a7;
	border-radius: 5px;
}
button:focus, .button:focus {
	border: 1px dashed #B2B2B2;
	border-radius: 5px;
}
button:disabled, .button:disabled {
	color: #6f6f6f;
	background-image: linear-gradient(to bottom right, #e7e7e7, #afafaf);
	border: 1px solid #969696;
}
button.link {
	color: @link_color;
}
button.link > label {
	text-decoration-line: underline;
}
button.color * {
	border: 1px solid  #ABABAB;
	margin: 0 .3em;
	min-height: 1.2em;
}
button.toggle:checked:disabled  {
	border: 1px solid #969696;
}

/**************
 * scrollbars *
 **************/
scrollbar button {
	padding: .35em;
}

scrollbar.vertical slider {
	background-image: radial-gradient(ellipse at top, #FBF4E7, #D29856);
	min-height: 1.5rem;
	min-width: 0.7rem;
	border: 1px solid #707070;
	border-radius: 7px;
}
scrollbar.horizontal slider {
	background-image: radial-gradient(ellipse at left, #FBF4E7, #D29856);
	min-height: 0.7rem;
	min-width: 1.5rem;
	border: 1px solid #707070;
	border-radius: 7px;
}
scrollbar.vertical button.up {
	min-height: 0.5rem;
	-gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
scrollbar.vertical button.down {
	min-height: 0.5rem;
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
scrollbar.horizontal button.up {
	min-width: 0.5rem;
	-gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}
scrollbar.horizontal button.down {
	min-width: 0.5rem;
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

/**************
 * checkboxes *
 **************/
check, radio {
	margin: .3em .4em .3em .3em;
	min-height: 1em;
	min-width: 1em;
}
checkbutton:hover, radiobutton:hover {
	background-color: @theme_selected_bg_color;
	color: #0f2047;
}
checkbutton label, radiobutton label {
	padding-right: .5em;
}
check:disabled, radio:disabled {
	color: #6f6f6f;
}
check {
	-gtk-icon-source: url("assets/check1.svg");
}
check:checked {
	-gtk-icon-source: url("assets/check2.svg");
}

/******************
 * radion buttons *
 ******************/
radio,
.view.cellradio {
	-gtk-icon-source: -gtk-scaled(url("assets/radio1.svg"));
	margin: .3em .4em .3em .3em;
	min-height: 1em;
	min-width: 1em;
}
radio:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/radio2.svg"));
}

/****************
 * text entries *
 ****************/
entry {
	background: @theme_base_color;
	border-left: 2px solid #ABABAB;
	border-top: 2px solid #ABABAB;
	border-bottom: 1px solid #ABABAB;
	border-right: 1px solid #ABABAB;
	padding: .35em;
}

/****************
 * spin buttons *
 ****************/
spinbutton {
	background: @theme_bg_color;
	border: 1px solid  #ABABAB;
}
spinbutton * {
	background: @theme_base_color;
}
spinbutton button {
	background-image: linear-gradient(to bottom right, #dde2ea, #97a4b4);
	border: 1px solid #8592a7;
	border-radius: 3px;
}

/**************
 * comboboxes *
 **************/
combobox arrow {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
	color: @theme_fg_color;
	margin: -.1em;
	min-height: 1.5em;
	min-width: 1.5em;
}
combobox button:first-child arrow {
	border-image: url("assets/combobox-arrow-separator.png") 2 / 2px stretch;
	padding-left: .5em;
}

/*********
 * menus *
 *********/

menubar {
	border: 1px solid  #ABABAB;
	background-image: linear-gradient(to bottom, #A8A8A8, #777777);
	-GtkWidget-window-dragging: true;
	padding-left: 0.3em;
}
menubar decoration,
.popup decoration {
	border: 0;
}
menu {
	background: @theme_bg_color;
	border: 1px solid  #ABABAB;
	padding: 1px;
}
menubar > menuitem {
	margin: 0 0.5em 0 0;
}
menubar > menuitem:hover {
	background-color: #D2D4D2;
	border: 1px solid #989B98;
}
menuitem {
	margin: 1px;
	padding: 3px;
	border: 1px solid transparent;
	border-radius: 9px;
}
menuitem:hover {
	background-image: linear-gradient(to bottom right, #E5D7CC, #A06425);
	border: 1px solid #655748;
	border-radius: 9px;
	color: #0f2047;
}
menu separator {
	border-top: 1px solid  #6D6D6D;
	min-height: 1px;
	margin: .2em .4em;
}
menuitem > check,
menuitem > radio,
menuitem > arrow,
menuitem > image {
	min-height: 1em;
	min-width: 1em;
}
menuitem > arrow {
	font-size: 1.4em;
	margin: -.2em 0 -.2em 1em;
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

/*************
 * notebooks *
 *************/
notebook {
	padding: 0;
}
notebook.frame {
	border-left: 1px solid #ABABAB;
	border-top: 1px solid #ABABAB;
	border-bottom: 2px solid #ABABAB;
	border-right: 2px solid #ABABAB;
}
notebook header.top {
	padding-bottom: 2px;
}
notebook header.bottom {
	padding-top: 2px;
}
notebook header.left {
	padding-right: 2px;
}
notebook header.right {
	padding-left: 2px;
}
notebook tab,
notebook.frame > .frame {
	background: #ADADAD;
	padding: .3em .4em;
}
notebook header.top tab,
notebook.frame > .frame.top {
	border-top: 1px solid #979ca6;
	border-right: 1px solid #979ca6;
	border-left: 1px solid #979ca6;
	border-bottom: 1px solid white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-image: linear-gradient(to bottom right, #D9D9D9, #ADADAD);
	padding: 5px;
	margin-top: 2px;
}
notebook header.bottom tab,
notebook.frame > .frame.bottom {
	border-top: 1px solid white;
	border-right: 1px solid #979ca6;
	border-left: 1px solid #979ca6;
	border-bottom: 1px solid #979ca6;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-image: linear-gradient(to bottom right, #D9D9D9, #ADADAD);
	padding: 5px;
	margin-bottom: 2px;
}
notebook header.left tab,
notebook.frame > .frame.left {
	border-top: 1px solid #979ca6;
	border-right: 1px solid #979ca6;
	border-bottom: 1px solid #979ca6;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-image: linear-gradient(to bottom right, #D9D9D9, #ADADAD);
	padding: 5px;
	margin-left: 1px;
}
notebook header.right tab,
notebook.frame > .frame.right {
	border-top: 1px solid #979ca6;
	border-left: 1px solid #979ca6;
	border-bottom: 1px solid #979ca6;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-image: linear-gradient(to bottom right, #D9D9D9, #ADADAD);
	padding: 5px;
	margin-right: 1px;
}
notebook header.top tab:checked {
	background-image: linear-gradient(to bottom right, #ECECEC, #D5D5D5);
	border-top: 5px solid #BF892B;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-top: 0;
	margin-bottom: 0;
}
notebook header.bottom tab:checked {
	background-image: linear-gradient(to bottom right, #ECECEC, #D5D5D5);
	border-bottom: 5px solid #BF892B;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 0;
	margin-bottom: 0;
}
notebook header.left tab:checked {
	background-image: linear-gradient(to bottom right, #ECECEC, #D5D5D5);
	border-right: 5px solid #BF892B;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-top: 0;
	margin-left: 0;
}
notebook header.right tab:checked {
	background-image: linear-gradient(to bottom right, #ECECEC, #D5D5D5);
	border-left: 5px solid #BF892B;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 0;
	margin-right: 0;
}
notebook tab button {
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
}
notebook.frame > .frame {
	padding: .15rem;
}

/************
 * expander *
 ************/
expander arrow {
	min-width: 16px;
	min-height: 16px;
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
expander arrow:checked {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

/********************************
 * CSD header and window border *
 ********************************/
headerbar {
	background-color: #D2D4D2;
	border: 1px solid #989B98;
	border-radius: 3px;
	padding: 7px;
}
decoration {
	background-color: #D2D4D2;
	border: 1px solid #989B98;
}

/****************************
 * application notification *
 ****************************/
.app-notification {
	background-color: @theme_info_bg_color;
	border: 1px solid  #ABABAB;
	padding: 7px;
}
.app-notification border {
	border: 0;
}

/************
 * popovers *
 ************/
popover {
	border: 1px solid #989B98;
}
popover .flat {
	padding: 5px;
}

/***********
 * toolbar *
 ***********/
toolbar {
	border: 1px solid  #ABABAB;
	padding: 2px;
}
toolbar separator {
	border-image: url("assets/vertical-line.png") 1 / 1px stretch;
	margin: 5px;
	padding: 1px;
}
toolbar button {
	background: none;
	border: 1px solid transparent;
}
toolbar button:active,
toolbar button.toggle:checked {
	background-image: linear-gradient(to bottom right, #BF892B, #e7effb);
	border: 1px solid #A79285;
	border-radius: 3px;
}
toolbar button:disabled {
	background: none;
	border: 1px solid transparent;
}
/*************
 * statusbar *
 *************/
statusbar button {
	padding: 2px;
}
statusbar button:active:hover,
statusbar button.toggle:checked,
statusbar button.toggle:active:hover {
	padding: 3px 1px 1px 3px;
}
statusbar frame,
statusbar > label {
	border: 1px solid  #ABABAB;
}
statusbar frame {
	padding: 0;
}
statusbar frame > border {
	border: 0;
}
statusbar {
	margin: 0 -9px;
}

/*************
 * listboxes *
 *************/
list row {
	padding: 5px;
	border: 1px solid transparent;
}
list row:hover {
	background-color: @theme_selected_bg_color;
	color: #0f2047;
}

/**************
 * separators *
 **************/
separator.horizontal {
	border-image: url("assets/horizontal-line.png") 1 / 1px stretch;
	padding: 1px;
}
separator.vertical {
	border-image: url("assets/vertical-line.png") 1 / 1px stretch;
	padding: 1px;
}

/*********
 * paned *
 *********/
paned > separator {
	background: url("assets/paned-separator-vertical.png") no-repeat center;
	-gtk-icon-source: none;
	padding: 1px;
}
paned > separator:hover {
	background-color: shade(@theme_bg_color, 1.05);
}
paned.vertical > separator {
	background-image: url("assets/paned-separator-horizontal.png");
}

/**********
 * frames *
 **********/
frame > border {
	border-left: 1px solid #ABABAB;
	border-top: 1px solid #ABABAB;
	border-bottom: 2px solid #ABABAB;
	border-right: 2px solid #ABABAB;
	padding: 2px;
}
frame { /* LibreOffice combobox's dropdown */
	border: 1px solid  #ABABAB;
	padding: 3px;
}
box > frame {
	border: 0;
	padding: 0;
}
box > scrolledwindow.frame {
	border-left: 1px solid #ABABAB;
	border-top: 1px solid #ABABAB;
	border-bottom: 2px solid #ABABAB;
	border-right: 2px solid #ABABAB;
}

/**************
 * button box *
 **************/
buttonbox.horizontal button {
	margin: .2em .4em;
}
buttonbox.horizontal button:first-child {
	margin-left: 0;
}
buttonbox.horizontal button:last-child {
	margin-right: 0;
}
progressbar trough,
levelbar trough,
scale trough,
treeview.view.trough,
treeview.view.trough:selected,
scrollbar {
	background-image: linear-gradient(to right, #B1B1B1, #E9E9E9);
	border: 1px solid #9E9E9E;
	border-radius: 8px;
}

/*********
 * scale *
 *********/
scale {
	margin: 1px;
}
scale slider {
	background-image: radial-gradient(ellipse at top, #FBF4E7, #D29856);
}
scale slider:hover {
	background-image: radial-gradient(ellipse at top, #D29856, #FBF4E7);
}
scale slider:disabled,
scale trough:disabled {
	background-image: linear-gradient(to bottom right, #C7C7C7, #EEEEEE);
	border-image: url("assets/trough.png") 1 / 1px;
}
scale.horizontal trough {
	padding: 0 1.2em;
}
scale.vertical trough {
	padding: 1.2em 0;
}
scale.horizontal slider {
	min-height: 0.8em;
	min-width: 2.4em;
	border-left: 1px solid #A79685;
	border-right: 1px solid #A79785;
	border-radius: 5px;
}
scale.vertical slider {
	min-height: 2.4em;
	min-width: 0.8em;
	border-top: 1px solid #A79685;
	border-bottom: 1px solid #A79685;
	border-radius: 5px;
}
scale.horizontal mark indicator {
	background-color: @theme_selected_bg_color;
	min-height: 8px;
	min-width: 1px;
}
scale.vertical mark indicator {
	background-color: @theme_selected_bg_color;
	min-height: 1px;
	min-width: 8px;
}

/***************
 * color scale *
 ***************/
scale.color trough {
	padding: 0;
}
scale.color slider {
	background-color: transparent;
	border: 0;
}
scale.color.horizontal slider {
	background-image: radial-gradient(ellipse at left, #FBF4E7, #D29856);
	min-height: 14px;
	min-width: 16px;
}
scale.color.vertical slider {
	background-image: radial-gradient(ellipse at top, #FBF4E7, #D29856);
	min-height: 16px;
	min-width: 14px;
}

/***************
 * progressbar *
 ***************/
progressbar {
	font-size: .8em;
}
progressbar trough {
	background-image: linear-gradient(to bottom right, #B1B1B1, #E9E9E9);
	border: 1px solid #b3becc;
	border-right: 1px solid #fafafa;
	border-bottom: 1px solid #fafafa;
	padding: 1px;
}
progressbar progress,
treeview.view.progressbar {
	background-image: radial-gradient(ellipse at left, #FBF4E7, #D29856);
	border: 1px solid #8592a7;
	border-radius: 7px;
}
progressbar.horizontal,
progressbar.horizontal progress,
progressbar.horizontal trough {
	min-height: 1.2em;
}
progressbar.vertical,
progressbar.vertical progress,
progressbar.vertical trough {
	min-width: 1.2em;
}
treeview.view.trough {
	padding: 2px;
}

/************
 * levelbar *
 ************/
levelbar block {
	margin: 1px;
	padding: 3px;
}
levelbar block.filled {
	background-image: radial-gradient(ellipse at top, #FBF4E7, #D29856);
	border: 1px solid #8592a7;
}

/**********
 * switch *
 **********/
switch {
	background-image: linear-gradient(to bottom right, #B1B1B1, #E9E9E9);
	min-height: 2em;
	border: 1px solid #8792a3;
	border-radius: 15px;
}
switch slider {
	background-image: radial-gradient(ellipse at left, #FBF4E7, #E2AF77);
	border: 1px solid #8592a7;
	border-radius: 15px;
	padding: 3px;
}
switch slider:hover {
	background-image: linear-gradient(to bottom right, #957A5C, #E2AF77);
	border: 1px solid #8592a7;
	color: #0f2047;
}
switch:checked slider {
	background-image: radial-gradient(ellipse at right, #FBF4E7, #D29856);
}

/************
 * treeview *
 ************/
.view {
	background: @theme_base_color;
}
.sidebar,
scrolledwindow,
scrolledwindow.frame {
	padding: 2px;
}

/************
 * tooltips *
 ************/
tooltip,
tooltip.background  {
	background-color: @theme_tooltip_bg_color;
	border: solid 1px black;
	color: black;
}
tooltip *, .tooltip * {
	background-color: transparent;
}
tooltip decoration {
	border: 0;
}

/*************
 * calendars *
 *************/
calendar {
	padding: 2px;
}
calendar.header {
	background: @theme_bg_color;
}
calendar.view {
	border: 1px solid  #ABABAB;
}
calendar:indeterminate {
	color: alpha(@theme_fg_color, 0.4);
}
calendar.highlight {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

/************
 * infobars *
 ************/
.info {
	background-color: @theme_info_bg_color;
}
.warning {
	background-color: @theme_warning_bg_color;
}
.error {
	background-color: @theme_error_bg_color;
}
.info, .warning, .error {
	border: 1px solid  #ABABAB;
}

/***********************
 * file chooser dialog *
 ***********************/
dialog filechooser placessidebar.sidebar.frame .sidebar-row {
	padding: .3em 1em;
}
dialog filechooser .frame.sidebar .sidebar-row label {
	padding-left: .8em;
}
dialog filechooser placessidebar button {
	background: transparent;
	border: 0;
	padding: 0;
}
dialog filechooser placessidebar *:hover button {
	background-color: transparent;
}
dialog filechooser stack {
	background: @theme_bg_color;
}
dialog filechooser .path-bar .slider-button,
dialog filechooser .path-bar .slider-button:active {
	padding: 5px 0;
}
dialog filechooser .path-bar image {
	margin-right: 5px;
}
dialog filechooser .frame.sidebar separator {
	border-image: url("assets/horizontal-line.png") 1 / 1px stretch;
	margin: 3px 5px;
	padding: 1px;
}
dialog filechooser actionbar {
	border: solid 1px shade(@theme_bg_color, .6);
	margin-top: 5px;
	padding: 7px;
}
dialog filechooser frame {
	padding: 0;
}
dialog filechooser frame border {
	border: 0;
}

/*****************
 * color chooser *
 *****************/
dialog colorchooser colorswatch {
	border: 1px solid  #ABABAB;
	padding: 2px;
}
dialog colorchooser colorswatch.dark * {
	color: white;
}
dialog colorchooser colorswatch.light * {
	color: black;
}
dialog colorchooser #add-color-button {
}
dialog colorchooser colorswatch:selected * {
	background: transparent;
}
colorchooser .popover {
	background: @theme_bg_color;
}

/****************
 * print dialog *
 ****************/
printdialog > box > box {
	padding: 5px;
}
printdialog box {
	background: @theme_bg_color;
}
printdialog notebook stack {
	border: 1px solid  #ABABAB;
	padding: 2px;
}
printdialog paper {
	background-color: @theme_base_color;
	border: solid 1px shade(@theme_bg_color, .6);
}

/*********************
 * Spinner Animation *
 *********************/
@keyframes spin {
	to { -gtk-icon-transform: rotate(1turn); }
}
spinner {
	background-color: transparent;
	opacity: 0;
}
spinner:checked {
	opacity: 1;
	animation: spin 1s linear infinite;
}
