[Desktop Entry]
Encoding=UTF-8
Name=gmrun execute a command
Icon=/usr/share/pixmaps/puppy/execute.svg
Comment=execute a command
Exec=gmrun
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=gmrun
