[Desktop Entry]
Encoding=UTF-8
Name=SeaMonkey Composer html editor
Icon=/usr/share/pixmaps/puppy/edit_html.svg
Comment=SeaMonkey Composer html editor
Exec=mozedit
Terminal=false
Type=Application
Categories=X-Document
GenericName=SeaMonkey Composer html editor
