[Desktop Entry]
Encoding=UTF-8
Name=Abiword word processor
Icon=abiword_16.xpm
Comment=Abiword word processor
Exec=abiword
Terminal=false
Type=Application
Categories=WordProcessor
GenericName=Abiword word processor
