[Desktop Entry]
Encoding=UTF-8
Name=Wallpaper Setter
Icon=/usr/share/pixmaps/puppy/wallpaper.svg
Comment=Set backdrop image by Nathan
Exec=wallpaper
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Wallpaper setter
