!*font: -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-*-*
!*font: -misc-fixed-medium-r-normal--13-120-75-75-c-70-*-*
*font: -misc-fixed-medium-r-normal--14-130-75-75-c-70-*-*
!*font: -misc-fixed-medium-r-normal--15-140-75-75-c-90-*-*

Xft.dpi: 96
