[Desktop Entry]
Encoding=UTF-8
Name=Multiple Sound Card Wizard
GenericName=ALSA sound Wizard
Comment=Multiple Sound Card Wizard
Exec=Multiple-Sound-Card-Wizard
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/puppy/sound_config.svg
Categories=X-SetupWizard
NoDisplay=true
