[Desktop Entry]
Encoding=UTF-8
Name=e3 console editor
Icon=mini-edit.xpm
Comment=e3 console editor
Exec=rxvt -geometry 80x25 -e e3ne
Terminal=false
Type=Application
Categories=TextEditor
GenericName=e3 console editor
