[Desktop Entry]
Encoding=UTF-8
Name=Xcalc scientific calculator
Icon=mini-calc.xpm
Comment=Xcalc scientific calculator
Exec=xcalc
Terminal=false
Type=Application
Categories=Calculator
GenericName=Xcalc scientific calculator
