[Desktop Entry]
Encoding=UTF-8
Name=HardInfo hardware information
Exec=hardinfo
Icon=hardinfo.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System
GenericName=HardInfo
