# Accumulate list of modules to be loaded, for use by rc.network.

ENV{MODALIAS}=="?*", ACTION=="add", SUBSYSTEM=="?*", \
  PROGRAM="/usr/bin/test -s /etc/simple_network_setup/connections", \
  RUN+="/usr/local/simple_network_setup/build_udevmodulelist"
