# Accumulate list of modules to be loaded, for use by rc.network.

ENV{MODALIAS}=="?*", ACTION=="add", SUBSYSTEM=="?*", \
  PROGRAM="/bin/grep -sq '=sns' /root/.connectwizardrc", \
  RUN+="/usr/local/simple_network_setup/build_udevmodulelist"
