# Accumulate list of modules to be loaded, for use by rc.network.

ENV{MODALIAS}=="?*", ACTION=="add", SUBSYSTEM=="?*", \
  RUN+="/usr/local/simple_network_setup/build_udevmodulelist"
