# Accumulate names of modules to be loaded, for use by rc.snsnetwork.
#231022 Add more efficient rule, passing argument to build_udevmodulelist and renaming file so driver name becomes reliably available.

# This rules file should be 80+ for the "net|staging" rule to be reliable.
# If it does not find drivers, the "modprobe-rule" can be selected, instead. 
# To force use of modprobe to determine the driver name, uncomment the following GOTO line:
#GOTO="sns_modprobe_rule"

SUBSYSTEM=="net|staging", ACTION=="add", \
  RUN+="/usr/local/simple_network_setup/build_udevmodulelist $driver"
GOTO="sns_end"

LABEL="sns_modprobe_rule"
SUBSYSTEM=="pci|usb|ssb|bcma|pcmcia", ACTION=="add", \
  RUN+="/usr/local/simple_network_setup/build_udevmodulelist"

LABEL="sns_end"
