[Desktop Entry]
Encoding=UTF-8
Name=SeaMonkey Composer html editor
Icon=/usr/lib/seamonkey/chrome/icons/default/editorWindow.png
Comment=SeaMonkey Composer html editor
Exec=mozedit
Terminal=false
Type=Application
Categories=X-Document
GenericName=SeaMonkey Composer html editor
