[Desktop Entry]
Encoding=UTF-8
Name=SeaMonkey mail and news
Icon=/usr/lib/seamonkey/chrome/icons/default/messengerWindow.png
Comment=SeaMonkey mail and news
Exec=mozmail
Terminal=false
Type=Application
Categories=X-Internet
GenericName=SeaMonkey mail and news
