[Desktop Entry]
Encoding=UTF-8
Name=SeaMonkey web browser
Icon=/usr/lib/seamonkey/chrome/icons/default/main-window.png
Comment=SeaMonkey web browser
Exec=mozilla
Terminal=false
Type=Application
Categories=X-Internet
GenericName=SeaMonkey web browser
