[Desktop Entry]
Encoding=UTF-8
Name=SeaMonkey Addressbook
Icon=/usr/lib/seamonkey/chrome/icons/default/addressbookWindow.png
Comment=SeaMonkey Addressbook
Exec=mozaddressbook
Terminal=false
Type=Application
Categories=X-Personal
GenericName=SeaMonkey Addressbook
