[Desktop Entry]
Encoding=UTF-8
Name=SeaMonkey web browser
Icon=seamonkey16.xpm
Comment=SeaMonkey web browser
Exec=mozilla
Terminal=false
Type=Application
Categories=X-Internet
GenericName=SeaMonkey web browser
