[Desktop Entry]
Encoding=UTF-8
Name=Figaros Password Manager 2
Comment=Figaro password manager
Exec=fpm2
Icon=/usr/share/fpm2/pixmaps/logo.xpm
Terminal=false
Type=Application
Categories=X-Personal
