[Desktop Entry]
Encoding=UTF-8
Name=Firewall Setup
Icon=/usr/share/pixmaps/puppy/firewall.svg
Comment=Firewall Setup
Exec=firewall_ng
Terminal=false
Type=Application
Categories=Network
GenericName=Firewall Setup
