[Desktop Entry]
Encoding=UTF-8
Name=Gfontsel font viewer
Icon=mini-font.xpm
Comment=Gfontsel font viewer
Exec=gfontsel
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Gfontsel font viewer
