[Desktop Entry]
Encoding=UTF-8
Name=Dillo lightweight web browser
GenericName=Dillo
Comment=Ultra lightweight web browser
Icon=dillo.png
Exec=dillo
Terminal=false
Type=Application
Categories=X-Internet-browser
