[Desktop Entry]
Encoding=UTF-8
Name=fbpanel
Icon=fbpanel.png
Comment=fbpanel
Exec=fbpanel
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=fbpanel
