[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xfce Panel Manager
GenericName=Panel Manager
Comment=Customize Panel
Exec=xfce4-panel -c
Icon=xfce4-panel
Terminal=false
Categories=DesktopSettings
