name: kernel-kit

on:
  push:
    branches:
      - testing
    paths:
      - 'kernel-kit/**'
      - '!kernel-kit/patches/**'
      - '!kernel-kit/README'
      - '!kernel-kit/ZNOTES'
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build:
    if: github.repository == 'puppylinux-woof-CE/woof-CE' && github.ref == 'refs/heads/testing'
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        kernel-kit-config: [4.19.x-x86, 4.19.x-x86_64, 5.4.x-x86_64, 5.10.x-x86_64]
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y --no-install-recommends libelf-dev libssl-dev
          curl https://raw.githubusercontent.com/puppylinux-woof-CE/initrd_progs/master/pkg/w_apps_static/w_apps/vercmp.c | sudo gcc -x c -o /usr/local/bin/vercmp -
      - name: Build kernel
        run: |
          cd kernel-kit
          sudo cp -f ${{ matrix.kernel-kit-config }}-build.conf build.conf
          sudo -E ./build.sh
          sudo mkdir small-output
          sudo mv output/*.{sfs,tar.bz2}* small-output/
      - name: Upload kernel
        uses: actions/upload-artifact@v2
        with:
          name: kernel-kit-output-${{ matrix.kernel-kit-config }}
          path: kernel-kit/small-output
          retention-days: 14
