name: kernel-kit

on:
  push:
    branches:
      - testing
    paths:
      - 'kernel-kit/**'
      - '!kernel-kit/patches/**'
      - '!kernel-kit/README'
      - '!kernel-kit/ZNOTES'
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build:
    if: github.event_name != 'schedule' || (github.repository == 'puppylinux-woof-CE/woof-CE' && github.ref == 'refs/heads/testing')
    runs-on: ubuntu-20.04
    container:
      image: ${{ matrix.image }}
    strategy:
      matrix:
        include:
          - kernel-kit-config: 4.19.x-x86
            compiler: gcc
            image: ubuntu:focal
          - kernel-kit-config: 4.19.x-x86_64
            compiler: gcc
            image: ubuntu:focal
          - kernel-kit-config: 5.4.x-x86
            compiler: gcc
            image: ubuntu:focal
          - kernel-kit-config: 5.4.x-x86_64
            compiler: gcc
            image: ubuntu:focal
          - kernel-kit-config: 5.10.x-x86
            compiler: gcc
            image: debian:bullseye-slim
          - kernel-kit-config: 5.10.x-x86_64
            compiler: gcc
            image: debian:bullseye-slim
          - kernel-kit-config: 5.4.x-veyron-speedy
            compiler: gcc-arm-linux-gnueabihf
            image: ubuntu:focal
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          apt-get update -qq
          apt-get install -y --no-install-recommends curl wget ca-certificates git squashfs-tools xz-utils diffutils patch make flex bison python3 bc bzip2 kmod libelf-dev libssl-dev dwarves gcc ${{ matrix.compiler }}
          curl https://raw.githubusercontent.com/puppylinux-woof-CE/initrd_progs/master/pkg/w_apps_static/w_apps/vercmp.c | gcc -x c -o /usr/local/bin/vercmp -
      - name: Build kernel
        run: |
          cd kernel-kit
          cp -f ${{ matrix.kernel-kit-config }}-build.conf build.conf
          ./build.sh
          mkdir small-output
          mv `ls output/kernel_sources-*.sfs* output/*.tar* 2>/dev/null` small-output
      - name: Upload kernel
        uses: actions/upload-artifact@v2
        with:
          name: kernel-kit-output-${{ matrix.kernel-kit-config }}
          path: kernel-kit/small-output
          retention-days: 14