name: slackware64-15.0

on:
  schedule:
    - cron: '0 0 2,16 * *'

jobs:
  build:
    if: github.repository == 'puppylinux-woof-CE/woof-CE'
    uses: ./.github/workflows/build.yml
    with:
      repo: ${{ github.repository }}
      ref: ${{ github.ref }}
      arch: x86_64
      compat-distro: slackware64
      compat-distro-version: "15.0"
      kernel: 5.15.x
      artifact: ${{ github.workflow }}-${{ github.run_number }}
      retention: 15
