name: ubuntu-focal64

on:
  schedule:
    - cron: '0 0 2 * *'

jobs:
  build:
    if: github.repository == 'puppylinux-woof-CE/woof-CE'
    uses: ./.github/workflows/build.yml
    with:
      repo: ${{ github.repository }}
      ref: ${{ github.ref }}
      arch: x86_64
      compat-distro: ubuntu
      compat-distro-version: focal64
      kernel: 5.4.x
      artifact: ${{ github.workflow }}-${{ github.run_number }}
      retention: 30
      runner: 'ubuntu-20.04'
