/***********
 * general *
 ***********/


#svgheading {
	background-image: url("/tmp/heading.svg");
	background-repeat: no-repeat;
}
#svgsplash {
	background-image: url("/tmp/splash.svg");
	background-repeat: no-repeat;
}



/*************
 * Statusbar *
 *************/

statusbar frame,
status > label  {
	border-image: url("null.png");
}

statusbar {
	font-size: 10pt;
	margin: -10 -15;
}


#rightclick_menu_frame {
	border-image: url("assets/frame.png") 1 / 1px stretch;
}
